{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h2 class="card-title text-center">{% trans "Confirm E-mail Address" %}</h2>
            {% if confirmation %}

            {% user_display confirmation.email_address.user as user_display %}
            <p class="text-center">{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>

            <form id="account-confirm-form" method="post" action="{% url 'account_confirm_email' confirmation.key %}">
            {% csrf_token %}
                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">{% trans "Finish Sign Up" %}</button>
                <p class="card-text text-center my-3 align-text-bottom"><i class="fas fa-lock m-1 text-primary"></i>Making an account helps us protect legitimate submissions.</p>
            </form>

            {% else %}

            
            {% url 'account_email' as email_url %}

            <p>{% blocktrans trimmed %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    </div>
{% endblock %}