<!--Modify the existing login template https://github.com/pennersr/django-allauth/blob/master/allauth/templates/account/login.html-->
<!-- allows bootstrap in form-->
{% load i18n %}
{% load account socialaccount %}
{% load widget_tweaks %}
{% load static %}

<!-- Login component -->
<div class="auth-wrap col-sm-9 col-md-7 col-lg-5 mx-auto">
    <form id="login-form" class="login auth-form w-75" method="POST" action="{% url 'account_login' %}">
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div id="acc_already" class="text-left">{% trans "Already have an account?" %}</div>
        <h4 class="auth-title">{% trans "Log In" %}</h4>
        {% if login_error %}
            <div class="alert alert-danger text-left" role="alert">
                {{login_error}}
            </div>
        {% endif %}
        {% csrf_token %}
        <div class="form-group">
            {% for field in login_form %}
                {{ field.errors }}
                <div class="auth-form-label">{{ field.label }}</div>
                <div class="field-wrap">
                    {{ field|append_attr:"class:form-control my-2 auth-field login-field" }}
                </div>
                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            {% endfor %}
        </div>

        <div class="text-left"><a class="auth-link" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a></div>
        <div class="auth-btn-wrap">
            <button id="login-button" class="btn btn-lg btn-primary text-uppercase auth-btn" type="submit">{% trans "log in" %}</button>
        </div>

        <a class="auth-link to-auth-link" href="#signup-form">{% trans "No Account? Sign up."%}</a>

    </form>
    {% comment %} google code comment {% endcomment %}
    {% comment %} <a href="{% provider_login_url 'google' %}"><button class="btn btn-outline-primary mt-5 social-btn w-75"><img class="mr-3 mt-0" src="{% static 'img/google-icon.svg' %}" width="16" height="16" alt="Google icon logo"/>{% trans "Continue with Google" %}</button></a> {% endcomment %}

</div>
