{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
          <div class="col-sm-9 col-md-9 col-lg-9 mx-auto">
            <div class="card card-signin my-5">
              <div class="card-body">
                <h4 class="text-center">{% trans "Password Reset" %}</h4>
    
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                
                <p class="text-center">{% blocktrans %}We have sent you an e-mail.</p>
                <p class="text-center">Please contact us at <a href="mailto:representableteam@gmail.com">representableteam@gmail.com</a> if you do not receive it within a few minutes.{% endblocktrans %}</p>
              </div>
            </div>
          </div>
        </div>
        </div>
{% endblock %}