{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load widget_tweaks %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}


{% block content %}
<div class="container">
<div class="row">
  <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="card card-signin my-5">
      <div class="card-body">
        <h4 class="text-center">{% trans "Change your password" %}</h4>
        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">{% trans 'Change Password' %}</button>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
