{% extends "account/base.html" %}
<!--Modify the existing password reset template https://github.com/pennersr/django-allauth/blob/master/allauth/templates/-->

{% load i18n %}
{% load account %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="row row-content">
  <div class="col">
    <h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
      {% csrf_token %}
      <div class="form-group">
          {% for field in form %}
          <div class="field-wrap">
              {{ field.errors }}
              {{ field.label_tag }} {{ field|append_attr:"class:form-control" }}
              {% if field.help_text %}
              <p class="help">{{ field.help_text|safe }}</p>
              {% endif %}
          </div>
          {% endfor %}
      </div>
      <button class="btn btn-primary" type="submit">{% trans 'Reset My Password' %}</button>
    </form>

    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
  </div>
</div>
{% endblock %}
