<!-- adaptation of official allauth code https://github.com/pennersr/django-allauth/blob/master/allauth/templates/account/signup.html-->
<!-- allows bootstrap in form-->
{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
    {% if redirect_field_value %}
    <div class="row">
        <div class="col redirect-banner">
            <div class="alert alert-info" role="alert">
                {% trans "Before you start mapping..." %}
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row">
        {% include './signup.html'%}

        <div class="auth-divider-wrap col-lg-1">
            <div class="auth-divider d-none d-lg-block"></div>
        </div>

        {% include './login.html'%}
    </div>

</div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static 'main/js/auth.js' %}"></script>
{% endblock %}
