<!-- adaptation of official allauth code https://github.com/pennersr/django-allauth/blob/master/allauth/templates/account/signup.html-->
<!-- allows bootstrap in form-->
{% extends "account/base.html" %}
{% load widget_tweaks %}

{% load i18n %}

{% block content %}
<div class="container">
<div class="row">
  <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="card card-signin my-5">
      <div class="card-body">
        <h4 class="card-title text-center">Sign Up</h4>
        <p class="card-text text-center"><i class="fas fa-search text-primary m-1"></i>Find your community.</p>
        <p class="card-text text-center"><i class="fas fa-pencil-ruler text-primary m-1"></i>Draw it on a map.</p>
        <p class="card-text text-center"><i class="fas fa-paper-plane text-primary m-1"></i>Submit it!</p>
        <form id="sign-up-form" class="form-signin signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          <div class="form-group">
            {% for field in form %}
            <div class="field-wrap">
              {{ field.errors }}
              {{ field|append_attr:"class:form-control my-2" }}
              {% if field.help_text %}
              <p class="help">{{ field.help_text|safe }}</p>
              {% endif %}
            </div>
            {% endfor %}
          </div>
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">{% trans "Sign Up" %}</button>
          <p class="card-text text-center my-3 align-text-bottom">Already have an account? <a class="log-in-started" href="/accounts/login">Log In</a></p>
          <p class="card-text text-center my-3 align-text-bottom"><i class="fas fa-lock m-1 text-primary"></i>Making an account helps us protect legitimate submissions.</p>

        </form>

      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
