<!-- adaptation of official allauth code https://github.com/pennersr/django-allauth/blob/master/allauth/templates/account/signup.html-->
<!-- allows bootstrap in form-->
{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    <div class="row">
        <div class="col redirect-banner">
            <div class="alert alert-info" role="alert">
                {% trans "Let's have you log in before you start..." %}
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <!-- Login component -->
        {% include './login.html'%}


        <div class="auth-divider-wrap col-lg-1">
            <div class="auth-divider"></div>
        </div>

        <!-- Signup component -->
        {% include './signup.html'%}

    </div>

</div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static 'main/js/auth.js' %}"></script>
{% endblock %}