{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row row-content">
    <div class="col">
      <h2 class="text-center">Organization Home</h2>
      <p class="text-center"> Fill this with organization details and helpful links.
        <!--Ideas: - link to form to edit organization details
          - link to form to add admin users, mod users, and whitelist users
          - link to moderating page -->
               </p>
      </div>
  </div>
</div>
{% endblock %}
