{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row row-content">
    <div class="col">
      {% if org_exists %}
        <h2 class="">{{ org_name }}</h2>
        <p>{{ org_description }}</p>
        <p>{{ org_ext_link }}</p>
      {% else %}
        <h2 class="text-center">Organization not found!</h2>
        <p class="text-center">Check the URL or search for an organization.</p>
      {% endif%}

      </div>
  </div>
</div>
{% endblock %}
