{% extends 'main/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="container">
    <div class="row mt-5">
      <div class="col">
        <h4>
          {% trans "Dashboard" %}
        </h4>
        <hr>
      </div>
    </div>
    <div class="row pb-3">
      <div class="col-sm">
        <div class="card shadow-sm h-100">
          <div class="card-body">
            <h5>
              {% trans "Organizations" %}
            </h5>
            {% if org_list %}
            <ul class="list-group my-3">
              {% for org in org_list %}
              <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ org.name }}
                <a class="btn btn-primary" href="{% url 'main:home_org' org.slug  org.id %}" role="button">Manage <i class="fa fa-arrow-circle-right"></i></a>
              </li>
              {% endfor %}
              {% else %}
              <p class="my-3">{% blocktrans %} You're currently not part of any organizations.
                Ask someone to add you to their organization or create a new one below. {% endblocktrans %}</p>
              {% endif %}
            </ul>
            <div class="text-center">
            <a class="btn btn-outline-primary" href="{% url 'main:create_org' %}" role="button">{% trans "Create New" %}</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card shadow-sm h-100">
          <div class="card-body">
            <h5>
              {% trans "Quick Links" %}
            </h5>
            <hr>
            <div class="text-center">
          <a class=" btn btn-block btn-outline-primary" href="{% url 'main:create_org' %}" role="button">{% trans "Create Organization" %}</a>
              <a class="btn btn-block btn-outline-primary" href="{% url 'main:entry' %}" role="button">{% trans "Create Entry" %}</a>
              <a class="btn btn-block btn-outline-primary" href="{% url 'main:review' %}" role="button">{% trans "My Communities" %}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
     <div class="row pb-3">
      <div class="col-sm">
        <div class="card shadow-sm h-100">
          <div class="card-body">
            <h5>
              {% trans "Account Settings" %}
            </h5>
            <hr>
            <h6>{% trans "Reset password" %}</h6>
            <p>{% trans "Reset your password by pressing on the following button. You will receive an email with the appropiate instructions." %}</p>
            <a href="{% url 'account_reset_password' %}" class="btn btn-outline-primary">{% trans "Reset password" %}</a>
            <div id="tracking-settings">
            <hr>
            <h6>{% trans "Cookie Settings" %}</h6>
            <p>{% trans "We use Mixpanel and Google Analytics to collect anonymized information about users' website usage. We use this information to improve our website experience. You can control whether we have access to this information or not." %}</p>
            <div id="consent-settings-opt-in">
              {% blocktrans %}
              <p>Based on our records, you have <strong>opted in</strong> for anonymized information collection. To <strong>opt out</strong>, press on the button below.</p>
              {% endblocktrans %}
              <button onclick="setConsentFalse();" class="btn btn-outline-primary my-1">Opt Out</button>
            </div>
            <div id="consent-settings-opt-out">
              {% blocktrans %}
              <p>Based on our records, you have <strong>opted out</strong> of anonymized information collection. To <strong>opt in</strong>, press on the button below.</p>
              {% endblocktrans %}
              <button onclick="setConsentTrue();" class="btn btn-outline-primary my-1">Opt In</button>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  {% endblock %}
