{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row row-content">
    <div class="col">
      <h1 class="mt-3">Manage Organizations</h1>
      <!-- This page contains information about your organizations.
        This is also where the user can create a new organization. -->
      <!-- <h5 class="m-3"> Manage your Representable.org organizations. </h5> -->
        <!--Ideas: - link to form to edit organization details
          - link to form to add admin users, mod users, and whitelist users
          - link to moderating page -->
        {% if has_organizations %}
          <p class="text">Manage your organizations by selecting one below.</p>
          <ul class="list-group my-3">
            {% if admin_orgs %}
              {% for name, link in admin_orgs.items%}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  {{ name }}
                  <span class="badge badge-primary badge-pill float-left ">Admin</span>
                  <a class="btn btn-primary" href="/org/{{ link }}" role="button">See Organization <i class="fa fa-arrow-circle-right"></i></a>
                </li>
              {% endfor %}
            {% endif %}
            {% if moderator_org_names %}
              {% for name, link in admin_orgs.items%}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  {{ name }}
                  <span class="badge badge-secondary badge-pill float-left ">Moderator</span>
                  <a class="btn btn-primary" href="/org/{{ link }}" role="button">See Organization <i class="fa fa-arrow-circle-right"></i></a>
                </li>
              {% endfor %}
            {% endif %}
          </ul>
        {% else %}
          <p class="my-3">You're currently not part of any organizations.
            Ask someone to add you to their organization or create a new one below.</p>
          <!-- <a class="btn btn-primary" href="/org/create" role="button">Create New Organization</a> -->
        {% endif %}
        <div class="row row-content">
          <div class="mx-auto text-center" style="display:inline-block;">
            <a class="btn btn-primary" href="/org/create" role="button">Create New Organization</a>
          </div>
        </div>
    </div>
  </div>
{% endblock %}
