{% load static %}
<!doctype html>
<!--adaptation of https://getbootstrap.com/docs/4.3/getting-started/introduction/#starter-template-->
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static '/bootstrap-4.3.1/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/fonts/Inter/inter.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">


    <title>Districter</title>
  </head>
  <body>
    <!--adapted from https://getbootstrap.com/docs/4.3/components/navbar/ -->
    <!-- As a link -->
    <nav class="navbar">
      <a class="navbar-brand" href="#">Districter</a>
    </nav>
    <div class="container-fluid">
    {% block content %}
    {% endblock %}
    </div>
    <!-- Optional JavaScript -->
    <script src="{% static '/bootstrap-4.3.1/js/bootstrap.min.js'%}"</script>
  </body>
  <footer class="footer">
      <div class="container">
  </footer>
</html>
