{% extends 'starter/base.html' %}
{% block content %}
<h1 class="di-title">Districter</h1>
<h5 class="di-subtitle">A citizen tool to end Gerrymandering</h5>

<div class="container">
  <ol>
    <h4><li>Meet the Team</li></h4>
      <ul>
        <li>Somya Arora: somyaa@princeton.edu</li>
        <li>Kyle Barnes: ktbarnes@princeton.edu</li>
        <li>Preeti Iyer: psiyer@pinceton.edu</li>
        <li>Lauren Johnston: lej2@princeton.edu</li>
        <li>Theodor Marcu: tmarcu@princeton.edu (Leader)</li>
      </ul>

    <br>

    <h4><li>Design Document</li></h4>
      <a href="https://drive.google.com/file/d/1CO9H_PkzlHAbrKEpgtxJ89WhwrkeoaYZ/view?usp=sharing">Check out our design document!</a>
    <br>
    <br>
    <h4><li>Advisor</li></h4>
      <ul>
        <li>Christopher Moretti</li>
      </ul>
  </ol>
<div>
{% endblock %}
