{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row pt-3">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url 'main:dashboard' %}">Dashboard</a></li>
          <li class="breadcrumb-item"><a href="{% url 'main:home_org' object.organization.slug  object.organization.pk %}">Partners / {{ object.organization.name }}</a></li>
          <li class="breadcrumb-item active" aria-current="page">Campaigns / {{ object.name }}</li>

        </ol>
      </nav>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-sm">
      <div class="card shadow-sm h-100">
        <div class="card-body">
          <h5>
            {{ object.name}}
          </h5>
          <hr>
          <p> State:
            <span class="badge badge-secondary">{{object.state}}</span>

          </p>
          <p> Description: {{ object.description }} </p>
          {% if is_org_admin %}
          <a href="{% url 'main:update_campaign' object.organization.slug  object.organization.pk object.pk %}" role="button">Edit Details</a>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="card shadow-sm my-3">
        <div class="card-body">
          <h5>Getting Started</h5>
          <ul class="list-group my-3">
            {% if is_org_admin or is_org_moderator %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div>
                <h5><span class="badge badge-secondary"><i class="fas fa-share-alt"></i></span> Gather Submissions</h5>
                <p>Gather submissions for this campaign! Copy this link and share it with people you'd like to contribute to this campaign: <a href="{% url 'main:campaign_page' object.slug %}">representable.org{% url 'main:campaign_page' object.slug %}</a></p>
              </div>
              <a class="btn btn-primary" href="{% url 'main:campaign_page' object.slug %}" role="button">View <i class="fa fa-arrow-circle-right"></i></a>
            </li>

            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div>
                <h5><span class="badge badge-secondary"><i class="fas fa-flag"></i></span> Moderate Submissions</h5>
                <p>Review communities submitted to this campaign.</p>
              </div>
              <a class="btn btn-primary" href="{% url 'main:review_org' object.organization.slug  object.organization.pk object.slug %}" role="button">Moderate <i class="fa fa-arrow-circle-right"></i></a>
            </li>
            {% endif %}


            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div>
                <h5><span class="badge badge-secondary"><i class="fas fa-map-marker-alt"></i></span> View/Share Your Map</h5>
                <p>Your campaign's map is live at: <a href="{% url 'main:partner_map' object.organization.slug object.slug %}">representable.org{% url 'main:partner_map' object.organization.slug object.slug %}</a></p></div>
                <a class="btn btn-primary" href="{% url 'main:partner_map' object.organization.slug object.slug %}"  role="button">View <i class="fa fa-arrow-circle-right"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row pb-3">
    <div class="col-sm">
      <div class="card shadow-sm h-100">
        <div class="card-body">
          <h5>
            Delete Campaign
          </h5>
          <hr>
          <p>Press 'Delete' if you're sure you want to permanently delete this campaign. Warning: you won't be able to undo this.</p>
          {% if is_org_admin %}
            <button type="submit" class="btn btn-danger", name="Delete">Delete</button>
          {% endif %}

        </div>
      </div>
    </div>
  </div> -->
</div>

{% endblock %}
