autopep8==2.3.2
boto3==1.40.53
dj-database-url==0.5.0
Django==5.2.7
django-allauth==65.12.1
django-ckeditor==6.7.3
django-extensions==4.1
django-heroku==0.3.1
django-import-export==4.3.10
django-leaflet==0.32.0
django-phone-field==1.8.0
django-redis==4.12.1
django-redis-cache==3.0.1
django-storages==1.11.1
django-taggit==6.1.0
django-widget-tweaks==1.4.3
geojson==3.2.0
geojson-rewind==1.1.0
gunicorn==23.0.0
google-api-python-client==2.184.0
google-auth==2.41.1
jwt
numpy==1.26.4 # > 2 will cause numpy.dtype size changed, may indicate binary incompatibility. Expected 96 from C header, got 88 from PyObject
openpyxl
pandas
polib==1.1.1
pillow==12.0.0
psycopg2
pytz==2025.2
PyJWT==2.10.1
redis==3.5.3
requests
reverse-geocoder==1.5.1
scipy
shapely==2.0.7
sqlparse==0.5.3
whitenoise==6.9.0