appnope==0.1.0
aspy.yaml==1.3.0
astroid==2.2.5
backcall==0.1.0
certifi==2019.3.9
cfgv==2.0.1
chardet==3.0.4
decorator==4.4.0
defusedxml==0.5.0
dj-database-url==0.5.0
Django==2.2.4
django-allauth==0.39.1
django-appconf==1.0.3
django-bmemcached==0.2.4
django-crispy-forms==1.7.2
django-filter==2.3.0
django-heroku==0.3.1
django-lazysignup==2.0.0
django-leaflet==0.24.0
django-redis==4.10.0
django-redis-cache==2.0.0
django-select2==6.3.1
django-widget-tweaks==1.4.3
djangorestframework==3.11.0
Faker==1.0.5
geojson==2.4.1
gunicorn==19.9.0
identify==1.4.8
idna==2.8
importlib-metadata==1.3.0
ipykernel==5.1.2
ipython==7.8.0
ipython-genutils==0.2.0
isort==4.3.21
jedi==0.15.1
jupyter-client==5.3.4
jupyter-core==4.6.0
lazy-object-proxy==1.4.1
Markdown==3.2.2
mccabe==0.6.1
more-itertools==8.0.2
nodeenv==1.3.3
oauthlib==3.0.1
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
pre-commit==1.20.0
prompt-toolkit==2.0.10
psycopg2==2.7.6
psycopg2-binary==2.7.7
ptyprocess==0.6.0
pycodestyle==2.5.0
Pygments==2.4.2
pylibmc==1.6.0
pylint==2.3.1
python-binary-memcached==0.28.0
python-dateutil==2.8.0
python3-openid==3.1.0
pytz==2018.9
PyYAML==5.2
pyzmq==18.1.0
redis==3.2.1
requests==2.21.0
requests-oauthlib==1.2.0
reverse-geocoder==1.5.1
scipy==1.3.3
selenium==3.141.0
Shapely==1.6.4.post2
six==1.12.0
sqlparse==0.3.0
text-unidecode==1.2
toml==0.10.0
tornado==6.0.3
traitlets==4.3.3
typed-ast==1.4.0
typing==3.6.6
uhashring==1.1
urllib3==1.24.2
virtualenv==16.7.9
wcwidth==0.1.7
whitenoise==4.1.2
wrapt==1.11.2
django-phone-field==1.8.0
django-import-export==2.2.0
