{% extends "main/base.html" %}
<!--Adapted from https://docs.djangoproject.com/en/2.1/topics/auth/default/#django.contrib.auth.forms.UserCreationForm-->

{% block content %}
<div class="container-fluid">
<div class="row row-content">
  <div class="col-12">
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<div class="form-group">
  <!--https://docs.djangoproject.com/en/dev/topics/forms/#customizing-the-form-template-->
  {% for field in form %}
  <div class="field-wrap">
      {{ field.errors }}
      <input class="form-control" id="{{ field.id_for_label }}" maxlength="30" name="{{ field.html_name }}" placeholder="{{ field.html_name }}" type="text" />
      {% if field.help_text %}
      <p class="help">{{ field.help_text|safe }}</p>
      {% endif %}
  </div>
{% endfor %}
</div>

<button type="submit" class="btn btn-outline-primary" value="login">Submit</button>
<input type="hidden" name="next" value="{{ next }}">
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Forgot password?</a></p>

</div>
</div>
</div>
{% endblock %}
