{% extends "main/base.html" %}
{% load widget_tweaks %}

<!--Adapted from https://docs.djangoproject.com/en/2.1/topics/auth/default/#django.contrib.auth.forms.UserCreationForm-->

{% block content %}
<div class="container-fluid">
<div class="row row-content">
  <div class="col-12">
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">{% csrf_token %}
  <div class="form-group">
    {% for field in form %}
    <div class="field-wrap">
        {{ field.errors }}
        {{ field.label_tag }} {{ field|append_attr:"class:form-control" }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
        </div>
    {% endfor %}
  </div>

    <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
    <input type="hidden" name="next" value="{{ next }}">
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Forgot password?</a></p>
</div>
</div>
</div>
{% endblock %}
