{% load socialaccount %}

{% get_providers as socialaccount_providers %}
{% load static %}

<div class="row">
{% for provider in socialaccount_providers %}
{% comment %} {% if provider.id == "openid" %}
{% for brand in provider.get_brands %}
<li>
  <a title="{{brand.name}}" 
     class="socialaccount_provider {{provider.id}} {{brand.id}}" 
     href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
     >{{brand.name}}</a>
</li>
{% endfor %}
{% endif %} {% endcomment %}
<div class="col-12 col-lg-3 p-0">
  <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}}" 
     href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}"><button class="btn btn-outline-primary my-2 connect-social-btn"><img class="mr-3 mt-0" src="{% static 'img/google-icon.svg' %}" width="16" height="16" alt="Google icon logo"/>Connect {{provider.name}}</button></a>
</div>
{% endfor %}
</div>