{% extends "main/base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<script type="text/javascript">
  var state = "{{state}}";
  mixpanel.track("Drive Page Loaded",
  {
    "drive_id": drive_id,
    "drive_name": drive_name,
    "organization_id": organization_id,
    "organization_name": organization_name,
  }
  );
</script>
<div id="home-bg" class="container-fluid">
  <!-- Illustration -->
  <!-- <img id="home-bg" src="{% static 'img/home-bg.png' %}" alt="light map background"></img> -->
  <div class="row row-hero row-eq-height mt-sm-5 mx-0">
    <div class="col-12 mobile-padding-x mobile-padding-top text-center">
      <img class="w-62 align-bottom" src="{% static 'img/home-people.svg' %}" alt="people together holding shapes"> </img>
      <div class="text-center">
        <span id="home-mapping-am" class="d-block font-large-mobile font-weight-bold dark-blue-text">{% trans "MAPPING AMERICA" %}</span>
        <span class="d-block h1 btn-ls-md font-weight-light font-medium-mobile dark-blue-text">{% blocktrans trimmed %} One <b>community</b> at a time. {% endblocktrans %}</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center my-auto pr-0">
      <a id="get-started-btn" class="text-center font-medium-mobile btn btn-primary btn-lg py-3 font-weight-bold btn-ls-lg mt-3" href="{% url 'main:entry' drive=object.slug %}{{object.state|lower}}"  role="button">{% trans "GET STARTED" %}</a>
    </div>
  </div>
  </div>
  <div class="container-fluid bg-white">
    <div class="container mb-5">
      <div class="row gray-text pt-md-5 px-md-5 mt-5">
        <div class="col-2">
          <img class="card-img-top img-fluid m-2 w-100 mx-auto mb-md-4 pt-3 pt-md-0" src="{% static 'img/home-shapes-1.svg' %}" alt="two light shapes"></img>
        </div>
        <div class="col-4 my-auto">
          <h1 class="font-medium-mobile font-weight-bold">{% blocktrans trimmed %} Describe <br>Your Community {% endblocktrans %}</h1>
          <h3 class="font-small-mobile font-weight-light">{% trans "by identifying shared interests and community needs." %}</h3>
        </div>
        <div class="col-2">
          <img class="card-img-top img-fluid m-2 w-100 mx-auto mb-md-4 pt-3 pt-md-0" src="{% static 'img/home-shapes-3.svg' %}" alt="two light shapes"></img>
        </div>
        <div class="col-4 my-auto">
          <h1 class="font-medium-mobile font-weight-bold">{% blocktrans trimmed %} Draw a <br> Community Map {% endblocktrans %}</h1>
          <h3 class="font-small-mobile font-weight-light">{% trans "by choosing units that make up your community." %}</h3>
        </div>
      </div>
      <div class="row gray-text pb-md-5">
        <div class="col-3"></div>
        <div class="col-2">
          <img class="card-img-top img-fluid m-2 w-100 mx-auto mb-md-4 pt-3 pt-md-0" src="{% static 'img/home-shapes-2.svg' %}" alt="two light shapes"></img>
        </div>
        <div class="col-4 my-auto">
          <h1 class="font-medium-mobile font-weight-bold">{% blocktrans trimmed %} Share <br>Your Map {% endblocktrans %}</h1>
          <h3 class="font-small-mobile font-weight-light">{% trans "as public input for map makers to use when drawing new voting districts." %}</h3>
        </div>
        <div class="col-3"></div>
      </div>
    </div>
  </div>
  <div id="state-info-gradient" class="container-fluid dark-gray-text">
    <div class="row">
      <a class="mx-auto btn btn-primary btn-lg btn-canvas my-5 btn-ls-md" href="{% url 'main:entry' drive=object.slug %}{{object.state|lower}}" role="button">{% trans "NEXT" %}</a>
    </div>
  </div>
  <div id="state-info-bg2" class="container-fluid dark-gray-text px-5">
  {% if object.slug == "tell-us-about-your" %}
    <div class="row px-md-5">
    {% include './dane-county-page.html' %}
    </div>
  {% else %}
    <div class="row" style="padding-bottom: 20px">
      <div class="col mx-5">
        <h1 class="text-center font-weight-light">{{object.name}}</h1>
        <p class="text-center">{% trans "Organized by " %}<a href="{% url 'main:partner_page' object.organization.slug %}">{{object.organization}}
          {% if object.organization.verified %}
            <img class="img-fluid verified-logo" src="{% static 'img/verified.svg' %}" alt="verified check mark"></img>
          {% endif %}
        </a> in {{drive.state}}</p>
        <hr class="line-break">

        {% if object.description != "A mapping drive for communities of interest" %}
          <p class="mx-lg-5 px-lg-5 pb-lg-4 text-break">{{object.description}}</p>

        {% endif %}
        <p class="mx-lg-5 px-lg-5 pb-lg-4"> {% blocktrans trimmed %}
                This organization has partnered with Representable to allow people to draw communities of interest and share information about the interests and needs in those communities.
                <br><br>Making this information available encourages mapmakers to take these communities into account during redistricting, in order to avoid gerrymandering and the “packing and cracking” of marginalized groups. </p>
                {% endblocktrans %}
      </div>
    </div>
    {% if object.opt_redist_title != "" %}
      <div id="state-info">{% include '../state_info.html' with drive_obj=object state_obj=state edited=True logo=object.organization.logo%}</div>
    {% else %}
      {% if state %}
        <div id="state-info">{% include '../state_info.html' with drive_obj=object state_obj=state edited=False logo=object.organization.logo%}</div>
      {% endif %}
    {% endif %}
  {% endif %}
  <div class="row">
    <div class="col text-center mb-4">
      <a id="drive-get-started-btn" class="btn btn-primary btn-lg my-5 drive-new-entry btn-ls-md" href="{% url 'main:entry' drive=object.slug %}{{object.state|lower}}" role="button">GET STARTED</a>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static 'main/js/components/dropdown.js' %}"></script>
{% endblock %}
