{% extends 'main/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block head %}
{{ form.media.css }}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10 col-md-9 col-lg-7 mx-auto">
            <div class="card card-signin my-5 px-4">
                <div class="card-body">
                    <h5 class="card-title text-left">
                        Create an Organization
                      </h5>
                      <form role="form" id="CreateOrg" method="post" enctype="multipart/form-data">{% csrf_token %}

                        <div class="form-group">
                        <div class="row">
                            <div class="fieldWrapper col-3 my-auto">
                                <div class="image-upload">
                                    <label for="id_logo">
                                        <img class="h-100 w-100" id="blah" src="{% static 'img/upload_photo.png' %}" alt="Upload Image"> </img>
                                    </label>
                                    {{ form.logo|append_attr:"onchange:readURL(this);" }}
                                </div>
                            </div>
                            <div class="fieldWrapper col-9 my-auto">
                                {{ form.name.label_tag }}
                                <span style="color: red;">*</span>
                                {{ form.name|append_attr:"class:form-control survey-field" }}
                                {% if form.name.help_text %}
                                <p class="help">{{ form.name.help_text|safe }}</p>
                                {% endif %}
                            </div>
                        </div>
                        {{ form.logo.errors }}
                        {{ form.name.errors }}
                        <div class="fieldWrapper">
                            {{ form.description.errors }}
                            {{ form.description.label_tag }} 
                            {{ form.description|append_attr:"class:form-control survey-field" }}
                            {% if form.description.help_text %}
                                <p class="help">{{ form.description.help_text|safe }}</p>
                            {% endif %}
                        </div>
                        <div class="fieldWrapper">
                            {{ form.ext_link.errors }}
                            {{ form.ext_link.label_tag }} 
                            {{ form.ext_link|append_attr:"class:form-control survey-field" }}
                            {% if form.ext_link.help_text %}
                                <p class="help">{{ form.ext_link.help_text|safe }}</p>
                            {% endif %}
                        </div>
                        <div class="fieldWrapper">
                            {{ form.states.errors }}
                            {{ form.states.label_tag }} 
                            {{ form.states|append_attr:"class:form-control survey-field" }}
                            {% if form.states.help_text %}
                                <p class="help">{{ form.states.help_text|safe }}</p>
                            {% endif %}
                        </div>
                        <div class="fieldWrapper">
                            <div class="form-check form-check-inline">
                                {{ form.government.errors }}
                                {{ form.government.label_tag }} {{ form.government }}
                                {% comment %} {{ field.label_tag }} {{ field|append_attr:"class:form-control" }}  {% endcomment %}
                                {% if form.government.help_text %}
                                <p class="help">{{ form.government.help_text|safe }}</p>
                                {% endif %}
                            </div>
                        </div>
                      </div>
                      <div style="display: inline-block;" class="mx-10">
                          <button id="save" form="CreateOrg" type="submit" class="btn btn-primary" value="Submit">Submit</button>
                          {% comment %} value="Upload" {% endcomment %}
                      </div>
                      </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block script %}
{{ form.media.js }}
<script type="text/javascript" src="{% static 'main/js/drive.js' %}"></script>
{% endblock %}
