{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row pt-3">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'main:index' %}">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url 'main:dashboard' %}">Dashboard</a></li>
          <li class="breadcrumb-item active" aria-current="page">Partners / {{ object.name }}</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-sm">
      <div class="card shadow-sm h-100">
        <div class="card-body">
          <h5>
            {{ object.name}}
          </h5>
          <hr>
          <p> States:
            {% for state in object.states %}
            <span class="badge badge-secondary">{{state}}</span>
            {% endfor %}

          </p>
          <p> Description: {{ object.description }} </p>
          <a href="{% url 'main:edit_org' object.slug  object.pk %}" role="button">Edit Details</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row py-3">
    <div class="col-sm">
      <div class="card shadow-sm my-3">
        <div class="card-body">
          <h5>Getting Started</h5>
          <ul class="list-group my-3">
            {% if is_org_admin %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div>
                <h5><span class="badge badge-secondary"><i class="fas fa-file-upload"></i></span> Upload an Email Whitelist (Coming Soon)</h5>
                <p>By uploading a .csv file of your organization members' emails, you can automatically approve submissions from your members.<p>
              </div>
              <a class="btn btn-primary" href="{% url 'main:upload_whitelist' object.slug  object.pk %}" role="button">Upload <i class="fa fa-arrow-circle-right"></i></a>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div>
                <h5><span class="badge badge-secondary"><i class="fas fa-user-friends"></i></span> Manage Membership</h5>
                <p>Designate users as members, moderators, or admins on your organization dashboard.</p>
              </div>
              <a class="btn btn-primary" href="{% url 'main:manage_org' object.slug  object.pk %}" role="button">Manage <i class="fa fa-arrow-circle-right"></i></a>
            </li>
            {% endif %}
            {% if is_org_moderator %}

            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div>
                <h5><span class="badge badge-secondary"><i class="fas fa-flag"></i></span> Moderate Submissions</h5>
                <p>Review communities submitted under your organization.</p>
              </div>
              <a class="btn btn-primary" href="{% url 'main:review_org' object.slug  object.pk %}" role="button">Moderate <i class="fa fa-arrow-circle-right"></i></a>
            </li>
            {% endif %}


            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div>
                <h5><span class="badge badge-secondary"><i class="fas fa-map-marker-alt"></i></span> View/Share Your Map</h5>
                <p>Your organization's map is live at: <a href="{% url 'main:partner_map' object.slug %}">representable.org{% url 'main:partner_map' object.slug %}</a></p></div>
                <a class="btn btn-primary" href="{% url 'main:partner_map' object.slug %}" role="button">View <i class="fa fa-arrow-circle-right"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

        <!-- <h5>Campaigns</h5>
        <ul>
        <li><a href="{% url 'main:create_campaign' view.kwargs.slug  view.kwargs.pk %}">Create a New Campaign</a></li>
        <li><a href="{% url 'main:campaign_list' view.kwargs.slug  view.kwargs.pk %}">View Campaigns</a></li>
            {% for campaign in campaigns %}
            <li><a href="{% url 'main:campaign_home' slug=views.kwargs.slug pk=views.kwargs.pk c_pk=campaign.id %}">{{ campaign.name }}</a></li>
            {% endfor %}
        </ul> -->
</div>
{% endblock %}
