{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row mt-5">
    <div class="col-sm">
      <div class="card shadow-sm h-100">
        <div class="card-body">
          <h5>
            {{ object.name}}
            {% if object.verified %}
              <img class="img-fluid verified-logo-md" src="{% static 'img/verified.svg' %}" alt="verified check mark"></img>
            {% endif %}
          </h5>
          {% if is_org_admin %}
          <button class="btn btn-danger float-right mt-4" data-toggle="modal" data-target="#deleteOrgConfirm">
            <i class="fas fa-trash"></i>
          </button>
          {% endif %}
          <hr>
          <p> States:
            {% for state in object.states %}
            <span class="badge badge-secondary">{{state}}</span>
            {% endfor %}

          </p>
          <p> Description: {{ object.description }} </p>

          <a href="{% url 'main:edit_org' object.slug  object.pk %}" role="button">Edit Details</a>

        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card shadow-sm h-100">
        <div class="card-body">
          <h5>
            Community Mapping Drives
          </h5>
          <hr>
          {% if drives %}
          <ul class="list-group my-3">
            {% for drive in drives %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
              {{ drive.name }}
              <a class="btn btn-primary" href="{% url 'main:drive_home' object.slug  object.pk drive.id %}" role="button">Manage <i class="fa fa-arrow-circle-right"></i></a>
            </li>
            {% endfor %}
          </ul>
          {% else %}
          <p class="my-3">You haven't created any community mapping drives for this organization.
            Create a new one below to start collecting data.</p>
          {% endif %}

        <div class="text-center">
          <a class=" btn btn-outline-primary" href="{% url 'main:create_drive' object.slug  object.pk %}" role="button">Create New</a>
          </div>

      </div>
      </div>
      </div>
  </div>
  <div class="row pb-3">
    <div class="col-sm">
      <div class="card shadow-sm my-3">
        <div class="card-body">
          <h5>Getting Started</h5>
          <ul class="list-group my-3">
            <li class="list-group-item d-flex justify-content-between align-items-center pt-3">
              <div>
                <h5><span class="badge badge-secondary"><i class="fas fa-plus-square"></i></span> Create a Community Mapping Drive</h5>
                <p>Create a community mapping drive to start collecting submissions.<p>
              </div>
              <a class="btn btn-primary" href="{% url 'main:create_drive' object.slug  object.pk %}" role="button">Create <i class="fa fa-arrow-circle-right"></i></a>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center pt-3">
              <div>
                <h5><span class="badge badge-secondary"><i class="fas fa-user-friends"></i></span> Manage Membership</h5>
                <p>Designate users as admins on your organization dashboard.</p>
              </div>
              <a class="btn btn-primary" href="{% url 'main:manage_org' object.slug  object.pk %}" role="button">Manage <i class="fa fa-arrow-circle-right"></i></a>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center pt-3">
              <div class="container pl-0 pr-0">
                <h5><span class="badge badge-secondary"><i class="fas fa-map-marker-alt"></i></span> View/Share Your Organization's Map</h5>
                <div class="row no-gutters">
                  <div class="col-9">
                    <p>Your organization's map is live at: <a href="{% url 'main:partner_map' object.slug %}">representable.org{% url 'main:partner_map' object.slug %}</a></p>
                  </div>
                  <div class="col pb-3">
                    <a class="btn btn-primary float-right" href="{% url 'main:partner_map' object.slug %}" role="button">View <i class="fa fa-arrow-circle-right"></i></a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteOrgConfirm" tabindex="-1" role="dialog" aria-labelledby="deleteOrgLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete this organization?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        This action cannot be undone. All organization information will be permanently deleted. All drives associated with this organization
        will be permanently deleted. Communities submitted through these drives will not be deleted, but will no longer be associated with the drive
        or your organization.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <form role="form" id="deleteOrgInfo" method="post" action="delete\">{% csrf_token %}
          {% comment %} <input type="hidden" name="drive_slug" value="{{ object.slug }}"> {% endcomment %}
          <button type="submit" class="btn btn-danger" name="Delete">Delete organization permanently</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
