{% extends 'main/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block head %}
{{ form.media.css }}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">
                        Add Admins
                      </h5>
                      <form role="form" id="CreateMember" method="post">{% csrf_token %}

                          <div class="form-group">
                        {% for field in form %}
                          <div class="fieldWrapper">
                            {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                              {{ field.errors }}
                              {{ field.label_tag }} {{ field }}
                              {% if field.help_text %}
                              <p class="help">{{ field.help_text|safe }}</p>
                              {% endif %}
                          </div>
                      {% endfor %}
                      </div>
                      <div style="display: inline-block;">
                          <button id="save" form="CreateMember" type="submit" class="btn btn-primary" value="Submit">Submit</button>
                      </div>
                      </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block script %}
{{ form.media.js }}
{% endblock %}
