{% extends 'main/layouts/base-page.html' %}
{% load static %}
{% block title %}
About
{% endblock %}
{% block page-content %}
<p class="lead text-center">
      We’re a team of engineers and policy researchers
      who are excited to create technical solutions for civic issues.
      Coming from a wide array of backgrounds, we put our technical and policy experience
      together to make a powerful crowdsourced tool which we hope can change the current
      polarized political landscape of how districts are made in the United States.
      We’re committed to giving a voice to those who have been marginalized or politically
      diluted by gerrymandering and look forward to turning Representable into a national
      tool for political equity.
</p>
<br>
<h3 class="text-center">Team</h3>
<div class="lead">
<p class="p1" style="text-align: center;"><strong>Somya Arora</strong>, <em>Founder</em> • Engineering, Dev Ops</p>
<p class="p1" style="text-align: center;"><strong>Kyle Barnes</strong>, <em>Founder</em> • Engineering, Mapping </p>
<p class="p1" style="text-align: center;"><strong>Preeti Iyer</strong>, <em>Founder</em> • Outreach, Content </p>
<p class="p1" style="text-align: center;"><strong>Lauren Johnston</strong>, <em>Founder</em> • Engineering, Dev Ops</p>
<p class="p1" style="text-align: center;"><strong>Theodor Marcu</strong>, <em>Founder</em> • Engineering, Product</p>
<p class="p1" style="text-align: center;"><strong>Jessie Fielding</strong> • Engineering </p>
<p class="p1" style="text-align: center;"><strong>Olivia Kusio</strong> • Design, Content </p>
<p class="p1" style="text-align: center;"><strong>Edward Tian</strong> • Engineering</p>
</div>
{% endblock %}
