{% extends 'base.html' %}
{% load static %}
{% load cms_tags %}

{% block head %}
{% block title %}
<title>{% page_attribute "page_title" %}</title>
{% endblock %}
{% endblock %}

{% block content %}
<div class="container">
<div class="row text-center row-content">
  <div class="col">
    <h2>
    About  Us
    </h2>
    <p class="lead">
      {% placeholder text or %}We’re a team of engineers and policy researchers who are excited to create technical solutions for civic issues. Coming from a wide array of backgrounds, we put our technical and policy experience together to make a powerful crowdsourced tool which we hope can change the current polarized political landscape of how districts are made in the United States. We’re committed to giving a voice to those who have been marginalized or politically diluted by gerrymandering and look forward to turning Representable into a national tool for political equity.{% endplaceholder%}
    </p>
  </div>

</div>
</div>
{% endblock %}
