{% extends 'main/base.html' %}
{% load leaflet_tags %}
{% load static %}
{% load widget_tweaks %}

{% block head %}
{{ form.media.css }}
{% leaflet_js %}
{% leaflet_css %}

<!-- https://docs.mapbox.com/mapbox-gl-js/example/mapbox-gl-draw/ -->
<!--  Mapbox GL JS-->
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<!--  GeoCoder -->
<meta name='robots' content='noindex, nofollow'>
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.1.0/mapbox-gl-geocoder.min.js'></script>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.1.0/mapbox-gl-geocoder.css' type='text/css' />
<!--  Polygon Draw-->
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css' rel='stylesheet' />
<!--  Turf JS for calculating the area. -->
<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/turf/v3.0.11/turf.min.js'></script>

<!--  Mapbox Draw -->
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.js'></script>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.css' type='text/css' />
<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
<script>
    sessionStorage.setItem("allChecks", "pass");
    var mapbox_user_name = "{{mapbox_user_name}}";
//   console.log("passed");
</script>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row row-content">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8">
            <!-- START FORM BODY -->
            <div class="row mt-3">
                <!-- Entry Form -->
                <form id="entryForm" method="post">
                    <div class="row row-equal-cols">
                        <div class="col-lg  m-2">
                            <h2 class="text-primary">
                                {% if LANGUAGE_CODE == 'en' %}
                                Add your community!
                                {% elif LANGUAGE_CODE == 'es' %}
                                <!-- Google translate  -->
                                ¡Dibuja tu comunidad!
                                {% endif %}
                            </h2>
                            <p class="p-about">
                                {% if LANGUAGE_CODE == 'en' %}
                                Representable helps fight against gerrymandering by empowering communities
                                to represent themselves more easily. Fill out the form below to
                                add your community.
                                {% elif LANGUAGE_CODE == 'es' %}
                                <!-- Google translate  -->
                                Representable ayuda a luchar contra la gerrymandering empoderando a las comunidades
                                representarse más fácilmente. Complete el siguiente formulario para
                                agrega tu comunidad.
                                {% endif %}
                            </p>
                            <p class="p-about">
                                This form will help you add your community to Representable so you can
                                make sure your voice is heard.
                            </p>
                        </div>
                    </div>
                    <div class="row row-equal-cols">
                        <div class="col-lg  m-2">
                            <div class="collapse-card card-section active-section">
                                <div class="card">
                                    <div class="card-header text-header-card">
                                        <strong>1. Personal Information</strong>
                                        <input class="btn btn-secondary float-right button-edit" type="button" value="Edit Section">
                                    </div>
                                    <div class="card-body collapse show">
                                        <div class="alert alert-info" role="alert">
                                            <h5 class="alert-heading">Why do we need your information?</h3>
                                            <p class="card-text">
                                                Your personal privacy is our highest priority. We gather personal information to verify that you are a real person.
                                            </p>
                                            <p class="card-text">
                                                If you choose to submit this entry to a campaign, the administrators of the campaign will have access to this information.
                                            </p>
                                            <p class="card-text"></p>
                                            <a href="/privacy"> Learn more about our commitment to privacy on our Privacy Policy page.</a></p>
                                          </div>
                                        <p class="card-text">
                                            Your Name <small class="text-danger">(Required)</small>
                                        </p>
                                        <div class="row my-2">
                                            <div class="col-6">
                                                {{ comm_form.user_name|append_attr:"class:form-control" }}
                                            </div>
                                        </div>

                                        <div id="phone-error-alerts">
                                            {% if comm_form.user_phone.errors %}
                                            <script>
                                                sessionStorage.setItem("allChecks", "fail");
                                            </script>
                                            <div id="phone_invalid" class="alert alert-danger alert-dismissible fade show form-error" role="alert">
                                                {% if LANGUAGE_CODE == 'en' %}
                                                Please enter a valid US Phone Number.
                                                {% elif LANGUAGE_CODE == 'es' %}
                                                <!-- Google translate  -->
                                                Ingrese un número de teléfono válido de EE. UU.
                                                {% endif %}
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            {% endif %}
                                        </div>

                                        <p class="card-text">
                                            Phone Number <small class="text-danger">(Required)</small>
                                        </p>
                                        <div class="form-row my-2">
                                            <div class="col-4">
                                                {{ comm_form.user_phone|append_attr:"class:form-control" }}
                                            </div>
                                        </div>
                                        <p class="card-text">
                                            Your Address <small class="text-danger">(Required)</small>
                                        </p>
                                        <div class="form-row my-2">
                                            <div class="col-6">
                                                {{ addr_form.street|append_attr:"class:form-control" }}
                                            </div>
                                        </div>
                                        <div class="form-row my-2">
                                            <div class="col-4">
                                                {{ addr_form.city|append_attr:"class:form-control" }}
                                            </div>
                                        </div>
                                        <div class="form-row my-2">
                                            <div class="col-2">
                                                {{ addr_form.state|append_attr:"class:form-control" }}
                                            </div>
                                            <div class="col-2">
                                                {{ addr_form.zipcode|append_attr:"class:form-control" }}
                                            </div>
                                        </div>
                                        <input class="btn btn-primary float-right card-section-button button-next" type="button" value="Next">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-equal-cols">
                        <div class="col-lg m-2">
                            <div class="collapse-card card-section ">
                                <div class="card">
                                    <div id="interests-error-alerts">
                                        {% if comm_form.cultural_interests.errors %}
                                        <script>
                                            sessionStorage.setItem("allChecks", "fail");
                                        </script>
                                        <div id="interests_missing" class="alert alert-danger alert-dismissible fade show form-error" role="alert">
                                            {% if LANGUAGE_CODE == 'en' %}
                                            Please fill out at least one of the interest fields.
                                            {% elif LANGUAGE_CODE == 'es' %}
                                            <!-- Google translate  -->
                                            Complete al menos uno de los campos de interés.
                                            {% endif %}
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        {% endif %}
                                    </div>

                                    <div class="card-header text-header-card">
                                        <strong>2. Your Shared Cultural Interests</strong>
                                        <input class="btn btn-secondary float-right button-edit" type="button" value="Edit Section">
                                    </div>
                                    <div class="card-body collapse">
                                        <p class="card-text">
                                            What fosters a sense of belonging in your Community? 
                                            What common beliefs or values exist? <small class="text-danger">(Recommended)</small>
                                        </p>
                                        {{ comm_form.cultural_interests|append_attr:"class:form-control" }}
                                        <br>
                                        <input class="btn btn-primary float-left card-section-button button-prev" type="button" value="Previous">
                                        <input class="btn btn-primary float-right card-section-button button-next" type="button" value="Next">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-equal-cols">
                        <div class="col-lg  m-2">
                            <div class="collapse-card card-section ">
                                <div class="card">
                                    <div class="card-header text-header-card">
                                        <strong>3. Shared Community Activities and Services</strong>
                                        <input class="btn btn-secondary float-right button-edit" type="button" value="Edit Section">
                                    </div>
                                    <div class="card-body collapse">
                                        <p class="card-text">
                                            Where do people in your Community gather or socialize? 
                                            Where does your Community get its services? <small class="text-danger">(Recommended)</small>
                                        </p>
                                        {{ comm_form.comm_activities|append_attr:"class:form-control" }}
                                        <br>
                                        <input class="btn btn-primary float-left card-section-button button-prev" type="button" value="Previous">
                                        <input class="btn btn-primary float-right card-section-button button-next" type="button" value="Next">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-equal-cols">
                        <div class="col-lg m-2">
                            <div class="collapse-card card-section ">
                                <div class="card">
                                    <div class="card-header text-header-card">
                                        <strong>4. Your Shared Economic Interests</strong>
                                        <input class="btn btn-secondary float-right button-edit" type="button" value="Edit Section">
                                    </div>
                                    <div class="card-body collapse">
                                        <p class="card-text">
                                            Is there a shared economy in the geographic area of your Community? 
                                            How and where are residents employed? What parts of a county, 
                                            township or city are included in your Community? 
                                            Are there shared environmental concerns such as landfills or water quality? <small class="text-danger">(Recommended)</small>
                                        </p>
                                        {{ comm_form.economic_interests|append_attr:"class:form-control" }}
                                        <br>
                                        <input class="btn btn-primary float-left card-section-button button-prev" type="button" value="Previous">
                                        <input class="btn btn-primary float-right card-section-button button-next" type="button" value="Next">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-equal-cols">
                        <div class="col-lg  m-2">
                            <div class="collapse-card card-section ">
                                <div class="card">
                                    <div class="card-header text-header-card">
                                        <strong>5. Community Name and Other Interests</strong>
                                        <input class="btn btn-secondary float-right button-edit" type="button" value="Edit Section">
                                    </div>
                                    <div class="card-body collapse">
                                        <p class="card-text">
                                            What name can we use to identify your community? <small class="text-danger">(Required)</small>
                                            <!-- TODO we should find a better example -->
                                            <br>
                                            <small>For example: Princeton area student community</small>
                                        </p>
                                        {{ comm_form.entry_name|append_attr:"class:form-control" }}
                                        <hr>
                                        <p class="card-text">
                                            What are the issues facing this community and how would you like the redistricting
                                             commission in your state to help?<small class="text-danger"> (Recommended)</small>
                                            <!-- TODO we should find a better example -->
                                        </p>
                                        {{ comm_form.entry_reason|append_attr:"class:form-control" }}
                                        <hr>
                                        {% if not has_campaign and not has_token %}
                                        <div class="field-wrap mt-3">
                                            <p>What organization are you contributing as a part of? </p>
                                            <div class="field-wrap">
                                            {{ comm_form.organization|append_attr:"class:form-control" }}
                                            {% if comm_form.organization.help_text %}
                                            <p class="help">{{ comm_form.organization_text|safe }}</p>
                                            {% endif %}
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% csrf_token %}
                                        <!-- {# Include the non-field error fields #} -->
                                        {% if comm_form.non_field_errors %}
                                        <div class="non-field-errors form-error">
                                            {% for err in comm_form.non_field_errors %}
                                            <p class="form-error">{{ err }}</p>
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                        <div id="main_community_form" class="form-group">
                                            <!-- {# Include the hidden fields #} -->
                                            {% for hidden in comm_form.hidden_fields %}
                                            {{ hidden }}
                                            {% endfor %}
                                        </div>
                                        <input class="btn btn-primary float-left card-section-button button-prev" type="button" value="Previous">
                                        <input class="btn btn-primary float-right card-section-button button-next" type="button" value="Next">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-equal-cols">
                        <!-- Map -->
                        <div class="col-lg m-2">
                            <div class="collapse-card card-section">
                                <div class="card">
                                    <div class="card-header text-header-card">
                                        <strong>
                                        {% if LANGUAGE_CODE == 'en' %}
                                        6. Draw Your Community
                                        {% elif LANGUAGE_CODE == 'es' %}
                                        <!-- Google translate  -->
                                        6. Dibuja tu comunidad
                                        {% endif %}
                                        </strong>
                                        <input class="btn btn-secondary float-right button-edit" type="button" value="Edit Section">
                                    </div>
                                    <div id='map-card' class="card-body collapse">
   
                                        <!-- {# Include form.entry_polygon error. } -->
                                            <div id="map-error-alerts">
                                                {% if comm_form.user_polygon.errors %}
                                                <script>
                                                    sessionStorage.setItem("allChecks", "fail");
                                                </script>
                                                <div id="polygon_missing" class="alert alert-danger alert-dismissible fade show form-error" role="alert">
                                                    {% if LANGUAGE_CODE == 'en' %}
                                                    You need to draw a polygon to submit the form.
                                                    {% elif LANGUAGE_CODE == 'es' %}
                                                    <!-- Google translate  -->
                                                    Debe dibujar un polígono para enviar el formulario.
                                                    {% endif %}
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                {% endif %}
                                            </div>
                                            <strong>
                                                {% if LANGUAGE_CODE == 'en' %}
                                                Search for a location to begin drawing your community.
                                                {% elif LANGUAGE_CODE == 'es' %}
                                                <!-- Google translate  -->
                                                Busque una ubicación para comenzar a dibujar su comunidad.
                                                {% endif %}
                                            </strong>
                                            <div id="geocoder" class="geocoder my-3"></div>
                                            <div class="map-bounding-box my-2 collapse">
                                                <div class="map-box">
                                                    <div id='menu'></div>
                                                    <div id='map' class='draw_polygon_map' onload="map.resize()">
                                                        <div class="instruction-box">
                                                            <p>Click on a purple vertex to move it or delete it.</p>
                                                            <p>Click on a red midpoint vertex to add a new vertex.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <input class="btn btn-primary float-left card-section-button button-prev" type="button" value="Previous">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class='row row-equal-cols'>
                    <div class='col-lg text-center m-2'>
                        <div class="alert alert-warning text-left" role="alert">
                            <h5 class="alert-heading">What happens next?</h3>
                            <p class="card-text">
                                By adding your map to Representable.org you're not submitting a map to a redistricting commission. 
                            </p>
                            <p class="card-text">
                                You will be able to submit a map to a commission as soon as information about the submission process becomes available 
                                in your state. We'll attempt to contact you once that's available. Make sure to check the Representable.org 
                                website regularly for new information about the process in your state.
                            </p>
                            <p class="card-text">
                                If you submitted the map to a campaign, the campaign may choose to send your submission to a 
                                redistricting commmission on your behalf.
                            </p>
                          </div>
                        <div style="display: inline-block;">
                            <button id="save" form="entryForm" type="submit" class="btn btn-primary" value="Submit">Save Entry</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
        </div>
    </div>

    {% endblock %}
    {% block script %}
    {{ form.media.js }}
    <script type="text/javascript">
        mapboxgl.accessToken = "{{ mapbox_key }}";
    </script>
    <script type="text/javascript" src="{% static 'main/js/wicket.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/geo.js' %}"></script>
    <!-- Turf to get the bounding box. -->
    <script src='https://npmcdn.com/@turf/turf/turf.min.js'></script>
    {% endblock %}
