{% extends 'main/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="container-fluid content-blue-bg">
  <div class="row row-content mx-lg-5 px-lg-5">
    <div class="col mx-lg-5 px-lg-5">
      <div class="row light-blue-bg mx-lg-4 px-lg-5">
        <div class="col-12">
          <div class="h1 my-4 ml-3">{% trans "Redistricting Glossary" %}</div>
        </div>
      </div>
      <div class="mb-3 white-bg mx-lg-5">
        <div class="row">
          <div class="col-1"></div>
          <div class="col-10 mt-3 white-bg">
            <br>
            <h6><b>{% trans "Apportionment" %}</b></h6>
            <p>{% trans "The process of assigning electoral seats to various political groupings such as states, counties, and districts." %}</p>
          </div>
          <div class="col-1"></div>
        </div>
        <div class="row">
          <div class="col-1"></div>
          <div class="col-10 mt-3 white-bg">
            <h6><b>{% trans "Census" %}</b></h6>
            <p>{% trans "The census counts every person living in the United States and its five territories. It happens every 10 years and the results are used to determine the number of seats each state will have in the US House of Representatives. They are also used to draw congressional and state legislative districts." %}</p>
          </div>
          <div class="col-1"></div>
        </div>
        <div class="row">
          <div class="col-1"></div>
          <div class="col-10 mt-3 white-bg">
            <h6><b>{% trans "Census Block Group" %}</b></h6>
            <p>{% trans "A collection of contiguous census blocks used by mapmakers to draw districts. Composed of 600 - 3,000 people." %}</p>
          </div>
          <div class="col-1"></div>
        </div>
        <div class="row">
          <div class="col-1"></div>
          <div class="col-10 mt-3 white-bg">
            <h6><b>{% trans "Communities of Interest" %}</b></h6>
            <p>{% trans "A geographic area that shares cultural, historical, or economic interests. Mapping communities of interest encourages the drawing of fairer voting districts." %}</p>
          </div>
          <div class="col-1"></div>
        </div>
        <div class="row">
          <div class="col-1"></div>
          <div class="col-10 mt-3 white-bg">
            <h6><b>{% trans "Contiguous District" %}</b></h6>
            <p>{% trans "When there are no gaps in a district and it has connecting boundaries." %}</p>
          </div>
          <div class="col-1"></div>
        </div>
        <div class="row">
          <div class="col-1"></div>
          <div class="col-10 mt-3 white-bg">
            <h6><b>{% trans "Cracking" %}</b></h6>
            <p>{% trans "The act of splitting apart members of one group into multiple districts to the point that they are a super-minority in that district. This reduces the electoral strength of the group overall." %}</p>
          </div>
          <div class="col-1"></div>
        </div>
        <div class="row">
          <div class="col-1"></div>
          <div class="col-10 mt-3 white-bg">
            <h6><b>{% trans "District" %}</b></h6>
            <p>{% trans "The boundaries that define a group of people that vote for an elected official together." %}</p>
          </div>
          <div class="col-1"></div>
        </div>
        <div class="row">
          <div class="col-1"></div>
          <div class="col-10 mt-3 white-bg">
            <h6><b>{% trans "GeoJSON" %}</b></h6>
            <p>{% trans "A file that is compatible with most map drawing softwares." %}</p>
          </div>
          <div class="col-1"></div>
        </div>
        <div class="row">
          <div class="col-1"></div>
          <div class="col-10 mt-3 white-bg">
            <h6><b>{% trans "Gerrymander" %}</b></h6>
            <p>{% trans "A plan or map that is intentionally drawn to advantage or disadvantage a specific group." %}</p>
          </div>
          <div class="col-1"></div>
        </div>
        <div class="row">
          <div class="col-1"></div>
          <div class="col-10 mt-3 white-bg">
            <h6><b>{% trans "Packing" %}</b></h6>
            <p>{% trans "The act of grouping together members of one group within a district to the point that they are a super-majority in that district. This reduces the electoral influence of the group in the surrounding districts." %}</p>
          </div>
          <div class="col-1"></div>
        </div>
        <div class="row">
          <div class="col-1"></div>
          <div class="col-10 mt-3 white-bg">
            <h6><b>{% trans "Redistricting" %}</b></h6>
            <p>{% trans "This is when voting district lines across the country are redrawn to determine who represents the people of your state." %}</p>
          </div>
          <div class="col-1"></div>
        </div>
        <div class="row">
          <div class="col-1"></div>
          <div class="col-10 mt-3 white-bg">
            <h6><b>{% trans "Redistricting Commission" %}</b></h6>
            <p>{% trans "A government body that researches, drafts, and/or draws district maps for legislatures and Congress." %}</p>
          </div>
          <div class="col-1"></div>
        </div>
        <div class="row">
          <div class="col-1"></div>
          <div class="col-10 mt-3 white-bg">
            <h6><b>{% trans "Redistricting Criteria" %}</b></h6>
            <p>{% trans "The guidelines that map drawers must follow in order to create a district." %}</p>
            <br>
          </div>
          <div class="col-1"></div>
        </div>
      </div>
      <div class="row mx-lg-5 mb-5">
        <div class="col-1"></div>
        <div class="col-10 light-blue-bg small">
          <div class="mx-3 blue-text">
            <p class="my-3"><b>{% trans "More Information" %}</b></p>
            <p class="text-break" style="overflow-wrap: break-word">https://www.ncsl.org/research/redistricting/the-redistricting-lexicon-glossary.aspx <br>“What is the 2020 Census?”, US Department of Commerce, <br>https://2020census.gov/en/what-is-2020-census.html<br>https://www.ncsl.org/research/redistricting/the-redistricting-lexicon-glossary.aspx</p>
          </div>
        </div>
        <div class="col-1"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
