{% extends 'main/layouts/base-page.html' %}
{% load static %}
{% block page-content %}
<div class="row mx-lg-5 px-lg-5">
  <div class="col-12 light-blue-bg">
    <div class="h1 my-4 ml-3">Redistricting Glossary</div>
  </div>
  <br>
  <!-- REPEAT THIS PART -->
  <div class="col-1"></div>
  <div class="col-10 mt-3">
    <h6><b>Apportionment</b></h6>
    <p>The process of assigning electoral seats to various political groupings such as states, counties, and districts.</p>
  </div>
  <div class="col-1"></div>
  <div class="col-1"></div>
  <div class="col-10 light-blue-bg small">
    <div class="mx-3 blue-text">
      <p class="my-3"><b>More Information</b></p>
      <p>link 1</p>
      <p>link 2</p>
      <p>link 3</p>
    </div>
  </div>
  <div class="col-1"></div>
</div>
{% endblock %}
