{% extends 'main/layouts/base-page.html' %}
{% load static %}
{% block title %}
Privacy
{% endblock %}
{% block page-content %}
<p>Your privacy is our highest priority. We gather your identifying information to verify that you are a real person. We will not publicly share anyone's individual personal information, such as name, address, or email.</p>
<p>If you choose to submit an entry to an organization, the organization will receive your identifying information in order to verify that you are a real person. This aspect will be communicated to you before you save an entry.</p>
<p>We rely on third-party services (Mixpanel and Google Analytics) to better understand our users' anonymous behavior on the website. This allows us to understand how we can improve Representable.org by finding any hidden friction points. We don't share any personal information with these services.</a>
<p>Our implementation of third-party tracking services respects your browser's <a href="https://allaboutdnt.com/">Do Not Track</a> settings. 
We also give users the option to opt in or opt out of tracking at any point. Users can update their preferences <a href="#" onClick="showConsentBanner();return false;">here</a> or on their account dashboard page (if logged in).
By default, we enable Google Analytics to count website visitors (which only uses first-party cookies), but this behavior is disabled by opting out. Mixpanel is only enabled by opting in.</p>
<p>It is Representable's policy to respect your privacy regarding any information we may collect from you across our website, <a href="http://representable.org">representable.org</a>, and other sites we own and operate.</p>
<p>We only ask for personal information when we truly need it to provide a service to you. We collect it by fair and lawful means, with your knowledge and consent. We also let you know why we’re collecting it and how it will be used.</p>
<p>We only retain collected information for as long as necessary to provide you with your requested service. What data we store, we’ll protect within commercially acceptable means to prevent loss and theft, as well as unauthorized access,
  disclosure, copying, use or modification.</p>
<p>We don’t share any personally identifying information publicly or with third-parties, except when explicit permission is given during a "community" submission or when required to by law.</p>
<p>Our website may link to external sites that are not operated by us. Please be aware that we have no control over the content and practices of these sites, and cannot accept responsibility or liability for their respective privacy policies.
</p>
<p>You are free to refuse our request for your personal information, with the understanding that we may be unable to provide you with some of your desired services.</p>
<p>Your continued use of our website will be regarded as acceptance of our practices around privacy and personal information. If you have any questions about how we handle user data and personal information, feel free to contact us.</p>
<p>This policy is effective as of July 14, 2020.</p>
{% endblock %}
