{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">
                            Thank you for your submission!
                    </h5>
                    <div class="text-center">
                        <div class="alert alert-primary" role="alert">
                            <p>This tool is meant for non-partisan use by communities and their members to provide information to the Redistricting Commission.</p>
                            <p>By adding your map to Representable.org you're not submitting a map to a redistricting commission. We will add information about submitting to the commission as soon as information becomes available in your state.</p>
                            <p>In the meantime, you can export your community in GeoJSON format using the link below.</p>
                        </div>
                        <ul class="list-group my-3">
                            <li class="list-group-item justify-content-between align-items-center">
                                <h5>View/Export Your Community</h5>
                                <p>Your community map is now live here: <br><a href="/submission?map_id={{ map_url }}">Representable.org/submission?map_id={{ map_url }}</a><br>Feel free to tweet and share.</p>
                              <a class="btn btn-outline-primary" href="/submission?map_id={{ map_url }}" role="button">View Community</a>
                            </li>
                            {% if has_campaign %}
                            <li class="list-group-item justify-content-between align-items-center">
                                  <h5>{{campaign_name}} Map</h5>
                                  <p>View all communities submitted to {{campaign_name}}.</p>
                                  <a class="btn btn-outline-primary" href="{% url 'main:partner_map' view.kwargs.slug view.kwargs.campaign %}"  role="button">View Map</a>
                              </li>
                            {% endif %}
                        </ul>
                        <ul class="list-group my-3">
                            <li class="list-group-item justify-content-between align-items-center">
                                <h5>Do you have any feedback for us?</h5>
                                <p>We are interested in your feedback. If you found a bug or have any suggestions for us, please send them to us by pressing on the button below.</p>
                              <a class="btn btn-outline-primary" href="https://docs.google.com/forms/d/e/1FAIpQLSfeyoZ87pS67iTh2c3t5031XqoNFNAdwF6Pt1NUns_z_Myxaw/viewform" role="button">Send Feedback</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
