<!doctype html>
{% load static %}

<html>
<head>
    <meta charset='utf-8' />
    <title>Districter Map Test</title>
    {% block head %}
    {% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}
    <footer>
        <p>&copy; <span id="year">2019</span> Districter Team</p>
    </footer>
    {% block script %}
        <script type="text/javascript">
            document.getElementById("year").innerHTML = new Date().getFullYear();
        </script>
    {% endblock %}
</body>
</html>
