<!-- code adapted from: https://codepen.io/shamim539/pen/VvLLdV?editors=1010 -->
{% extends 'main/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
{% endblock %}

{% block content %}
<div class="row row-content row-about text-center">
  <div class="col">
    <h1> Meet the team! </h1>
    <p class="p-about"> We’re a team of Princeton engineers
      who are excited to bring more technically advanced solutions to civic issues.
      Coming from a wide array of backgrounds, we put our technical and policy experience
      together to make a powerful crowdsourced tool which we hope can change the current
      polarized political landscape of how districts are made in the United States.
      We’re committed to giving a voice to those who have been marginalized or politically
      diluted by gerrymandering and look forward to turning Representable into a national
      tool for political equity. </p>
  </div>
</div>

<div class="row row-content">
  <div class="col-md-6 col-lg-4">
    <div class="team-member">
      <div class="team-img">
        <img src="{% static 'img/somya.png' %}" alt="team member" style="width: 100%; height: 100%;">
      </div>
      <div class="team-hover">
        <div class="desk">
          <p>I have worked on the community draw and community visualization features for Representable.
            My interests focus on Computer Graphics and Vision. When I’m not working on Representable,
            you can find me outdoors, hiking in the woods, dancing, or sampling different kinds of teas.</p>
        </div>
      </div>
    </div>
    <div class="team-title">
      <a href="mailto:somyaa@princeton.edu?Subject=Representable%20Inquiry" target="_top">
        <h5>Somya Arora</h5>
      </a>
      <span>Princeton Class of 2021</span>
    </div>
  </div>

  <div class="col-md-6 col-lg-4">
    <div class="team-member">
      <div class="team-img">
        <img src="{% static 'img/kyle.png' %}" alt="team member" style="width: 100%; height: 100%;">
      </div>
      <div class="team-hover">
        <div class="desk">
          <p>I work primarily on visualization for Representable, and am interested in the
            applications of tech and design in service. When I’m not working on Representable,
            I am often found figure skating, designing clothes, dancing, dj-ing, and
            eating copious amounts of breakfast foods. </p>
        </div>
      </div>
    </div>
    <div class="team-title">
      <a href="mailto:ktbarnes@princeton.edu ?Subject=Representable%20Inquiry" target="_top">
        <h5>Kyle Barnes</h5>
      </a>
      <span>Princeton Class of 2020</span>
    </div>
  </div>


  <div class="col-md-6 col-lg-4">
    <div class="team-member">
      <div class="team-img">
        <img src="{% static 'img/preeti.png' %}" alt="team member" style="width: 100%; height: 100%;">
      </div>
      <div class="team-hover">
        <div class="desk">
          <p> I worked within front end development for Representable and am interested in
            data science applications in robotics, healthcare, and urban issues. When I’m not
            working on Representable, you can find me dancing, working on menstrual rights policy,
            hiking, and catching the perfect sunset.</p>
        </div>
      </div>
    </div>
    <div class="team-title">
      <a href="mailto:psiyer@princeton.edu ?Subject=Representable%20Inquiry" target="_top">
        <h5>Preeti Iyer</h5>
      </a>
      <span>Princeton Class of 2020</span>
    </div>
  </div>

  <div class="col-md-6 col-lg-4">
    <div class="team-member">
      <div class="team-img">
        <img src="{% static 'img/lauren.png' %}" alt="team member" style="width: 100%; height: 100%;">
      </div>
      <div class="team-hover">
        <div class="desk">
          <p>I have been working on the community identification form, user authentication, and developing the front-end user experience.
            When I’m not working on Representable, you can find me reporting on campus life as part of 1080princeton,
            planting at the Princeton Garden Project, or going on a trail run.</p>
        </div>
      </div>
    </div>
    <div class="team-title">
      <a href="mailto:ljohnston@princeton.edu?Subject=Representable%20Inquiry" target="_top">
        <h5>Lauren Johnston</h5>
      </a>
      <span>Princeton Class of 2020</span>
    </div>
  </div>

  <div class="col-md-6 col-lg-4">
    <div class="team-member">
      <div class="team-img">
        <img src="{% static 'img/theo.png' %}" alt="team member" style="width: 100%; height: 100%;">
      </div>
      <div class="team-hover">
        <div class="desk">
          <p>I have developed parts of the form and community drawing page for Representable.
            My interests focus on UI/UX research and tech public policy. When I’m not working
            on Representable you can find me playing tennis, going out, or just hacking together
            a new project.</p>
        </div>
      </div>
    </div>
    <div class="team-title">
      <a href="mailto:tmarcu@princeton.edu?Subject=Representable%20Inquiry" target="_top">
        <h5>Theodor Marcu</h5>
      </a>
      <span>Princeton Class of 2020</span>
    </div>
  </div>

</div>
{% endblock %}
