<!doctype html>
{% load static %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main/fonts/Inter/inter.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' type='image/x-icon' %}">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139926191-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-139926191-1');
    </script>
    <!-- Mixpanel -->
    <script>(function(c,a){if(!a.__SV){var b=window;try{var d,m,j,k=b.location,f=k.hash;d=function(a,b){return(m=a.match(RegExp(b+"=([^&]*)")))?m[1]:null};f&&d(f,"state")&&(j=JSON.parse(decodeURIComponent(d(f,"state"))),"mpeditor"===j.action&&(b.sessionStorage.setItem("_mpcehash",f),history.replaceState(j.desiredHash||"",c.title,k.pathname+k.search)))}catch(n){}var l,h;window.mixpanel=a;a._i=[];a.init=function(b,d,g){function c(b,i){var a=i.split(".");2==a.length&&(b=b[a[0]],i=a[1]);b[i]=function(){b.push([i].concat(Array.prototype.slice.call(arguments,
        0)))}}var e=a;"undefined"!==typeof g?e=a[g]=[]:g="mixpanel";e.people=e.people||[];e.toString=function(b){var a="mixpanel";"mixpanel"!==g&&(a+="."+g);b||(a+=" (stub)");return a};e.people.toString=function(){return e.toString(1)+".people (stub)"};l="disable time_event track track_pageview track_links track_forms track_with_groups add_group set_group remove_group register register_once alias unregister identify name_tag set_config reset opt_in_tracking opt_out_tracking has_opted_in_tracking has_opted_out_tracking clear_opt_in_out_tracking people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user people.remove".split(" ");
        for(h=0;h<l.length;h++)c(e,l[h]);var f="set set_once union unset remove delete".split(" ");e.get_group=function(){function a(c){b[c]=function(){call2_args=arguments;call2=[c].concat(Array.prototype.slice.call(call2_args,0));e.push([d,call2])}}for(var b={},d=["get_group"].concat(Array.prototype.slice.call(arguments,0)),c=0;c<f.length;c++)a(f[c]);return b};a._i.push([b,d,g])};a.__SV=1.2;b=c.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?
        MIXPANEL_CUSTOM_LIB_URL:"file:"===c.location.protocol&&"//cdn4.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn4.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn4.mxpnl.com/libs/mixpanel-2-latest.min.js";d=c.getElementsByTagName("script")[0];d.parentNode.insertBefore(b,d)}})(document,window.mixpanel||[]);
        mixpanel.init("d0cc0bfda7587bccdb286d10deeac993")</script>

    {% block head %}
    {% endblock %}

    <title>Representable</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/">Representable</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <ul class="nav navbar-nav navbar-right align-items-center">
                <li class="nav-item mx-auto">
                    <!-- Translate this? -->
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item mx-auto">
                    <a class="nav-link" href='/about'>
                        About
                    </a>
                </li>
                <li class="nav-item mx-auto">
                    <a class="nav-link" href="{% url 'main:partner_welcome' %}">
                        Partners
                    </a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item mx-auto">
                    <a class="nav-link" href="{% url 'main:dashboard' %}">
                        Dashboard
                    </a>
                </li>
                {% endif %}
                {% if user.is_authenticated %}
                <li class="nav-item mx-auto">
                    <a class="nav-link" href='/review'>
                        My communities
                    </a>
                </li>
                <li class="nav-item mx-auto">
                    <a class="btn btn-outline-primary m-2" href="/entry">
                        Add community
                    </a>
                </li>
                <li class="nav-item mx-auto">
                    <a class="btn btn-primary m-2" href="/accounts/logout">
                        Log out
                    </a>
                </li>
                {% else %}
                <li class="nav-item mx-auto">
                    <a class="btn btn-outline-primary m-2" href="/accounts/login">
                        Log in
                    </a>
                </li>
                <li class="nav-item mx-auto">
                    <a class="btn btn-primary m-2" href="/accounts/signup">
                        Sign up
                    </a>
                </li>
                {% endif %}
            </ul>
            <!-- TODO: This should not necessarily be in the navbar - on mobile/iPad, it needs to be visible on main page. -->
            <!-- References https://docs.djangoproject.com/en/2.2/topics/i18n/translation/#set-language-redirect-view -->
            <!-- Also https://stackoverflow.com/questions/47874530/django-language-selection-from-dropdown-links-and-images -->
            <!-- <ul class="nav navbar-nav navbar-right language menu">
                <form action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}" />
                    <select class="form-control" name="language" onchange="javascript:this.form.submit()">
                        {% for lang in LANGUAGES %}
                            <option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %} selected="selected"{% endif %}>
                                {{ lang.1 }} ({{ lang.0 }})
                            </option>
                        {% endfor %}
                    </select>
                </form>
            </ul> -->
        </div>
    </nav>

    {% block content %}
    {% endblock %}
    <!-- Optional JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    {% block script %}
    {% endblock %}

</body>
<footer class="pt-4 mb-md-5 pt-md-5 border-top">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md">
                <a href="/"><img id="r-logo-svg" class="mb-2" src="{% static 'img/representable_logo.svg' %}" alt="" width="24" height="24"></a>
                <small class="d-block mb-3 text-muted">© 2020</small>
            </div>
            <div class="col-6 col-md">
                <!-- <h5>Community Map</h5> -->
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="{% url 'main:entry' %}">
                            Add Your Community
                        </a></li>
                    <li><a class="text-muted" href="{% url 'main:map' %}">
                            View All Maps
                        </a></li>
                    {% if user.is_authenticated %}
                    <li><a class="text-muted" href="{% url 'main:review' %}">
                            My Communities
                        </a></li>
                    {% endif %}
                </ul>
            </div>

            <div class="col-6 col-md">
                <!-- <h5>About</h5> -->
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" target="_blank" rel="noopener noreferrer" href="{% url 'main:privacy' %}">
                            Privacy
                    </a></li>
                    <li><a class="text-muted" target="_blank" rel="noopener noreferrer" href="{% url 'main:terms' %}">
                            Terms
                    </a></li>
                    <li><a class="text-muted" target="_blank" rel="noopener noreferrer" href="https://forms.gle/1LRVNqR31AfAtD6p7">
                            Send Feedback
                    </a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

</html>
