<!doctype html>
{% load static %}
<!--adaptation of https://getbootstrap.com/docs/4.3/getting-started/introduction/#main-template-->
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main/fonts/Inter/inter.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139926191-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-139926191-1');
    </script>


    {% block head %}
    {% endblock %}

    <title>Districter</title>
</head>

<body>
    <!--adapted from https://getbootstrap.com/docs/4.3/components/navbar/ -->
    <!-- As a link -->
    <div class="container-panel">
        {% block hero-pre %}
        {% endblock %}

        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="/">Districter</a>
            <!--<img src="{% static 'img/small-logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <!-- <span class="icon-bar"></span>  -->
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li> -->
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item mx-auto">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item mx-auto">
                        <a class="nav-link" href='/about'>About</a>
                    </li>
                    <li class="nav-item mx-auto">
                        <a class="nav-link" href='/map'>Map</a>
                    </li>
                    {% if user.is_authenticated %}
                    <!-- <li class="nav-item mx-auto">
                        <a class="nav-link" href='/review'>Review Entries</a>
                    </li> -->
                    <li class="nav-item mx-auto">
                        <!-- <a class="btn btn-light my-2 my-sm-0" href="/accounts/signup"> Sign Up</a> -->
                        <a class="nav-link" href="/accounts/logout">Log Out</a>
                    </li>
                    {% else %}
                    <li class="nav-item mx-auto">
                        <a class="nav-link" href="/accounts/login">Login</a>
                    </li>
                    <li class="nav-item mx-auto">
                        <!-- <a class="btn btn-light my-2 my-sm-0" href="/accounts/signup"> Sign Up</a> -->
                        <a class="nav-link" href="/accounts/signup">Sign Up</a>
                    </li>
                    {% endif %}
                </ul>
            </div>

        </nav>
        {% block hero %}
        {% endblock %}

        <div class="container-fluid">
            {% block content %}
            {% endblock %}
        </div>
    </div>



    <!-- Optional JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    {% block script %}
    {% endblock %}

</body>
<footer class="footer">
    <div class="container-fluid">
    </div>
</footer>

</html>
