{% load i18n %}
{% load widget_tweaks %}
{% load static %}
<div class="pl-xl-4 pr-xl-4 pb-5">
    <div class="entry-step row mb-2">
        <div class="col">
            {% trans "Step 2" %}
        </div>
    </div>
    <div id="entry-survey-start" class="">
        <div class="row">
            <div class="col-4 col-md-3 col-xl-2 pr-0">
                <object type="image/svg+xml" class="w-100" data="{% static 'img/mapping.svg' %}" alt="image of someone drawing a community map"></object>
            </div>
            <div class="col-8 col-md-9 col-xl-10">
                <div class="entry-header ml-3">
                    <strong>{% trans "Tell us about what unites your community." %}</strong>
                </div>
                <div class="info-text ml-3 txt-16">
                    {% trans "Next, you will share information about what brings your community together. What do you think is important for politicians to know about your community?"%}
                </div>
                <br>

                <div id="survey-start-infographic" class="d-none d-xl-inline-block mb-3 ml-3">
                    <div class="row m-0 header-text mb-2">
                        <h5><strong>{% trans "What is a Community of Interest?" %}</strong></h5>
                    </div>

                    <div id="entry-coi-def" class="row m-0 mb-2">
                        <p class="info-text txt-16">
                            {% blocktrans trimmed %}
                            A Community of Interest is a <strong>geographic area</strong> that shares <strong>cultural</strong>, <strong>historical</strong>, or <strong>economic</strong> interests.
                            Communities of Interest encourage the drawing of fairer voting districts.
                            {% endblocktrans %}
                        </p>
                    </div>

                    <div class="row m-0" style="color: #3C8EB0; font-size: .85rem">
                        <strong> {% trans "Communities of Interest can include..." %} </strong>
                    </div>

                    <div class="row row-equal-cols text-center mx-0 mt-3 ">
                        <div class="col-lg-4">
                            <div class="row h-100">
                                <div class="col-4 text-center">
                                    <div class="d-inline-block">
                                        <div class="circle-xs bg-70C5EA">1</div>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="row h-100 survey-start-txt-pic">
                                        <div class="col-lg-12 px-0 pb-4 text-left survey-start-sm-txt">
                                            {% blocktrans trimmed %}
                                                Your neighborhood, or an area you live in.
                                            {% endblocktrans %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="row h-100">
                                <div class="col-4 text-center">
                                    <div class="d-inline-block">
                                        <div class="circle-xs bg-70C5EA">2</div>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="row h-100 survey-start-txt-pic">
                                        <div class="col-lg-12 px-0 pb-3 text-left survey-start-sm-txt">
                                            {% blocktrans trimmed %}
                                                The people you would like to choose representatives with.
                                            {% endblocktrans %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="row h-100">
                                <div class="col-4 text-center">
                                    <div class="d-inline-block">
                                        <div class="circle-xs bg-70C5EA">3</div>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="row h-100 survey-start-txt-pic">
                                        <div class="col-lg-12 px-0 pb-3 text-left survey-start-sm-txt">
                                            {% blocktrans trimmed %}
                                                A local group that is brought together by a common interest.
                                            {% endblocktrans %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row d-none d-xl-flex pt-4">
                    <div class="col text-center">
                        <button class="btn btn-outline-primary no-underline-link entry-nav-btn mr-4 btn-ls-md" onclick="surveyStartToAddress()"><i class="fas fa-angle-left pr-2" type="button"></i>{% trans "BACK" %}</button>
                        <button class="btn btn-primary no-underline-link entry-nav-btn ml-4 btn-ls-md" onclick="startSurvey()" type="button">{% trans "START" %}<i class="fas fa-angle-right pl-2"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <!-- For tablet and mobile views-->
        <div class="row d-xl-none">
            <div class="col-12 px-0 px-md-2">
                <div id="mobile-survey-start-infographic" class="mt-3 mb-5">
                    <div class="row m-0 header-text mb-2">
                        <strong>{% trans "What is a Community of Interest?" %}</strong>
                    </div>

                    <div id="entry-coi-def" class="row m-0 mb-2">
                        <p class="info-text txt-16">
                            {% blocktrans trimmed %}
                            A Community of Interest is a geographic area that shares <strong>cultural</strong>, <strong>historical</strong>, or <strong>economic</strong> interests.
                            Communities of Interest encourage the drawing of fairer voting districts.
                            {% endblocktrans %}
                        </p>
                    </div>

                    <div class="m-0 text-center" style="color: #3C8EB0; font-size: .85rem">
                        <strong style="display:inline-block;"> {% trans "Communities of Interest can include..." %} </strong>
                    </div>

                    <div class="row row-equal-cols text-center mx-0 mt-3">
                        <div class="col-12 px-0 px-md-3">
                            <div class="row">
                                <div class="col-2 text-center p-0">
                                    <div class="d-inline-block">
                                        <div class="circle-xs bg-70C5EA">1</div>
                                    </div>
                                </div>
                                <div class="col-7">
                                    <div class="text-left survey-start-sm-txt">
                                        {% blocktrans trimmed %}
                                            The people you would like to choose representatives with.
                                        {% endblocktrans %}
                                    </div>
                                </div>
                                {% comment %} <div class="col-3 text-center p-0">
                                    <div class="">
                                        <object type="image/svg+xml" class="w-50 w-md-25" data="{% static 'img/voting.svg' %}" alt="image of clipart of voting"></object>
                                    </div>
                                </div> {% endcomment %}
                            </div>
                        </div>

                        <div class="col-12 pt-2 px-0 px-md-3">
                            <div class="row">
                                <div class="col-2 text-center p-0">
                                    <div class="d-inline-block">
                                        <div class="circle-xs bg-70C5EA">2</div>
                                    </div>
                                </div>
                                <div class="col-7">
                                    <div class="text-left survey-start-sm-txt">
                                        {% blocktrans trimmed %}
                                            Your neighborhood, or an area you live in.
                                        {% endblocktrans %}
                                    </div>
                                </div>
                                {% comment %} <div class="col-3 text-center p-0">
                                    <div class="">
                                        <object type="image/svg+xml" class="w-50 w-md-25" data="{% static 'img/city_icon-2.svg' %}" alt="image of clipart buildings"></object>
                                    </div>
                                </div> {% endcomment %}
                            </div>
                        </div>

                        <div class="col-12 pt-2 px-0 px-md-3">
                            <div class="row">
                                <div class="col-2 text-center p-0">
                                    <div class="d-inline-block">
                                        <div class="circle-xs bg-70C5EA">3</div>
                                    </div>
                                </div>
                                <div class="col-7">
                                    <div class="text-left survey-start-sm-txt">
                                        {% blocktrans trimmed %}
                                            A local group that is brought together by a common interest.
                                        {% endblocktrans %}
                                    </div>
                                </div>
                                {% comment %} <div class="col-3 text-center p-0">
                                    <div class="">
                                        <object type="image/svg+xml" class="w-50 w-md-25" data="{% static 'img/community_input.svg' %}" alt="image of silhouette people talking"></object>
                                    </div>
                                </div> {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <button class="btn btn-outline-primary no-underline-link entry-nav-btn mr-4 btn-ls-md" onclick="surveyStartToAddress()" type="button"><i class="fas fa-angle-left pr-2"></i>{% trans "BACK" %}</button>
                        <button class="btn btn-primary no-underline-link entry-nav-btn ml-4 btn-ls-md" onclick="startSurvey()" type="button">{% trans "START" %}<i class="fas fa-angle-right pl-2"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Page for the first set of the survey questions -->
    <div id="survey-qs-p1" class="row row-equal-cols d-none">
        <div class="col-lg">
          <div class="row">
            <div class="col-md-7 col-lg-8">
              <div class="entry-header">
                  <strong>{% trans "What unites your Community of Interest?" %}</strong>
              </div>
            </div>
            <div class="col-md-5 col-lg-4 align-right">
              <button class="btn btn-outline-primary mr-4 btn-ls-md float-xl-right" type="button" id="comm-example-btn">{% trans "EXAMPLE COMMUNITY" %}</button>
            </div>
          </div>
            <!-- TODO : change padding to be 1px less on the left -->
            <div class="py-3 px-4 light-blue-bg opacity-4 mt-2">
                {% if coi_title == "" %}
                    <button class="btn btn-link ws-normal btn-no-focus-outline bg-transparent text-left my-0 p-0 no-underline-link border-0" aria-expanded="false" aria-controls="collapseCriteria" onclick="toggleAngle(this)" type="button">
                    <h5 style="width: fit-content; color: initial;">{% trans "Community of Interest Definition in " %} {{ state_obj.name }} &#32;<i class="fas fa-angle-down pl-3"></i></h5>
                    </button>
                    <div class="collapse mt-2" id="collapseCriteria">
                        {% autoescape off %}
                        {{ state_obj.content_coi }}
                        {% endautoescape %}
                    </div>
                {% else %}
                    <button class="btn btn-link ws-normal btn-no-focus-outline bg-transparent text-left my-0 p-0 no-underline-link border-0" aria-expanded="false" aria-controls="collapseCriteria" onclick="toggleAngle(this)" type="button">
                    <h5 style="width: fit-content; color: initial;"> {{ coi_title }} &#32;<i class="fas fa-angle-down pl-3"></i></h5>
                    </button>
                    <div class="collapse mt-2" id="collapseCriteria">
                        {% autoescape off %}
                        {{ coi_def }}
                        {% endautoescape %}
                    </div>
                {% endif %}
            </div>
            <div class="survey-instruction mt-2">
                <p>
                    {% blocktrans trimmed %}
                    Respond to <b>at least one</b> of the sections below. There are no wrong answers.<br>

                    Click on each category to see helpful questions and examples.
                    {% endblocktrans %}
                </p>
            </div>
            <div class="">
                <!-- Form Errors -->
                {% if comm_form.cultural_interests.errors %}
                <div id="interests-error-alerts">
                    <script>
                        sessionStorage.setItem("allChecks", "fail");
                    </script>
                    <div id="interests_missing" class="alert alert-danger django-alert alert-dismissible fade show form-error" role="alert">
                        {% trans "Please fill out at least one of the interest fields." %}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                {% endif %}
                <div id="need_one_interest" class="alert alert-danger alert-dismissible fade show form-error d-none" role="alert">
                    {% trans "Please fill out at least one of the interest fields." %}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- Form Errors END -->
                <!-- Sections: -->
                <!--  Economic -->
                <!-- Activities -->
                <div class="accordion" id="comm_activities_accordion">
                    <button id="comm_activities_btn" class="btn btn-link text-left pl-0 no-underline-link" type="button" data-target="#comm_activities_example" aria-expanded="false" aria-controls="collapseOne" onclick="toggleAngle(this)">
                        <h5 class="survey-sect-title">{% trans "Community Activities and Services" %}<i class="fas fa-angle-down pl-3"></i></h5>
                    </button>
                    <div id="comm_activities_example" class="collapse" aria-labelledby="comm_activities_accordion" data-parent="#comm_activities_accordion">
                        <p class="collapse-in ml-4 gray-text">
                          <b>{% trans "Use these questions to think more about how you would describe your community..." %}</b><br>
                          &emsp; - {% trans "Where do people in your community gather or socialize?" %} <br>
                          &emsp; - {% trans "How and where does your community access services (healthcare, transportation, educational services, etc.)?" %}<br><br>
                          <span class="blue-text"><b>{% trans "Examples of activities and services:" %}</b> {% trans "Shopping areas, schools and universities, libraries, parks, lakes, rivers, places of worship, healthcare services, public transport, local nonprofit organizations, etc." %}</span>
                        </p>
                    </div>
                </div>
                <div class="sr-only">{{ comm_form.comm_activities.label_tag }}</div>
                {{ comm_form.comm_activities|append_attr:"class:form-control survey-field" }}

                <!-- Cultural -->
                <div class="accordion" id="cultural_interests_accordion">
                    <button id="cultural_interests_btn" class="btn btn-link text-left pl-0 no-underline-link" type="button" data-target="#cultural_interests_example" aria-expanded="false" aria-controls="collapseOne" onclick="toggleAngle(this)">
                        <h5 class="survey-sect-title">{% trans "Cultural or Historical Interests" %}<i class="fas fa-angle-down pl-3"></i></h5>
                    </button>
                    <div id="cultural_interests_example" class="collapse" aria-labelledby="cultural_interests_accordion" data-parent="#cultural_interests_accordion">
                      <p class="collapse-in ml-4 gray-text">
                        <b>{% trans "Use these questions to think more about how you would describe your community..." %}</b><br>
                        &emsp; - {% trans "What are the cultural bonds in your community?" %} <br>
                        &emsp; - {% trans "If your community has a shared history, what is it?" %}<br><br>
                        <span class="blue-text"><b>{% trans "Examples of cultural or historical interests: " %}</b>{% trans "Religious groups, ethnic groups, languages, age groups, immigration status, historic or arts districts, etc."%} </span>
                      </p>
                    </div>
                </div>
                <div class="sr-only">{{ comm_form.cultural_interests.label_tag }}</div>
                {{ comm_form.cultural_interests|append_attr:"class:form-control survey-field" }}

                <div class="accordion" id="economic_interests_accordion">
                    <button id="economic_interests_btn" class="btn btn-link text-left pl-0 no-underline-link" type="button" data-target="#economic_interests_example" aria-expanded="false" aria-controls="collapseOne" onclick="toggleAngle(this)">
                        <h5 class="survey-sect-title">{% trans "Economic or Environmental Interests" %}<i class="fas fa-angle-down pl-3"></i></h5>
                    </button>
                    <div id="economic_interests_example" class="collapse" aria-labelledby="economic_interests_accordion" data-parent="#economic_interests_accordion">
                        <p class="collapse-in ml-4 gray-text">
                            {% blocktrans trimmed %}
                            <b>Use these questions to think more about how you would describe your community...</b><br>
                            &emsp; - Where are residents employed?<br>
                            &emsp; - If there are environmental concerns in your community, what are they?<br><br>
                            <span class="blue-text"><b>Examples of economic or environmental interests:</b> Tourism industry, agricultural workers, mining town, manufacturing center, polluted natural resource, unemployment problem, etc.</span>
                            {% endblocktrans %}
                        </p>
                    </div>
                </div>
                <div class="sr-only">{{ comm_form.economic_interests.label_tag }}</div>
                {{ comm_form.economic_interests|append_attr:"class:form-control survey-field" }}

                <!-- Other -->
                <div class="accordion" id="other_interests_accordion">
                    <button id="other_interests_btn" class="btn btn-link text-left pl-0 no-underline-link" type="button" data-target="#other_interests_example" aria-expanded="false" aria-controls="collapseOne" onclick="toggleAngle(this)">
                        <h5 class="survey-sect-title">{% trans "Community Needs and Concerns" %}<i class="fas fa-angle-down pl-3"></i></h5>
                    </button>
                    <div id="other_interests_example" class="collapse" aria-labelledby="other_interests_accordion" data-parent="#other_interests_accordion">
                      <p class="collapse-in ml-4 gray-text">
                        <b>{% trans "Use these questions to think more about how you would describe your community..." %}</b><br>
                        &emsp; - {% trans "What should politicians and/or map drawers know about your community?" %}<br>
                        &emsp; - {% trans "What are the needs of your community?" %}<br>
                        &emsp; - {% trans "Is there anything else you want to tell us about your community?" %}<br><br>
                        <span class="blue-text"><b>{% trans "Examples of needs or concerns: " %}</b>{% trans "Keep community in the same district or separate into multiple districts, shared policy concerns, need for a social service, relationship to other nearby communities, issues with current district lines" %}</span>
                      </p>
                    </div>
                </div>
                <div class="sr-only">{{ comm_form.other_considerations.label_tag }}</div>
                {{ comm_form.other_considerations|append_attr:"class:form-control survey-field" }}

                <!-- custom question -->
                  <!-- <button id="other_interests_btn" class="btn btn-link text-left pl-0 no-underline-link" type="button" data-target="#other_interests_example" aria-expanded="false" aria-controls="collapseOne" onclick="toggleAngle(this)">
                      <h5 class="survey-sect-title">{% trans "Community Needs and Concerns" %}<i class="fas fa-angle-down pl-3"></i></h5>
                  </button> -->
                {% if has_drive and drive_custom_question %}
                  <p class="my-4 ml-1 gray-text">
                    <b>{{ drive_custom_question }}</b><br>
                  </p>
                  <div class="sr-only">{{ comm_form.custom_response.label_tag }}</div>
                  {{ comm_form.custom_response|append_attr:"class:form-control survey-field" }}
                {% endif %}

                <p class="my-4 ml-1 gray-text">
                  <b>What are the main topics relevant to your community?</b><br>
                  <span class="small text-muted">Add up to five topics that describe your community. Use the "+" to see more options.</span>
                </p>
                <div class="mb-4">
                  {% for key, value in top_tags.items %}
                    <button type="button" class="btn btn-outline-secondary tag-top mb-2" id="tag_{{key}}">{{ value }}</button>
                  {% endfor %}
                  <button type="button" class="btn btn-outline-secondary mb-2" id="tag_more" aria-haspopup="true" aria-expanded="false" style="border-width: 2px;"><i class="fas fa-plus"></i></button>
                </div>
                <div class="sr-only">{{ comm_form.tags.label_tag }}</div>
                {{ comm_form.tags|append_attr:"class:form-control survey-field" }}
                <div class="accordion" id="add_tag_accordion">
                    <button class="btn btn-link text-left pl-0" style="text-decoration:underline;" type="button" data-toggle="collapse" data-target="#add_tag_example" aria-expanded="false" aria-controls="collapseOne">
                    <small>{% trans "Don't see your topic?" %}</small>
                    </button>
                    <div id="add_tag_example" class="collapse" aria-labelledby="add_tag_accordion" data-parent="#add_tag_accordion">
                        <p class="collapse-in ml-0 small">
                            {% blocktrans trimmed %} Try typing a term similar to what you have in mind. If you still have a tag you want to add that isn't available, contact our team with your tag request by emailing <a href="mailto:team@representable.org">team@representable.org</a>. {% endblocktrans%}
                        </p>
                    </div>
                </div>

            </div>
            <div class="row pt-5">
                <div class="col text-center">
                    <button class="btn btn-outline-primary entry-nav-btn mr-4 btn-ls-md" onclick="surveyP1ToSurveyStart()" type="button"><i class="fas fa-angle-left pr-2"></i>{% trans "BACK" %}</button>
                    <button id="surveyP1ToP2_button" class="btn btn-primary entry-nav-btn ml-4 btn-ls-md" type="button">{% trans "NEXT" %}<i class="fas fa-angle-right pl-2"></i></button>
                </div>
            </div>
        </div>
        <!-- modal for census blocks -> census block groups -->
        <div id="tags-select-modal" class="modal fade blue-modal" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content px-lg-5 gray-text">
              <div class="modal-body">
                <button type="button" class="close p-2" aria-label="Close" data-dismiss="modal">
                  <span aria-hidden="true">&times;</span>
                </button>
                <div class="mx-3 my-5">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col px-0">
                        <input class="my-2 mb-3 py-2 w-100" id="search-tags" type="text" placeholder="Search tags..." autofocus>
                        <br>
                      </div>
                    </div>
                    <div class="row vh-50" style="overflow: scroll;">
                      <div class="col px-0" id="tags-col">
                        {% for tag in tags %}
                        <button type="button" class="btn btn-outline-secondary tag-select mb-2" id="tag_select_{{tag.value}}">{{ tag.text }}</button>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
    </div>

    <!-- Community Name Part -->
    <div id="survey-qs-p2" class="d-none">
        <div class="col-lg mt-2 ml-lg-3 mt-lg-5">
            <div id="entry_name_error_alerts">
                {% if comm_form.entry_name.errors %}
                    <script>
                        sessionStorage.setItem("allChecks", "fail");
                    </script>
                    <div id="entry_name_errors" class="alert alert-danger django-alert alert-dismissible fade show form-error" role="alert">
                        <ul class="m-0">
                        {% for error in comm_form.entry_name.errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                        </ul>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
                <div id="need_comm_name" class="alert alert-danger alert-dismissible fade show form-error d-none" role="alert">
                    {% trans "Please include a community name." %}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="row">
                <div id="survey-comm-name-pic" class="col-lg-3">
                    <object type="image/png" class="w-75 pt-2" data="{% static 'img/community-name-page.svg' %}" alt="image of people with a heart above them" style="opacity: 70%;"></object>
                </div>
                <div id="survey-comm-name-header" class="col-lg-9 pl-xl-0">
                    <div class="entry-header">
                        <strong>{% trans "Name your community." %}</strong>
                    </div>

                    <div class="row m-0 info-text">
                        <p>
                            {% trans "Give your community of interest a name. This does not have to be the official name of your community." %}
                        </p>
                    </div>

                    <div class="row m-0 pt-3 info-text">
                        <p class="" style="color: #5996D2">
                            <strong>{% trans "Examples" %}:</strong> {% trans "Cherry Farmers Community, St. Peters Church Community, Riverside Fishing Community" %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="row pt-5">
                <div class="pb-3 text-center col-xl-3 text-xl-left pt-xl-2 pr-xl-0" style="font-size: 1.2rem; color: #5996D2;">
                    <strong>{% trans "Community Name:"%}</strong>
                </div>
                <div class="col-xl-9 pl-xl-0">
                    <div class="sr-only">{{ comm_form.entry_name.label_tag }}</div>
                    {{ comm_form.entry_name|append_attr:"class:form-control survey-field" }}
                </div>
            </div>

            <div class="row pt-5">
                <div class="col text-center">
                    <button class="btn btn-outline-primary no-underline-link entry-nav-btn mr-4 btn-ls-md" onclick="surveyP2ToP1()" type="button"><i class="fas fa-angle-left pr-2"></i>{% trans "BACK" %}</button>
                    <button id="surveyP2ToMap_button" class="btn btn-primary no-underline-link entry-nav-btn ml-4 btn-ls-md" type="button">{% trans "NEXT" %}<i class="fas fa-angle-right pl-2"></i></button>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- modal for community example -->
<div id="comm-example-modal" class="modal fade blue-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content px-xl-5 gray-text">
      <div class="modal-body">
        <button type="button" class="close p-2" aria-label="Close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="mx-3 my-5">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-2 col-md-3 col-4 pr-0 d-flex justify-content-end">
                <img id="comm-example-face" class=" w-xxl-50 w-xl-75 w-100 h-100 mr-0 rounded-circle" src="{% static 'img/example-comm-face.jpg' %}" alt="Kai headshot - example comm author"> </img>
              </div>
              <div class="col-8 my-auto pl-0">
                <h5 class="rounded-1rem bg-light w-100 p-md-4 p-2 mb-0" id="comm-example-title">I'm Kai, and I work for Representable. This is my community.</h5>
              </div>
              <div class="col-2"></div>
            </div>
            <div class="row">
              <div class="col-sm-6 my-4">
                <div class="rounded-1rem bg-light p-md-4 p-2">
                  <h4>Union Square Community</h4>
                  <h6 class="text-muted">League of Women Voters of the City of New York</h6>
                </div>
                <br>
                <img class="w-100 w-xxl-50 d-block mx-auto d-sm-none mb-4" src="{% static 'img/example-comm.png' %}" alt="Example Union Square community map"> </img>
                <div class="rounded-1rem bg-light p-md-4 p-2">
                  <h6>Community Activities and Services</h6>
                  <small>My community is centered around Union Square Park, which serves as an important communal resource. It is the location of a regular farmers' market and many other events that occur there, such as protests and gatherings, as well as have public services like playgrounds and green space. Parts of NYU and The New School are in my community. There are also a number of subway stations in my community, including the large 14 Street-Union Square station, the city's upkeep and development of which affects the area.</small>
                  <h6 class="mt-3">Cultural or Historical Interests</h6>
                  <small>My community is in the center of Manhattan, but somewhat in between traditional neighborhoods, being south of Flatiron, east of Chelsea, and north of the West Village and East Village. We have our own unique cultural identity centered around Union Square Park and the many social and cultural happenings there throughout history.</small>
                </div>
              </div>
              <div class="col-sm-6 my-auto">
                <div class="">
                  <img class="w-100 w-xxl-50 d-none mx-auto d-sm-block" src="{% static 'img/example-comm.png' %}" alt="Example Union Square community map"> </img>
                </div>
                <br>
                <div class="rounded-1rem bg-light p-md-4 p-2">
                  <h6>Environmental or Economic Interests</h6>
                  <small>My community is impacted by rising costs of living, which threatens to push many residents out or make residing here more economical challenging. The maintenance of the Union Square green space, valuable in a dense urban environment, is also important.</small>
                  <h6 class="mt-3">Community Needs and Concerns</h6>
                  <small>My community is often split up in redistricting, divided between congressional districts, state house and senate districts, and NYC city council and state assembly districts, which dilutes our interests.</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
