{% load i18n %}
{% load widget_tweaks %}
<div class="text-center">
    <div id="entry-addr-form" class="pb-5 w-lg-75 w-xl-50">
        <div class="col-lg">
            <div class="entry-step">
                {% trans "Step 1" %}
            </div>
            <div class="entry-header">
                <strong>{% trans "Tell us about yourself." %} </strong>
            </div>
            <div id="need_name" class="alert alert-danger alert-dismissible fade show form-error d-none" role="alert">
                {% trans "Please include your name." %}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="need_address" class="alert alert-danger alert-dismissible fade show form-error d-none" role="alert">
                {% trans "Please include your entire address." %}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="accordion" id="privacy_accordion">
                <button class="btn btn-link text-left pl-0" style="text-decoration:underline;" type="button" data-toggle="collapse" data-target="#privacy_example" aria-expanded="false" aria-controls="collapseOne">
                {% trans "Why do we need your information?" %}
                </button>
                <div id="privacy_example" class="collapse" aria-labelledby="privacy_accordion" data-parent="#privacy_accordion">
                    <p class="collapse-in ml-0">
                        {% url 'main:privacy' as url1%}
                        {% url 'main:terms' as url2%}

                        {% blocktrans trimmed %} Your personal privacy is our highest priority. We gather personal
                        information to verify that you are a real person. If you choose to
                        submit this entry to an organization, the administrators of the organization
                        will have access to this information. Learn more about our
                        commitment to privacy on our <a target="_blank" rel="noopener noreferrer" href="{{url1}}">Privacy</a>
                        and <a target="_blank" rel="noopener noreferrer" href="{{url2}}">Terms</a> pages. {% endblocktrans%}
                    </p>
                </div>
            </div>
            <div id="user_name_error_alerts">
                {% if comm_form.user_name.errors %}
                    <script>
                        sessionStorage.setItem("allChecks", "fail");
                    </script>
                    <div id="user_name_errors" class="alert  django-alert alert-dismissible fade show form-error" role="alert">
                        <ul class="m-0">
                        {% for error in comm_form.user_name.errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                        </ul>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
            </div>
            <div class="row my-2">
                <div class="col">
                    <small class="ml-2">{% trans "Your Name"%} <small class="text-required">*</small></small>
                    <div class="sr-only">{{ comm_form.user_name.label_tag }}</div>
                    {{ comm_form.user_name|append_attr:"class:form-control addr-field" }}
                </div>
            </div>

            <div id="addr_form_error_alerts">
                {% if addr_form.errors %}
                    <script>
                        sessionStorage.setItem("allChecks", "fail");
                    </script>
                    <div id="addr_form_errors" class="alert  django-alert alert-dismissible fade show form-error" role="alert">
                        <ul class="m-0">
                        {% for error in addr_form.errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                        </ul>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
            </div>
            <div id="street_error_alerts">
                {% if addr_form.street.errors %}
                    <script>
                        sessionStorage.setItem("allChecks", "fail");
                    </script>
                    <div id="street_errors" class="alert  django-alert alert-dismissible fade show form-error" role="alert">
                        <ul class="m-0">
                        {% for error in addr_form.street.errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                        </ul>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
            </div>
            <div class="form-row my-1">
                <div class="col">
                    <small class="m-2">{% trans "Street" %} {% if address_required %}<small class="text-required">*</small>{% endif %}</small>
                    <div class="sr-only">{{ addr_form.street.label_tag }}</div>
                    {{ addr_form.street|append_attr:"class:form-control addr-field" }}
                </div>
            </div>
            <div id="city_error_alerts">
                {% if addr_form.city.errors %}
                    <script>
                        sessionStorage.setItem("allChecks", "fail");
                    </script>
                    <div id="city_errors" class="alert  django-alert alert-dismissible fade show form-error" role="alert">
                        <ul class="m-0">
                        {% for error in addr_form.city.errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                        </ul>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
            </div>
            <div id="state_error_alerts">
                {% if addr_form.state.errors %}
                    <script>
                        sessionStorage.setItem("allChecks", "fail");
                    </script>
                    <div id="state_errors" class="alert  django-alert alert-dismissible fade show form-error" role="alert">
                        <ul class="m-0">
                        {% for error in addr_form.state.errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                        </ul>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
            </div>
            <div class="form-row my-1">
                <div class="col-xs-6 col-md-6">
                    <small class="m-2">{% trans "City" %} {% if address_required %}<small class="text-required">*</small>{% endif %}</small>
                    <div class="sr-only">{{ addr_form.city.label_tag }}</div>
                    {{ addr_form.city|append_attr:"class:form-control addr-field" }}
                </div>
                <div class="col-xs-6 col-md-6">
                    <small class="m-2">{% trans "State" %} {% if address_required %}<small class="text-required">*</small>{% endif %}</small>
                    <div class="sr-only">{{ addr_form.state.label_tag }}</div>
                    {{ addr_form.state|append_attr:"class:form-control addr-field" }}
                </div>
            </div>
            <div id="zipcode_error_alerts">
                {% if addr_form.zipcode.errors %}
                    <script>
                        sessionStorage.setItem("allChecks", "fail");
                    </script>
                    <div id="zipcode_errors" class="alert  django-alert alert-dismissible fade show form-error" role="alert">
                        <ul class="m-0">
                        {% for error in addr_form.zipcode.errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                        </ul>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
            </div>
            <div class="form-row my-1">
                <div class="col">
                    <small class="m-2">{% trans "Zipcode" %} {% if address_required %}<small class="text-required">*</small>{% endif %}</small>
                    <div class="sr-only">{{ addr_form.zipcode.label_tag }}</div>
                    {{ addr_form.zipcode|append_attr:"class:form-control addr-field" }}
                </div>
            </div>
            <div class="row pt-5">
                <div class="col text-center">
                    <button id="entry_address_button" class="btn btn-primary no-underline-link entry-nav-btn btn-ls-md" type="button">{% trans "NEXT" %}<i class="fas fa-angle-right pl-2"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
