{% extends 'main/base.html' %}
{% load leaflet_tags %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="container">
    <div class="row m-sm-5">
        <div id="entry_preview_image" class="col-lg-4 col-md-12">
            <img src="{% static 'img/entry_preview_map.svg' %}" alt="Map with community selected"/>
        </div>
        <div id="entry_preview_intro" class="col-lg-8">
            <h3>{% trans "Add your community to the map."%}</h3>
            <p style="font-size: 17px;" class="w-lg-75">{% trans "Mapping your community and identifying its shared interests allows public officials to take your community’s concerns into account."%}</p>
        </div>
    </div>
    <div class="row m-sm-5">
        <div id="entry_preview_info" class="col alert alert-info d-flex" role="alert">
            <div class="pr-5 py-xl-4">
                <p class="entry-pr-gerry-txt" style="font-size: 18px;"><strong>{% trans "Gerrymandering" %}</strong> {% trans "is silencing communities across the country." %}</p>
                <span class="entry-pr-gerry-txt" style="font-size: 17px;">{% trans "Politicians have been splitting up or packing together communities into districts that silence their voices. Gathering communities of interest helps fight gerrymandering."%}</span>
            </div>
            <div id="entry_video_wrap">
                <div id="entry_preview_video" class="ml-2">
                    <iframe width="420" height="235" src="https://www.youtube.com/embed/vUbZoyCCR44?"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-sm-5">
        <div id="entry_preview_button" class="col">
            <a class="btn btn-outline-primary m-2 mb-lg-3 mb-5 btn-lg btn-ls-md" href="{% url 'main:state_selection' %}">
                {% trans "ADD MY COMMUNITY" %}
            </a>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
       
        <script type="text/javascript">
          // Track video plays
          document.getElementById("entry_preview_video").addEventListener("click", function() {
              mixpanel.track("Clicked redistricting video");
          });
          
        </script>

        {% endblock %}

