{% load i18n %}
{% load widget_tweaks %}

<!-- Modal -->
<div id="entry-map-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close p-2" aria-label="Close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                </button>
                <div class="m-5">
                    {% blocktrans %}
                        <p><strong>Draw your community by clicking units on the map.</strong></p>
                    {% endblocktrans %}
                    {% blocktrans %}
                        <p>Make sure that all your community is contained within the highlighted units, and that it does not contain gaps. The units are <a class="no-underline-link" href="https://www.census.gov/programs-surveys/geography/about/glossary.html#par_textimage_4" target="_blank"><strong>census block groups</strong></a>, which are used by map drawers to draw voting districts.</p>
                    {% endblocktrans %}
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col text-center">
                                <div id="modal-geocoder" class="geocoder my-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal that pops up when the help button is clicked on mobile -->
<div id="map-help-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close p-2" aria-label="Close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                </button>
                <div class="container h-100 p-4">
                    <div class="comm-info-text mt-2 mb-2">{% trans "How to draw my community?" %}</div>
                    <p class="mb-3 small">
                        {% blocktrans %}
                            Select units on the map by clicking with your mouse. To deselect a unit, click it again. Watch the following video to learn more.
                        {% endblocktrans %}
                    </p>

                    <div class="m-3">
                        <div class="rounded embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/aQ4PhsxYGUE" allowfullscreen></iframe>
                        </div>
                    </div>

                    <div class="rounded accordion map-info-item text-center mt-3 mb-3" id="map_faq_accordion">
                        <button class="btn btn-link text-left comm-item-text pl-0 no-underline-link" type="button" data-target="#mobile_map_faq" aria-expanded="false" aria-controls="collapseOne" onclick="toggleAngle(this)">
                            {% trans "FAQ" %}<i class="fas fa-angle-down pl-3 pt-2 pb-2"></i>
                        </button>
                        <div id="mobile_map_faq" class="collapse text-center" aria-labelledby="map_faq_accordion" data-parent="#mobile_map_faq">
                            <div class="collapse-in map-survey-response d-inline-block text-left w-75">
                                <h6><strong>{% trans "What are the units?" %}</strong></h6>
                                <p>
                                    {% blocktrans %}
                                        The units are <strong>census block groups</strong>, which are used by map drawers to draw voting districts. 
                                    {% endblocktrans %}
                                </p>

                                <h6><strong>{% trans "Why am I unable to save my map?" %}</strong></h6>
                                <p>
                                    {% blocktrans %}
                                        Make sure that it does not contain gaps. Communities of Interest must be contiguous. 
                                    {% endblocktrans %}
                                </p>

                                <h6><strong>{% trans "Can I map outside of my state?" %}</strong></h6>  
                                <p>
                                    {% blocktrans %}
                                        In order to map outside of your state, you need to add a new community within the other state.  
                                    {% endblocktrans %}
                                </p>

                                <h6><strong>{% trans "How large should my community be?" %}</strong></h6>  
                                <p>
                                    {% blocktrans %}
                                        Your community can be as small as one unit or as large as 800 units.
                                    {% endblocktrans %}
                                </p>                                                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="map-comm-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body p-1">
                <button type="button" class="close p-2" aria-label="Close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                </button>

                <h6 id="modal-comm-name" class="dropdown-header comm-info-text w-75 pt-5">University of Texas Students:</h6>
                <div class="accordion ml-4 mr-4 mt-1 map-info-item" id="mobile-map-economic-interests-accordion">
                    <button class="btn btn-link text-left comm-item-text pl-2 no-underline-link" type="button" data-target="#mobile-map-economic-interests-resp" aria-expanded="false" aria-controls="collapseOne" onclick="toggleAngle(this)">
                        {% trans "Economic and Environmental Interests" %}<i class="fas fa-angle-down pl-3 pr-5 pt-2 pb-2"></i>
                    </button>
                    <div id="mobile-map-economic-interests-resp" class="collapse pl-2 pb-1" aria-labelledby="mobile-map-economic-interests-accordion" data-parent="#mobile-map-economic-interests-accordion">
                        <p class="collapse-in map-survey-response">
                            Where do people in your community gather or socialize? Where does your community get its services?
                        </p>
                    </div>
                </div>
                <div class="accordion map-info-item ml-4 mr-4 mt-3" id="mobile-map-activities-accordion">
                    <button class="btn btn-link text-left comm-item-text pl-2 no-underline-link" type="button" data-target="#mobile-map-activities-resp" aria-expanded="false" aria-controls="collapseOne" onclick="toggleAngle(this)">
                        {% trans "Communities Activities and Services" %}<i class="fas fa-angle-down pl-3 pr-5 pt-2 pb-2"></i>
                    </button>
                    <div id="mobile-map-activities-resp" class="collapse pl-2 pb-1" aria-labelledby="mobile-map-activities-accordion" data-parent="#mobile-map-activities-accordion">
                        <p class="collapse-in map-survey-response">
                            {% blocktrans %} Where do people in your community gather or socialize? <br>Where does your community get its services? {% endblocktrans %}
                        </p>
                    </div>
                </div>
                <div class="accordion map-info-item ml-4 mr-4 mt-3" id="mobile-map-cultural-interests-accordion">
                    <button class="btn btn-link text-left comm-item-text pl-2 no-underline-link" type="button" data-target="#map-cultural-interests-resp" aria-expanded="false" aria-controls="collapseOne" onclick="toggleAngle(this)">
                        {% trans "Cultural or Historical Interests" %}<i class="fas fa-angle-down pl-3 pr-5 pt-2 pb-2"></i>
                    </button>
                    <div id="mobile-map-cultural-interests-resp" class="collapse pl-2 pb-1" aria-labelledby="map_cultural_activities_accordion" data-parent="#mobile-map-cultural-interests-accordion">
                        <p class="collapse-in map-survey-response">
                            {% blocktrans %} Where do people in your community gather or socialize? <br>Where does your community get its services? {% endblocktrans %}
                        </p>
                    </div>
                </div>
                <div class="accordion map-info-item ml-4 mr-4 mt-3 mb-5" id="mobile-map-other-interests-accordion">
                    <button class="btn btn-link text-left comm-item-text pl-2 no-underline-link" type="button" data-target="#mobile-map-other-interests-resp" aria-expanded="false" aria-controls="collapseOne" onclick="toggleAngle(this)">
                        {% trans "Other Interests and Concerns" %}<i class="fas fa-angle-down pl-3 pr-5 pt-2 pb-2"></i>
                    </button>
                    <div id="mobile-map-other-interests-resp" class="collapse pl-2 pb-1" aria-labelledby="mobile-map-other-interests-accordion" data-parent="#mobile-map-other-interests-accordion">
                        <p class="collapse-in map-survey-response">
                            {% blocktrans %} Where do people in your community gather or socialize? <br>Where does your community get its services? {% endblocktrans %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Map -->
<div id='map-card' class="card-body">
    <div id="map-top-row">
        <div class="container-fluid pl-1 pl-md-3">
            <div class="row">

                <!-- Help and community button on mid screens and up -->

                <!-- Help Button and Dropdown -->
                <div class="col-1 text-md-right align-middle d-none d-md-block">
                    <div id="map-help-dropdown" class="dropdown text-md-right">
                        <button id="map-help-btn" class="btn btn-outline-primary btn-circle btn-md mapping-icon mapping-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">?</button>

                        <div id="map-help-menu" class="dropdown-menu vw-md-75 vw-lg-50" aria-labelledby="map-help-btn">
                            <div class="container pl-5 pr-5 pb-5 h-100">
                                <div class="comm-info-text mt-2 mb-2">{% trans "How to draw my community?" %}</div>
                                <p class="mb-3 small">
                                    {% blocktrans %}
                                        Select units on the map by clicking with your mouse. To deselect a unit, click it again. Watch the following video to learn more.
                                    {% endblocktrans %}
                                </p>

                                <div class="m-3">
                                    <div class="rounded embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/aQ4PhsxYGUE" allowfullscreen></iframe>
                                    </div>
                                </div>

                                <div class="rounded accordion map-info-item text-center mt-3" id="map_faq_accordion">
                                    <button class="btn btn-link text-left comm-item-text pl-0 no-underline-link" type="button" data-target="#map_faq" aria-expanded="false" aria-controls="collapseOne" onclick="toggleAngle(this)">
                                        {% trans "FAQ" %}<i class="fas fa-angle-down pl-3 pt-2 pb-2"></i>
                                    </button>
                                    <div id="map_faq" class="collapse text-center" aria-labelledby="map_faq_accordion" data-parent="#map_faq">
                                        <div class="collapse-in map-survey-response d-inline-block text-left w-75">
                                            <h5><strong>{% trans "What are the units?" %}</strong></h5>
                                            <p>
                                                {% blocktrans %}
                                                    The units are <strong>census block groups</strong>, which are used by map drawers to draw voting districts. 
                                                {% endblocktrans %}
                                            </p>

                                            <h5><strong>{% trans "Why am I unable to save my map?" %}</strong></h5>
                                            <p>
                                                {% blocktrans %}
                                                    Make sure that it does not contain gaps. Communities of Interest must be contiguous. 
                                                {% endblocktrans %}
                                            </p>

                                            <h5><strong>{% trans "Can I map outside of my state?" %}</strong></h5>  
                                            <p>
                                                {% blocktrans %}
                                                    In order to map outside of your state, you need to add a new community within the other state.  
                                                {% endblocktrans %}
                                            </p>

                                            <h5><strong>{% trans "How large should my community be?" %}</strong></h5>  
                                            <p>
                                                {% blocktrans %}
                                                    Your community can be as small as one unit or as large as 800 units.
                                                {% endblocktrans %}
                                            </p>                                                    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Community Button and Dropdown -->
                <div id="map-comm-info" class="col-1 col-md-4 col-lg-3 col-xl-2 d-md-block">
                    <div id="map-comm-dropdown" class="dropdown text-md-left">
                        <button class="btn btn-primary d-none d-md-inline-block mapping-icon mapping-btn" data-toggle="dropdown" style="border-radius: .5rem;" id="map-comm-btn" aria-haspopup="true" aria-expanded="false">
                            {% blocktrans %}
                                Community Information
                            {% endblocktrans %}
                        </button>

                        <div id="map-comm-menu" class="dropdown-menu" aria-labelledby="map-comm-btn">
                            <h6 id="dropdown-comm-name" class="dropdown-header comm-info-text">University of Texas Students:</h6>
                            <div class="dropdown-item accordion map-info-item ml-4 mr-4 mt-1" id="map-economic-interests-accordion">
                                <button class="btn btn-link text-left comm-item-text pl-0 no-underline-link" type="button" data-target="#map-economic-interests-resp" aria-expanded="false" aria-controls="collapseOne" onclick="toggleAngle(this)">
                                    {% trans "Economic and Environmental Interests" %}<i class="fas fa-angle-down pl-3 pr-5 pt-2 pb-2"></i>
                                </button>
                                <div id="map-economic-interests-resp" class="collapse" aria-labelledby="comm_activities_accordion" data-parent="#map-economic-interests-resp">
                                    <p class="collapse-in map-survey-response">
                                        Where do people in your community gather or socialize? Where does your community get its services?
                                    </p>
                                </div>
                            </div>
                            <div class="dropdown-item accordion map-info-item ml-4 mr-4 mt-3" id="map-activities-accordion">
                                <button class="btn btn-link text-left comm-item-text pl-0 no-underline-link" type="button" data-target="#map-activities-resp" aria-expanded="false" aria-controls="collapseOne" onclick="toggleAngle(this)">
                                    {% trans "Communities Activities and Services" %}<i class="fas fa-angle-down pl-3 pr-5 pt-2 pb-2"></i>
                                </button>
                                <div id="map-activities-resp" class="collapse" aria-labelledby="map-activities-accordion" data-parent="#map-activities-accordion">
                                    <p class="collapse-in map-survey-response">
                                        {% blocktrans %} Where do people in your community gather or socialize? <br>Where does your community get its services? {% endblocktrans %}
                                    </p>
                                </div>
                            </div>
                            <div class="dropdown-item accordion map-info-item ml-4 mr-4 mt-3" id="map-cultural-interests-accordion">
                                <button class="btn btn-link text-left comm-item-text pl-0 no-underline-link" type="button" data-target="#map-cultural-interests-resp" aria-expanded="false" aria-controls="collapseOne" onclick="toggleAngle(this)">
                                    {% trans "Cultural or Historical Interests" %}<i class="fas fa-angle-down pl-3 pr-5 pt-2 pb-2"></i>
                                </button>
                                <div id="map-cultural-interests-resp" class="collapse" aria-labelledby="map_cultural_activities_accordion" data-parent="#map-cultural-interests-accordion">
                                    <p class="collapse-in map-survey-response">
                                        {% blocktrans %} Where do people in your community gather or socialize? <br>Where does your community get its services? {% endblocktrans %}
                                    </p>
                                </div>
                            </div>
                            <div class="dropdown-item accordion map-info-item ml-4 mr-4 mt-3 mb-3" id="map-other-interests-accordion">
                                <button class="btn btn-link text-left comm-item-text pl-0 no-underline-link" type="button" data-target="#map-other-interests-resp" aria-expanded="false" aria-controls="collapseOne" onclick="toggleAngle(this)">
                                    {% trans "Other Interests and Concerns" %}<i class="fas fa-angle-down pl-3 pr-5 pt-2 pb-2"></i>
                                </button>
                                <div id="map-other-interests-resp" class="collapse" aria-labelledby="map-other-interests-accordion" data-parent="#map-other-interests-accordion">
                                    <p class="collapse-in map-survey-response">
                                        {% blocktrans %} Where do people in your community gather or socialize? <br>Where does your community get its services? {% endblocktrans %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Help and community button on mobile screens -->
                <div class="col-1 d-md-none p-0">
                    <div class="row pt-3">
                        <div class="col-12 text-center pl-0">
                            <button id="mobile-map-help-btn" class="btn btn-outline-primary btn-circle btn-md mapping-icon mapping-btn">?</button>
                        </div>
                        <div class="col-12 text-center pl-0 pt-2">
                            <button id="mobile-map-comm-btn" class="btn btn-primary mapping-icon mapping-btn" style="border-radius: .5rem;" data-toggle="dropdown" style="border-radius: .5rem;" id="map-comm-btn" aria-haspopup="true" aria-expanded="false">
                                {% blocktrans %}
                                    +
                                {% endblocktrans %}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-10 col-md-7 col-lg-8 col-xl-9">
                    <div id="geocoder" class="geocoder my-3 ml-xl-5"></div>
                </div>

            </div>
        </div>
    </div>


    <!-- Navigation buttons-->
    <div id="map-bottom-row">
        <div class="container-fluid">
            <div class="row">
                <div class="col text-center d-none d-lg-block">
                    <button class="btn btn-primary btn-lg no-underline-link entry-nav-btn mr-4 mapping-icon" onclick="mapToSurveyP2()"><i class="fas fa-angle-left pr-2"></i>{% trans "Back" %}</button>
                    <button id="mapToPrivacy" class="btn btn-primary btn-lg no-underline-link entry-nav-btn ml-4 mapping-icon">{% trans "Save" %}<i class="fas fa-angle-right pl-2"></i></button>
                </div>
                <div class="col text-center d-lg-none">
                    <button class="btn btn-primary no-underline-link entry-nav-btn mr-4 mapping-icon" onclick="mapToSurveyP2()"><i class="fas fa-angle-left pr-2"></i>{% trans "Back" %}</button>
                    <button id="mapToPrivacyMobile" class="btn btn-primary no-underline-link entry-nav-btn ml-4 mapping-icon">{% trans "Save" %}<i class="fas fa-angle-right pl-2"></i></button>
                </div>
            </div>
        </div>
    </div>

    <span class="float-right my-2">
        <button class="btn btn-secondary btn-sm mb-2 mr-2 d-none" id="shepherd-btn" onclick="myTour.start()" type="button">{% trans "Step-by-step guide" %}</button>
    </span>

    <!-- Actual Map -->
    <div class="map-bounding-box my-2 collapse">
        <div class="map-box">
            <div id='menu'></div>
            <div id='map' class='draw_polygon_map' onload="map.resize()">
                <div id="warning-box-id" class="map-popup-box warning-box">
                </div>
            </div>
        </div>
    </div>
</div>
