{% load i18n %}
{% load widget_tweaks %}

<div class="row row-equal-cols">
    <div class="col-lg m-2">
        <div class="collapse-card card-section">
            <div id="terms-card" class="card">
                <div class="card-header text-header-card">
                    <strong>
                    {% trans "5. Privacy and Terms of Use" %}
                    </strong>
                    <input class="btn btn-secondary float-right button-edit" type="button" value="Edit Section">
                </div>
                <div class="card-body collapse show">
                    <p class="card-text">
                        {% blocktrans %}Your privacy is our highest priority. We gather your identifying information to verify
                        that you are a real person. We will not publicly share anyone's individual personal information,
                        such as name, address, or email. {% endblocktrans %}
                        {% if has_drive %}
                        <br>
                        We will only share your information with the organizers of {{organization_name}} because you are adding the community through their community mapping drive.
                        {% endif %}
                    </p>
                    <div class="toc-check">
                        <input class="toc-check-input" type="checkbox" value="" id="toc_check" required>
                        <label class="toc-check-label" for="toc_check">
                            {% url 'main:privacy' as url1%}
                            {% url 'main:terms' as url2%}

                            {% blocktrans %} Click here to indicate that you have read and agree to the
                            <a target="_blank" rel="noopener noreferrer" href={{url2}}>Terms of Use</a> and
                            <a target="_blank" rel="noopener noreferrer" href="{{url1}}">Privacy Policy</a>.
                            <small class="text-danger">(Required)</small>
                            {% endblocktrans %}
                        </label>
                    </div>
                    <hr>
                    {% blocktrans %} Any saved communities are final. In order to edit a saved community you will need
                    to create a new community and delete the old one. {% endblocktrans %}

                    <div class="row">
                        <div class="col text-center"><div class="g-recaptcha" data-sitekey="{{recaptcha_public}}"></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>