{% extends 'main/base.html' %}
{% load leaflet_tags %}
{% load static %}
{% load widget_tweaks %}

{% block head %}
{{ form.media.css }}
{% leaflet_js %}
{% leaflet_css %}

<!-- https://docs.mapbox.com/mapbox-gl-js/example/mapbox-gl-draw/ -->
<!--  Mapbox GL JS-->
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<!--  GeoCoder -->
<meta name='robots' content='noindex, nofollow'>
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.1.0/mapbox-gl-geocoder.min.js'></script>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.1.0/mapbox-gl-geocoder.css' type='text/css' />
<!--  Polygon Draw-->
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css' rel='stylesheet' />
<!--  Turf JS for calculating the area. -->
<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/turf/v3.0.11/turf.min.js'></script>
<!-- Shepherd.js -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/shepherd.js@latest/dist/css/shepherd.css"/>
<script src="https://cdn.jsdelivr.net/npm/shepherd.js@latest/dist/js/shepherd.min.js"></script>

<!--  Mapbox Draw -->
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.js'></script>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.css' type='text/css' />
<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
<script type="text/javascript">
    sessionStorage.setItem("allChecks", "pass");
    var mapbox_user_name = "{{mapbox_user_name}}";
    var drive_id = "{{drive_id}}";
    var organization_id = "{{organization_id}}";
    var drive_name = "{{drive_name}}";
    var organization_name = "{{organization_name}}";
    var state_abbr = "{{state.abbr}}";
    var state_name = "{{state.name}}";
    mixpanel.track("Entry Page Loaded",
    {
     "drive_id": drive_id,
     "drive_name": drive_name,
     "organization_id": organization_id,
     "organization_name": organization_name,
    }
    );
</script>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row row-content">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8">
            <!-- START FORM BODY -->
            <div class="row mt-3">
                <!-- Entry Form -->
                <form id="entryForm" method="post" onSubmit="return formValidation();">
                    <div class="row row-equal-cols">
                        <div class="col-lg  m-2">
                            <h1 class="font-weight-light">
                                Map your community
                            </h1>

                            <p class="">
                                Fill out the form below and draw a map to
                                add your community to Representable.org
                                and make your voice heard.
                                <br>
                                Follow the instructions in each section to get started.
                            </p>
                            {% csrf_token %}
                            <!-- {# Include the non-field error fields #} -->
                            {% if comm_form.non_field_errors %}
                            <div class="non-field-errors form-error">
                                {% for err in comm_form.non_field_errors %}
                                <p class="form-error">{{ err }}</p>
                                {% endfor %}
                            </div>
                            {% endif %}
                            {% if comm_form.errors %}
                            <div id="django_form_errors">
                            </div>
                            {% endif %}
                            <div id="form_error" class="alert alert-danger alert-dismissible fade show form-error d-none" role="alert">
                                There was an error in submitting your community. Please check over and
                                ensure that you have filled out all required fields.
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row row-equal-cols">
                        <div class="col-lg  m-2">
                            <div class="collapse-card card-section active-section">
                                <div class="card">
                                    <div class="card-header text-header-card">
                                        <strong>1. Your Identifying Information </strong>
                                    </div>
                                    <div class="card-body collapse show">
                                        <div class="accordion" id="privacy_accordion">
                                            <button class="btn btn-link text-left pl-0" type="button" data-toggle="collapse" data-target="#privacy_example" aria-expanded="false" aria-controls="collapseOne">
                                            Why do we need your information?
                                            </button>
                                            <div id="privacy_example" class="collapse" aria-labelledby="headingOne" data-parent="#privacy_accordion">
                                                <p class="collapse-in ml-0">
                                                    Your personal privacy is our highest priority. We gather personal
                                                    information to verify that you are a real person. If you choose to
                                                    submit this entry to a drive, the administrators of the drive
                                                    will have access to this information. Learn more about our
                                                    commitment to privacy on our <a target="_blank" rel="noopener noreferrer" href="{% url 'main:privacy' %}">Privacy</a> and <a target="_blank" rel="noopener noreferrer" href="{% url 'main:terms' %}">Terms</a> pages.
                                                </p>
                                            </div>
                                        </div>
                                        <div id="user_name_error_alerts">
                                            {% if comm_form.user_name.errors %}
                                                <script>
                                                    sessionStorage.setItem("allChecks", "fail");
                                                </script>
                                                <div id="user_name_errors" class="alert  django-alert alert-dismissible fade show form-error" role="alert">
                                                    <ul class="m-0">
                                                    {% for error in comm_form.user_name.errors %}
                                                        <li>{{ error|escape }}</li>
                                                    {% endfor %}
                                                    </ul>
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                            {% endif %}
                                        </div>
                                        <p class="card-text mb-1 mt-2">

                                            Your Name <small class="text-danger">(Required)</small>
                                        </p>
                                        <div class="row my-2">
                                            <div class="col-6">
                                                {{ comm_form.user_name|append_attr:"class:form-control" }}
                                            </div>
                                        </div>

                                        <div id="addr_form_error_alerts">
                                            {% if addr_form.errors %}
                                                <script>
                                                    sessionStorage.setItem("allChecks", "fail");
                                                </script>
                                                <div id="addr_form_errors" class="alert  django-alert alert-dismissible fade show form-error" role="alert">
                                                    <ul class="m-0">
                                                    {% for error in addr_form.errors %}
                                                        <li>{{ error|escape }}</li>
                                                    {% endfor %}
                                                    </ul>
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                            {% endif %}
                                        </div>
                                        <p class="card-text mb-1 mt-2">
                                            Your Address <small class="text-danger">(Required)</small>
                                        </p>
                                        <div id="street_error_alerts">
                                            {% if addr_form.street.errors %}
                                                <script>
                                                    sessionStorage.setItem("allChecks", "fail");
                                                </script>
                                                <div id="street_errors" class="alert  django-alert alert-dismissible fade show form-error" role="alert">
                                                    <ul class="m-0">
                                                    {% for error in addr_form.street.errors %}
                                                        <li>{{ error|escape }}</li>
                                                    {% endfor %}
                                                    </ul>
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="form-row my-1">
                                            <div class="col-xs-2 col-md-6">
                                                <small class="m-2">Street</small>
                                                {{ addr_form.street|append_attr:"class:form-control" }}
                                            </div>
                                        </div>
                                        <div id="city_error_alerts">
                                            {% if addr_form.city.errors %}
                                                <script>
                                                    sessionStorage.setItem("allChecks", "fail");
                                                </script>
                                                <div id="city_errors" class="alert  django-alert alert-dismissible fade show form-error" role="alert">
                                                    <ul class="m-0">
                                                    {% for error in addr_form.city.errors %}
                                                        <li>{{ error|escape }}</li>
                                                    {% endfor %}
                                                    </ul>
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div id="state_error_alerts">
                                            {% if addr_form.state.errors %}
                                                <script>
                                                    sessionStorage.setItem("allChecks", "fail");
                                                </script>
                                                <div id="state_errors" class="alert  django-alert alert-dismissible fade show form-error" role="alert">
                                                    <ul class="m-0">
                                                    {% for error in addr_form.state.errors %}
                                                        <li>{{ error|escape }}</li>
                                                    {% endfor %}
                                                    </ul>
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="form-row my-1">
                                            <div class="col-xs-2 col-md-2">
                                                <small class="m-2">City</small>
                                                {{ addr_form.city|append_attr:"class:form-control" }}
                                            </div>
                                            <div class="col-xs-2 col-md-2">
                                                <small class="m-2">State</small>
                                                {{ addr_form.state|append_attr:"class:form-control" }}
                                            </div>
                                        </div>
                                        <div id="zipcode_error_alerts">
                                            {% if addr_form.zipcode.errors %}
                                                <script>
                                                    sessionStorage.setItem("allChecks", "fail");
                                                </script>
                                                <div id="zipcode_errors" class="alert  django-alert alert-dismissible fade show form-error" role="alert">
                                                    <ul class="m-0">
                                                    {% for error in addr_form.zipcode.errors %}
                                                        <li>{{ error|escape }}</li>
                                                    {% endfor %}
                                                    </ul>
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="form-row my-1">
                                            <div class="col-xs-2 col-md-4">
                                                <small class="m-2">Zipcode</small>
                                                {{ addr_form.zipcode|append_attr:"class:form-control" }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-equal-cols">
                        <div class="col-lg m-2">
                            <div class="collapse-card card-section ">
                                <div class="card">
                                    <div class="card-header text-header-card">
                                        <strong>2. Your Community's Shared Interests</strong>
                                    </div>
                                    <div class="card-body">
                                        <p>
                                            To submit your community entry, you must provide a response to <b>at least one</b> of the questions below.
                                            Please respond to all the questions that apply.
                                        </p>
                                        <hr>
                                        <!-- Form Errors -->
                                        {% if comm_form.cultural_interests.errors %}
                                        <div id="interests-error-alerts">
                                            <script>
                                                sessionStorage.setItem("allChecks", "fail");
                                            </script>
                                            <div id="interests_missing" class="alert alert-danger django-alert alert-dismissible fade show form-error" role="alert">
                                                Please fill out at least one of the interest fields.
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                        </div>
                                        {% endif %}
                                        <div id="need_one_interest" class="alert alert-danger alert-dismissible fade show form-error d-none" role="alert">
                                            Please fill out at least one of the interest fields.
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <!-- Form Errors END -->
                                        <!-- Sections: -->
                                        <!--  Economic -->
                                        <h5 class="card-text">Economic Interests</h5>
                                        <!-- <div id="economic_error_alerts">
                                            {% if comm_form.economic_interests.errors %}
                                                <script>
                                                    sessionStorage.setItem("allChecks", "fail");
                                                </script>
                                                <div id="economic_errors" class="alert alert-danger django-alert alert-dismissible fade show form-error" role="alert">
                                                    <ul class="m-0">
                                                    {% for error in comm_form.economic_interests.errors %}
                                                        <li>{{ error|escape }}</li>
                                                    {% endfor %}
                                                    </ul>
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                            {% endif %}
                                        </div> -->
                                        <p class="card-text mb-0">
                                            Is there a shared economy in the geographic area of your community?
                                            How and where are residents employed?
                                            Are there shared environmental concerns such as landfills or water quality?
                                        </p>
                                        <div class="accordion" id="economic_interests_accordion">
                                            <button class="btn btn-link text-left pl-0" type="button" data-toggle="collapse" onclick="changeText(this)" data-target="#economic_interests_example" aria-expanded="false" aria-controls="collapseOne">
                                            Show Examples
                                            </button>
                                            <div id="economic_interests_example" class="collapse" aria-labelledby="headingOne" data-parent="#economic_interests_accordion">
                                                <p class="collapse-in ml-0">
                                                    Tech firms and their employees, tourism, agriculture such as the cherry growers,
                                                    shipping and transportation hubs, manufacturing centers, natural resources, university towns,
                                                    unemployment issues, waterfront communities, business associations.
                                                </p>
                                            </div>
                                        </div>
                                        {{ comm_form.economic_interests|append_attr:"class:form-control" }}
                                        <hr>
                                        <!-- Activities -->
                                        <h5 class="card-text">Community Activities and Services</h5>
                                        <!-- <div id="activities_error_alerts">
                                            {% if comm_form.comm_activities.errors %}
                                                <script>
                                                    sessionStorage.setItem("allChecks", "fail");
                                                </script>
                                                <div id="activities_errors" class="alert alert-danger django-alert alert-dismissible fade show form-error" role="alert">
                                                    <ul>
                                                    {% for error in comm_form.comm_activities.errors %}
                                                        <li>{{ error|escape }}</li>
                                                    {% endfor %}
                                                    </ul>
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                            {% endif %}
                                        </div> -->
                                        <p class="card-text mb-0">
                                            Where do people in your community gather or socialize?
                                            Where does your community get its services?
                                        </p>
                                        <div class="accordion" id="comm_activities_accordion">
                                            <button class="btn btn-link text-left pl-0" type="button" data-toggle="collapse" onclick="changeText(this)" data-target="#comm_activities_example" aria-expanded="false" aria-controls="collapseOne">
                                            Show Examples
                                            </button>
                                            <div id="comm_activities_example" class="collapse" aria-labelledby="headingOne" data-parent="#comm_activities_accordion">
                                                <p class="collapse-in ml-0">
                                                    Shopping areas, schools and colleges, parks and recreation areas,
                                                    lakes and water ways, healthcare services, and other activities and services that
                                                    help define your community.
                                                </p>
                                            </div>
                                        </div>
                                        {{ comm_form.comm_activities|append_attr:"class:form-control" }}
                                        <hr>
                                        <!-- Cultural -->
                                        <h5 class="card-text">Cultural or Historical Interests</h5>
                                        <!-- <div id="cultural_interests_error_alerts">
                                            {% if comm_form.cultural_interests.errors %}
                                                <script>
                                                    sessionStorage.setItem("allChecks", "fail");
                                                </script>
                                                <div id="cultural_interests_errors" class="alert alert-danger django-alert alert-dismissible fade show form-error" role="alert">
                                                    <ul class="m-0">
                                                    {% for error in comm_form.cultural_interests.errors %}
                                                        <li class="m-0">{{ error|escape }}</li>
                                                    {% endfor %}
                                                    </ul>
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                            {% endif %}
                                        </div> -->
                                        <p class="card-text mb-0">
                                            What fosters a sense of belonging in your community?
                                            What common beliefs or values exist?
                                        </p>
                                        <div class="accordion" id="cultural_interests_accordion">
                                            <button class="btn btn-link text-left pl-0" type="button" data-toggle="collapse" onclick="changeText(this)" data-target="#cultural_interests_example" aria-expanded="false" aria-controls="collapseOne">
                                            Show Examples
                                            </button>
                                            <div id="cultural_interests_example" class="collapse" aria-labelledby="headingOne" data-parent="#cultural_interests_accordion">
                                                <p class="collapse-in ml-0">
                                                    Age groups, religious groups, arts and cultural centers, languages, immigration status,
                                                    ethnic groups such as Detroit’s Mexican Town or Dearborn’s Middle Eastern community,
                                                    historic settlements such as Leland’s Fishtown.
                                                </p>
                                            </div>
                                        </div>
                                        {{ comm_form.cultural_interests|append_attr:"class:form-control" }}
                                        <hr>
                                        <!-- Other -->
                                        <h5 class="card-text">Other Interests and Concerns</h5>
                                        <!-- <div id="other_error_alerts">
                                            {% if comm_form.other_considerations.errors %}
                                                <script>
                                                    sessionStorage.setItem("allChecks", "fail");
                                                </script>
                                                <div id="economic_errors" class="alert alert-danger django-alert alert-dismissible fade show form-error" role="alert">
                                                    <ul class="m-0">
                                                    {% for error in comm_form.other_consideration.errors %}
                                                        <li>{{ error|escape }}</li>
                                                    {% endfor %}
                                                    </ul>
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                            {% endif %}
                                        </div> -->
                                        <p class="card-text mb-1">
                                            What other interests does your community care about? Do you have any suggestions
                                            for how the redistricting commission in your state could help address these concerns?
                                        </p>
                                        <div class="accordion" id="other_interests_accordion">
                                            <button class="btn btn-link text-left pl-0" type="button" data-toggle="collapse" onclick="changeText(this)" data-target="#other_interests_example" aria-expanded="false" aria-controls="collapseOne">
                                            Show Example
                                            </button>
                                            <div id="other_interests_example" class="collapse" aria-labelledby="headingOne" data-parent="#other_interests_accordion">
                                                <p class="collapse-in ml-0">
                                                    Our farmers extend over two counties and we hope you can put them together in a single State Senate district.
                                                </p>
                                            </div>
                                        </div>
                                        {{ comm_form.other_considerations|append_attr:"class:form-control" }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-equal-cols">
                        <div class="col-lg  m-2">
                            <div class="collapse-card card-section ">
                                <div class="card">
                                    <div class="card-header text-header-card">
                                        <strong>3. Your Community's Name</strong>
                                    </div>
                                    <div class="card-body">
                                        <div id="entry_name_error_alerts">
                                            {% if comm_form.entry_name.errors %}
                                                <script>
                                                    sessionStorage.setItem("allChecks", "fail");
                                                </script>
                                                <div id="entry_name_errors" class="alert alert-danger django-alert alert-dismissible fade show form-error" role="alert">
                                                    <ul class="m-0">
                                                    {% for error in comm_form.entry_name.errors %}
                                                        <li>{{ error|escape }}</li>
                                                    {% endfor %}
                                                    </ul>
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                            {% endif %}
                                        </div>
                                        <p class="card-text">
                                            What name can we use to identify your community? <small class="text-danger">(Required)</small>
                                            <!-- TODO we should find a better example -->
                                            <br>
                                            <small>For example: Cherry Farmers Community</small>
                                        </p>
                                        {{ comm_form.entry_name|append_attr:"class:form-control" }}

                                        <div id="main_community_form" class="form-group">
                                            <!-- {# Include the hidden fields #} -->
                                            {% for hidden in comm_form.hidden_fields %}
                                            {{ hidden }}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-equal-cols">
                        <!-- Map -->
                        <div class="col-lg m-2">
                            <div class="collapse-card card-section">
                                <div class="card">
                                    <div class="card-header text-header-card">
                                        <strong>
                                        {% if LANGUAGE_CODE == 'en' %}
                                        4. Draw Your Community
                                        {% elif LANGUAGE_CODE == 'es' %}
                                        <!-- Google translate  -->
                                        4. Dibuja tu comunidad
                                        {% endif %}
                                        </strong>
                                    </div>
                                    <div id='map-card' class="card-body">
                                        <!-- {# Include form.entry_polygon error. } -->
                                            <div id="map-error-alerts">
                                                {% if comm_form.user_polygon.errors %}
                                                <script>
                                                    sessionStorage.setItem("allChecks", "fail");
                                                </script>
                                                <div id="polygon_missing" class="alert alert-danger django-alert alert-dismissible fade show form-error" role="alert">
                                                    {% if LANGUAGE_CODE == 'en' %}
                                                    You need to draw a polygon to submit the form.
                                                    {% elif LANGUAGE_CODE == 'es' %}
                                                    <!-- Google translate  -->
                                                    Debe dibujar un polígono para enviar el formulario.
                                                    {% endif %}
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                {% endif %}
                                            </div>
                                            <strong>
                                                    Search for a location, such as address, city, or zipcode to begin drawing your community.
                                                    <small class="text-danger">(Required)</small>
                                            </strong>
                                            <span class="float-right my-2">
                                                <button class="btn btn-secondary btn-sm mb-2 mr-2 d-none" id="shepherd-btn" onclick="myTour.start()" type="button">Step-by-step guide</button>
                                                <button class="btn btn-secondary btn-sm mb-2" onclick="showVideoPopup()" type="button">Video Tutorial</button>
                                            </span>
                                            <div id="geocoder" class="geocoder my-3"></div>
                                            <div class="map-bounding-box my-2 collapse">
                                                <p>Draw your community by selecting <a href="https://www.census.gov/programs-surveys/geography/about/glossary.html#par_textimage_4" target="_blank" data-toggle="tooltip" title="The units you are selecting to draw your community are census block groups. Map drawers use these units when creating districts.">units</a> on the map.
                                                   Make sure that all your community is contained within the highlighted units, and that your drawn community does not contain gaps.
                                                   This will help the Redistricting Commission draw fairer districts using your entry.
                                                </p>
                                                <div class="map-box">
                                                    <div id='menu'></div>
                                                    <div id='map' class='draw_polygon_map' onload="map.resize()">
                                                      <div id="warning-box-id" class="map-popup-box warning-box">
                                                          <p class="mb-0"><i class="fa fa-exclamation-triangle"></i> Please ensure that your community does not contain any gaps. Your selected units must connect.</p>
                                                      </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-equal-cols">
                        <!-- Map -->
                        <div class="col-lg m-2">
                            <div class="collapse-card card-section">
                                <div id="terms-card" class="card">
                                    <div class="card-header text-header-card">
                                        <strong>
                                        5. Privacy and Terms of Use
                                        </strong>
                                        <input class="btn btn-secondary float-right button-edit" type="button" value="Edit Section">
                                    </div>
                                    <div class="card-body collapse show">
                                        <p class="card-text">
                                            Your privacy is our highest priority. We gather your Identifying information to verify
                                            that you are a real person. We will not publicly share anyone's individual personal information,
                                            such as name, address, or email.
                                            {% if has_drive %}
                                            <br>
                                            We will only share your information with {{organization_name}} because you are adding the community through their page.
                                            {% endif %}
                                        </p>
                                        <div class="toc-check">
                                            <input class="toc-check-input" type="checkbox" value="" id="toc_check" required>
                                            <label class="toc-check-label" for="toc_check">
                                                Click here to indicate that you have read and agree to the
                                                <a target="_blank" rel="noopener noreferrer" href="{% url 'main:terms' %}">Terms of Use</a> and
                                                <a target="_blank" rel="noopener noreferrer" href="{% url 'main:privacy' %}">Privacy Policy</a>.
                                                <small class="text-danger">(Required)</small>
                                            </label>
                                        </div>
                                        <hr>
                                        Any saved communities are final. In order to edit a saved community you will need
                                        to create a new community and delete the old one.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="dropuphelp2" class="btn-floating btn-group shadow-lg dropup">
                    <button type="button" class="btn fixed-action-btn btn-secondary shadow-lg dropdown-toggle" id="dropuphelp" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-question-circle" aria-hidden="true"></i><span class="d-none d-sm-inline"> Help</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropuphelp">
                    <a class="dropdown-item" href="https://docs.google.com/forms/d/e/1FAIpQLSfeyoZ87pS67iTh2c3t5031XqoNFNAdwF6Pt1NUns_z_Myxaw/viewform">Report Error/Send Feedback</a>
                    </div>
                </div>
                <div class="btn-floating btn-group shadow-lg">
                    <button type="button" class="btn fixed-action-btn btn-secondary shadow-lg" id="loading-entry">
                    <div class="loader loader-small text-center"></div><span class="d-none d-sm-inline"> Saving Community...</span>
                    </button>
                </div>

                    <div class='row row-equal-cols'>
                        <div class='col-lg text-center m-2'>
                            <div style="display: inline-block;">
                                <button id="save" form="entryForm" type="submit" class="btn btn-primary" value="Submit">Save Community</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-2">
        </div>
        <div class="row">
            <div id="video_popup" class="card shadow col-sm-4 col-md-4 col-lg-4 d-none">
                <div id="video_popup_body" class="card-body">
                    <h5 class="card-title">
                        Video Tutorial <button type="button" class="close" onclick="closePopup()">&times;</button>
                    </h5>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/cVrnMXf-47Q" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            </div>
    </div>

    {% endblock %}
    {% block script %}
    {{ form.media.js }}
    <script type="text/javascript">
        mapboxgl.accessToken = "{{ mapbox_key }}";
    </script>
    <script type="text/javascript" src="{% static 'main/js/components/keys.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/components/states.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/wicket.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/geo.js' %}"></script>
    <script type="text/javascript">
        // Entry page
        mixpanel.track_links(".dropdown-user-guide", "User Guide Link Pressed (Entry Help Dropdown)");
        mixpanel.track_links(".dropdown-send-feedback", "Send Feedback Link Pressed (Entry Help Dropdown)");

        document.getElementById("dropuphelp").addEventListener("click",
            function(){
                mixpanel.track("Dropup Help Button Pressed (Entry Page)");
            }
        );

        mixpanel.track_forms("#entryForm", "Entry Form Submitted", {
            "drive_id": drive_id,
            "drive_name": drive_name,
            "organization_id": organization_id,
            "organization_name": organization_name,
        });

    </script>
    <!-- Turf to get the bounding box. -->
    <script src='https://npmcdn.com/@turf/turf/turf.min.js'></script>
    {% endblock %}
