{% extends 'main/base.html' %}
{% load leaflet_tags %}
{% load static %}

{% block hero-pre %}
<div class="shadow-sm">
    <div id="particles-js">
        {% endblock %}
        {% block hero %}
        <div class="container-fluid container-hero">
            <div class="row row-hero">
                <div class="col-sm-12 col-md-10 offset-md-1 my-5">
                    <h1 class="di-title mb-4">A crowdsourced redistricting tool to map communities and make your voice heard.</h1>
                    <a class="btn btn-outline-primary btn-canvas" href="/about" role="button">About Us</a>
                    <a class="btn btn-outline-primary btn-canvas" href="#features" role="button">How To Contribute</a>
                    <a class="btn btn-outline-primary btn-canvas" href="/entry" role="button">Contribute</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block head %}
{% leaflet_js %}
{% leaflet_css %}

<!--  Mapbox GL JS-->
<meta charset='utf-8' />
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css' rel='stylesheet' />
{% endblock %}

{% block content %}
<!--  what is Districter ?? -->
<div class="row row-content">
    <div id='descriptionTop' class="col-sm-6">
        <h2>What is Districter?</h2>
        <p>Districter is an online service that allows Americans to fight against gerrymandering by
            drawing their communities of interest (COIs) on a map. A COI is what a person consider to
            be their community.<br> <br>

            This can take the form of a coastal neighborhood that stretches along a
            beach, or a valley village that is clustered around a river. Currently, people can only provide
            qualitative information through committee hearings, which cannot be easily used to draw
            districts or highlight gerrymandering.<br> <br>

            Allowing people to mark their COIs will help redistricting
            committees by providing them with quantifiable information that can be used to draw fair
            districts. Furthermore, Districter will provide a way to better visualize and quantify the current
            state of gerrymandering by overlaying district lines over communities of interest.</p>
    </div>
    <div id=images class="col-sm-6">
        <img src="{% static 'img/mapstockImage.png' %}" alt="map" style="width: 100%; height: 100%;">
        <!--   <img src="{% static 'img/demo.png' %}" alt="demo" width=600px height=300px> -->
    </div>
</div>
<div class="row row-content">
    <div class='col-sm'>
        <h2>How Do I contribute?</h2>
    </div>
</div>
<!--  TUTORIAL -------------------------------------------------------------->
<div class="row row-content">
    <div class='col-sm'>
        <div id='features'>
            <!--  STEP ONE : BROWSE THE MAP-->
            <div class="row">
                <div col='col'>
                    <section id='Step1-Browse' class='active'>
                        <h3> 1. Browse the Map </h3>
                        <div class="row">
                              <div id=images class="col-sm-6">
                                  <img src="{% static 'img/browse1.png' %}" alt="map" style="width: 100%; height: 100%;">
                                  <!--   <img src="{% static 'img/demo.png' %}" alt="demo" width=600px height=300px> -->
                            </div>
                            <div id=description class="col-sm-6">
                                <p> Explore the map by entering in a zipcode in the search box and navigate to your
                                    local community using interactive features. </p>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <!--  STEP TWO :NavCommunity -->
            <div class="row">
                <div col='col-sm'>
                    <section id='Step2-NavCommunity' class='active'>
                        <h3> 2. Orient yourself, get ready to draw! </h3>
                        <div class="row">
                            <div id=description class="col-sm-6">
                                <p> Using a variety of geographic and census features, get
                                    a better understanding for your geospatial COI; click on the upper right hand 'Dr
                                    aw Polygon' tool when you're ready to draw your COI</p>
                            </div>
                              <div id=images class="col-sm-6">
                                  <img src="{% static 'img/startCOI.png' %}" alt="map" style="width: 100%; height: 100%;">
                                  <!--   <img src="{% static 'img/demo.png' %}" alt="demo" width=600px height=300px> -->
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <!--  STEP THREE : DRAW COI -->
            <div class="row">
                <div col='col'>
                    <section id='Step3-drawCOi' class='active'>
                        <h3> 3. Draw your COI </h3>
                        <div class="row">
                              <div id=images class="col-sm-6">
                                  <img src="{% static 'img/COI2:3.png' %}" alt="map" style="width: 100%; height: 100%;">
                                  <!--   <img src="{% static 'img/demo.png' %}" alt="demo" width=600px height=300px> -->
                            </div>
                            <div id=description class="col-sm-6">
                                <p> After clicking the 'Draw Polygon' tool, click on a point on the map to create
                                    a vertex to start your polygon.
                                    Click down to place a vertex then drag the cursor to your next desired COI boundary point.
                                    Click twice on your final vertex to
                                    finalize your polygon. </p>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <!--  STEP THREE : DRAW COI -->
            <div class="row">
                <div col='col'>
                    <section id='Step3-drawCOi' class='active'>
                        <h3> 4. Finalize and/or edit your COI </h3>
                        <div class="row">
                            <div id=description class="col-sm-6">
                                <p> Once a polygon is finalized the shape will snap to the census block units that
                                  correspond with your submitted COI.
                                  To start over press the trash can on the right hand of the screen. To edit the
                                polygon once made simply double click on a vertex and drag accordingly or
                                even drag the entire shape over. </p>
                            </div>
                            <div id=images class="col-sm-6">
                                <img src="{% static 'img/COIdraw2.png' %}" alt="map" style="width: 100%; height: 100%;">
                                <!--   <img src="{% static 'img/demo.png' %}" alt="demo" width=600px height=300px> -->
                            </div>
                        </div>
                    </section>
                </div>
            </div>


            <!--  STEP FOUR : Enter DEMOGRAPHIC data -->
            <div class="row">
                <div col='col'>
                    <section id='Step4-DemographicData' class='active'>
                        <h3> 5.Demographic Data </h3>
                        <div class="row">
                          <div id=images class="col-sm-6">
                              <img src="{% static 'img/demographics.png' %}" alt="map" style="width: 100%; height: 100%;">
                              <!--   <img src="{% static 'img/demo.png' %}" alt="demo" width=600px height=300px> -->
                          </div>
                            <div id=description class="col-sm-6">
                                <p> Help us understand the importance of this community for you, and
                                    identify aggregate trends in your commynity
                                    by submitting your demographic information on the left
                                    hand side of the screen </p>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <!--  STEP FIVE : submit  -->
            <div class="row">
                <div col='col'>
                    <section id='Step5-Submit Data' class='active'>
                        <h3> 5.Topics and Issues of Interest </h3>
                        <div class="row">
                            <div id=description class="col-sm-6">
                                <p> Submit issues so that your voice can be heard about the issues you feel pertain to your
                                  community! Pick the category your issue/ topic of interest falls into then further specify in
                                  with the field.
                            </div>
                            <div id=images class="col-sm-6">
                                <img src="{% static 'img/issues.png' %}" alt="map" style="width: 100%; height: 100%;">
                                <!--   <img src="{% static 'img/demo.png' %}" alt="demo" width=600px height=300px> -->
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <div class="row">
                <div col='col'>
                    <section id='Step6-Submit Data' class='active'>
                        <h3> 6.Submit & have your voice heard! </h3>
                        <div class="row">
                          <div id=images class="col-sm-6">
                              <img src="{% static 'img/mapp.png' %}" alt="map" style="width: 100%; height: 100%;">
                              <!--   <img src="{% static 'img/demo.png' %}" alt="demo" width=600px height=300px> -->
                          </div>
                            <div id=description class="col-sm-6">
                                <p> Submit your data to be entered into a critical databse of citizens in your area
                                    who want to have their voices heard during redistricting and other political processes
                                    involving your community!
                            </div>
                        </div>
                    </section>
                </div>
            </div

            <div class="row row-hero">
                <div class="col-sm-12 col-md-10 offset-md-1 my-5">
                    <a class="btn btn-outline-primary btn-canvas" href="#descriptionTop" role="button">Back to Top</a>
                    <a class="btn btn-outline-primary btn-canvas" href="/entry" role="button">Contribute Now!</a>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/particles.min.js' %}"></script>
<script>
    particlesJS.load('particles-js', "{% static 'assets/particles.json' %}", function() {
        console.log('callback - particles.min.js config loaded');
    });
</script>
<script type="text/javascript">
    mapboxgl.accessToken = "{{ mapbox_key }}";
</script>
{% endblock %}
