{% extends 'main/base.html' %}
{% load leaflet_tags %}
{% load static %}



{% block head %}
{% leaflet_js %}
{% leaflet_css %}
<!--  Mapbox GL JS-->
<meta charset='utf-8' />
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.css' rel='stylesheet' />
{% endblock %}

<!-- Not sure `block hero-pre` is necessary anymore. Used to contain the particles.js
animation in the first version of Districter/Representable. -->
{% block hero-pre %}
{% endblock %}

<!-- Main Content -->
{% block content %}
<div class="container">
    <!-- Illustration -->
    <div class="row row-hero border-bottom my-3">
        <div class="col-sm-6">
            <h1 class="my-4">We're creating a map of all communities in America to end partisan gerrymandering.</h1>
            <h3 class="my-4"> Draw your community and make your voice heard.</h3>
            <a class="btn btn-primary btn-canvas mx-1 my-1" href="/entry" role="button">Draw a community</a>
            <a class="btn btn-primary btn-canvas mx-1 my-1" href="/map" role="button">View the map</a>
        </div>
        <div class="col-sm-6">
            <img class="img-fluid" src="{% static 'img/illustration.svg' %}"> </img>
        </div>
    </div>
    <!-- What does Representable do? -->
    <div class="container my-3">
        <h2 class="my-5 text-center">What is Representable.org?</h2>
        <h4 class="my-3 text-center font-weight-normal">We are an open-source tool that maps communities across the US.
            States and nonprofits can use our data to test districts for gerrymandering. See <a href="/map">our map</a> for examples.</h4>
    </div>
    <!-- How To -->
    <div class="row my-3">
        <div class="col-sm my-3 shadow-sm mx-2">
            <div class="card border-0">
                <div class="card-body text-center">
                    <img class="img-fluid small-icon m-2 h-25 w-50 border-bottom" src="{% static 'img/search.svg' %}"></img>
                    <h4>Find your community</h4>
                    <p>Use our map tool to find your community and all the points of interest around it.</p>
                </div>
            </div>
        </div>
        <div class="col-sm my-3 shadow-sm mx-2">
            <div class="card border-0">
                <div class="card-body text-center">
                    <img class="img-fluid small-icon m-2 h-25 w-50 border-bottom" src="{% static 'img/draw.svg' %}"></img>
                    <h4>Draw your area</h4>
                    <p>After finding your community, use the drawing tool to circle a rough permiter around it.</p>
                </div>
            </div>
        </div>
        <div class="col-sm my-3 shadow-sm mx-2">
            <div class="card border-0 align-center">
                <div class="card-body text-center">
                    <img class="img-fluid small-icon m-2 h-25 w-50 border-bottom" src="{% static 'img/send.svg' %}"></img>
                    <h4>Submit your map</h4>
                    <p>Add information about the issues that matter to you and press submit!</p>
                </div>
            </div>
        </div>
    </div>

    <!-- What is gerrymandering? -->
    <div class="jumbotron jumbotron-fluid what-is-gerrymandering rounded my-3">
        <div class="container text-center">
            <h3 class="my-3">What is Gerrymandering?</h3>
            <blockquote class="blockquote my-3">
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
            </blockquote>
            <p class="lead">Watch The Video Below To Better Understand Gerrymandering</p>
            <div class="container embed-responsive embed-responsive-16by9 w-50">
                <iframe class="embed-responsive-item rounded" src="https://www.youtube.com/embed/Mky11UJb9AY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    mapboxgl.accessToken = "{{ mapbox_key }}";
</script>
{% endblock %}
