{% extends 'main/base.html' %}
{% load leaflet_tags %}
{% load static %}

{% block head %}
{% leaflet_js %}
{% leaflet_css %}
<!--  Custom CSS -->
<meta charset='utf-8' />
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css' rel='stylesheet' />
<style>
    body { margin:0; padding:0; }
  #map { position:absolute; top:0; bottom:0; width:100%; }
</style>

<!--  Custom CSS -->
<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
{% endblock %}

{% block content %}
<div class="map-demo" id='map'></div>

<div id='features'>
    <section id='baker' class='active'>
        <h4>1. Browse the map.</h4>
        <p> Explore the map by entering in a zipcode in the search box and navigate to your
            local community using interactive features <br>
            Washington DC view 1 </p>
    </section>
    <section id='aldgate'>
        <h4>2. Navigate your community</h4>
        <p> Using a variety of map views and add on geographic and census features, get
            a better understanding for your geospatial COI <br>
            Washington DC 2 -- areas of peak interest </p>
    </section>
    <section id='london-bridge'>
        <h4>3. Draw your COI</h4>
        <p>Using the Polygon draw tool, click ___, and begin to draw your COI! click on a point on the map to create
            a vertex and click twice on your final vertex to finalize your polygon. To start over press the trash can
            on the right hand of the screen. To edit the polygon once made simply click on a vertex and drag accorginly or
            even drag the entire shape over. <br>
            browse to COI view : filled in district in New Jersey </p>
    </section>
    <section id='woolwich'>
        <h4>4. Demographic Data </h4>
        <p>Help us understand the importance of this community for you, and identify aggregate trends in your commynity
            by submitting your demographic information and policy needs on the right
            hand side of the screen <br>
            insert image of form and browse to view of the form fields filled out </p>
    </section>
    <section id='woolwich'>
        <h4>5. Submit your community data</h4>
        <p>Submit the data to be entered into a critical databse of citizens in your area
            who want to have their voices heard during redistricting <br>
            go to animation of submitting data / redistricting? </p>
    </section>
    <section id='woolwich'>
        <h4>6. Explore!</h4>
        <p> Return to the main menu to explore submissions by others near you, interesting trends,
            and the latest in Districter news. <br>
            pan to map view ,, visualizations </p>
    </section>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    mapboxgl.accessToken = "{{ mapbox_key }}";
</script>
<script type="text/javascript" src="{% static 'main/js/main.js' %}"></script>
{% endblock %}
