{% extends 'main/base.html' %}
{% load leaflet_tags %}
{% load static %}

{% block head %}
{% leaflet_js %}
{% leaflet_css %}
<!--  Custom CSS -->
<meta charset='utf-8' />
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css' rel='stylesheet' />
<style>
  body { margin:0; padding:0; }
  #map { position:absolute; top:0; bottom:0; width:100%; }
</style>

<!--  Custom CSS -->
<link rel="stylesheet" href="{% static 'main/css/main.css' %}">
{% endblock %}
