{% extends 'main/base.html' %}
{% load leaflet_tags %}
{% load static %}

{% block head %}
{% leaflet_js %}
{% leaflet_css %}
<!-- https://docs.mapbox.com/mapbox-gl-js/example/mapbox-gl-draw/ -->
<!-- Mapbox GL JS -->
<meta charset='utf-8' />
<title>Add a GeoJSON polygon</title>
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css' rel='stylesheet' />
{% endblock %}
{% block content %}
<div class="col-12">
  <div>
    {% for census in entries %}
    {{ census }}
    {% endfor %}
  </div>
  <div id='map'></div>
</div>
{% endblock %}

{% block script %}
<!--  Has to be at the end after the HTML loads.-->
<script type="text/javascript">
  mapboxgl.accessToken = "{{ mapbox_key }}";
</script>
<script type="text/javascript" src="{% static 'js/map.js' %}"></script>
{% endblock %}
