{% extends 'main/base.html' %}
{% load leaflet_tags %}
{% load static %}

{% block head %}
{% leaflet_js %}
{% leaflet_css %}
<!-- https://docs.mapbox.com/mapbox-gl-js/example/mapbox-gl-draw/ -->
<!-- Mapbox GL JS -->
<meta charset='utf-8' />
<title>View Communities</title>
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css' rel='stylesheet' />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--  GeoCoder -->
<meta name='robots' content='noindex, nofollow'>
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.1.0/mapbox-gl-geocoder.min.js'></script>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.1.0/mapbox-gl-geocoder.css' type='text/css' />
<!-- Add css again to take precedence over mapbox css. -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<!--  Custom CSS -->
<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
{% endblock %}
{% block content %}
<div class="modal fade" id="zipcodeModal" tabindex="-1" role="dialog" aria-labelledby="zipcodeModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
                <p>Enter Zipcode:</p>
          <h5 class="modal-title" id="zipcodeModalLabel">Enter Your Zipcode</h5>
        </div>
        <div class="modal-body">
          <form role="form" id="zipcodeForm">
            <div class="form-group">
              <input type="text" class="form-control" id="zipcode">
              <!-- <button id="zipSubmit" type="submit" class="btn btn-primary" data-dismiss="modal">Submit</button> -->
            </div>
        </div>
        <div class="modal-footer">
          <button id="zipSubmit" type="submit" class="btn btn-primary">Submit</button>
        </div>
        </form>
      </div>
    </div>
  </div>

<div class="row row-wide">
    <div>
        <script type="text/javascript">
            // var a = JSON.parse('{{ entries | escapejs }}')
            var issues = '{{ issues | escapejs }}';
            var a = '{{ entries | escapejs}}';
            var tags = '{{ tags | escapejs }}'
        </script>
    </div>
    <div class="col-md-3 col-wide">
        <nav id='menu'>
            <div class="sidenav">
                <div class="tag-search">
                    <form class="form-inline my-2">
                        <input class="form-control w-75" type="search" placeholder="Search tags" onkeyup="searchTags()" aria-label="Search">
                        <button class="btn btn-outline-primary m-2" type="submit" onclick="searchTags()"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <div class="accordion" id="accordionExample">
                    <div class="items card">
                        <div class="card-header" id="headingOne">
                            <button class="" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="width: 100%">
                                State Legislature Boundaries <i class="fas fa-caret-down"></i></button>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                <div id="outline-menu">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <button class="" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" style="width: 100%">
                                Tags <i class="fas fa-caret-down"></i></button>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                <div class="dropdown-container" id="tags-menu"></div>
                            </div>
                        </div>
                    </div>
                    <!--TODO: Add issues for accordion-->
                    <div class="m-1" id="issue-dropdowns"></div>
                    <div class="items card">
                        <div class="card-header">
                            <button class="" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree" style="width: 100%">
                                Communities <i class="fas fa-caret-down"></i></button>
                        </div>
                        <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <ul class="list-group list-group-flush" id="community-list">
                                <!--<li class="list-group-item">Cras justo odio</li>
                  <li class="list-group-item">Dapibus ac facilisis in</li>
                  <li class="list-group-item">Vestibulum at eros</li>-->
                            </ul>
                        </div>
                    </div>
                </div>
                <button class="dropdown-btn btn-canvas" id="all">Clear All Filters
                    <i class="fa"></i></button>
                <div class="dropdown-container"></div>
        </nav>
    </div>
    <div class="col-md-9 col-map col-wide">
        <div id='map' class="map-visualization"></div>
    </div>
</div>
{% endblock %}

{% block script %}
<!--  Has to be at the end after the HTML loads.-->
<script type="text/javascript">
    mapboxgl.accessToken = "{{ mapbox_key }}";
</script>
<script type="text/javascript" src="{% static 'main/js/map.js' %}"></script>
{% endblock %}
