{% extends 'main/base.html' %}
{% load leaflet_tags %}
{% load static %}

{% block head %}
{% leaflet_js %}
{% leaflet_css %}
<!-- https://docs.mapbox.com/mapbox-gl-js/example/mapbox-gl-draw/ -->
<!-- Mapbox GL JS -->
<meta charset='utf-8' />
<title>View Communities</title>
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css' rel='stylesheet' />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--  Custom CSS -->
<link rel="stylesheet" href="{% static 'main/css/map.css' %}">
{% endblock %}
{% block content %}
<div class="col-12">
  <div>
      <script type="text/javascript">
        // var a = JSON.parse('{{ entries | escapejs }}')
        var a = '{{ entries | escapejs}}';
        // var a = '{{ entries }}';
     </script>
    {% for census in entries %}
  <script type="text/javascript">

  </script>
    {% endfor %}
  </div>
  <nav id='menu'>
  <div class="sidenav">
    <div class="search">
     <input type="text" class="searchTerm" placeholder="What are you looking for?">
     <button type="submit" class="searchButton">
       <i class="fa fa-search"></i>
    </button>
  </div>
    <button class="dropdown-btn">Display Outlines
    <i class="fa fa-caret-down"></i></button>
    <div class="dropdown-container" id="outline-menu">
    </div>
    <button class="dropdown-btn">Environment
    <i class="fa fa-caret-down"></i></button>
    <div class="dropdown-container">
      <a href="#">link</a>
    </div>
  </nav>
  <div id='map'></div>
</div>
{% endblock %}

{% block script %}
<!--  Has to be at the end after the HTML loads.-->
<script type="text/javascript">
  mapboxgl.accessToken = "{{ mapbox_key }}";
</script>
<script type="text/javascript" src="{% static 'js/map.js' %}"></script>
{% endblock %}
