{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<script type="text/javascript">
  mixpanel.track("State Page Loaded",
  {"state":"{{ state_obj.name }}"}
  );
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
<div class="container">
  <div class="row row-hero my-5">
    <div class="col-12">
      <h1 class="font-weight-light text-center mb-3">Welcome to {{ state_obj.name }}
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      {% autoescape off %}
      {{ state_obj.content_news }}
      {% endautoescape %}
    </div>
    <div class="col-6 d-none d-sm-block">
      {% with "img/states/"|add:state_obj.abbr|add:".svg" as svg %}
      <div class="card card-signin mx-auto h-100 py-4">
        <object type="image/svg+xml" class="state h-100" data="{% static svg %}" alt="state graphic"></object>
      </div>
      {% endwith %}
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-12">
      <h5>
        <u><a data-toggle="collapse" href="#collapseCriteria" aria-expanded="false" aria-controls="collapseCriteria">
          {{ state_obj.name }}'s Redistricting Criteria
        </a></u>
      </h5>
      <div class="collapse" id="collapseCriteria">
          {% autoescape off %}
          {{ state_obj.content_criteria }}
          {% endautoescape %}
      </div>
    </div>
  </div>
  <div class="jumbotron">
    <div>
      <h5>Communities of Interest</h5>
      {% autoescape off %}
      {{ state_obj.content_coi }}
      {% endautoescape %}
    </div>
  </div>
  <div class="card card-signin my-4">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-9">
          <h5 class="font-weight-light my-3">Redistricting is coming. Put your community on the map with Representable.</h5>
        </div>
        <div class="col-sm-3">
          <a class="btn btn-primary btn-canvas my-3" href="{% url 'main:entry' %}{{state_obj.abbr|lower}}" role="button">Draw my community</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
{% endblock %}
