{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<script type="text/javascript">
  mixpanel.track("State Page Loaded",
  {"state":"{{ state_obj.name }}"}
  );
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
<div class="container dark-gray-text">
  <div class="row row-hero my-5">
    <div class="col-12">
      <h1 class="font-weight-light text-center mb-3">Welcome to {{ state_obj.name }}
      </h1>
    </div>
  </div>

  <div class="row mx-lg-5 px-md-5">
    <div class="col-sm-6">
      {% autoescape off %}
      {{ state_obj.content_news }}
      {% endautoescape %}
    </div>
    <div class="col-6 d-none d-sm-block">
      <div class="m-auto py-4 h-100">
        <object type="image/svg+xml" class="w-75 mx-auto d-block h-100" data="{% static 'img/map-info.svg' %}" alt="image of map with information icon"></object>
      </div>
    </div>
  </div>

  <div class="row mb-4 mx-lg-5 px-md-5">
    <div class="col-12 p-4 light-blue-bg px-md-5">
        <a class="btn ws-normal btn-no-focus-outline bg-transparent text-left pl-0 no-underline-link" data-toggle="collapse" href="#collapseCriteria" aria-expanded="false" aria-controls="collapseCriteria">
          <h5 style="width: fit-content;">{{ state_obj.name }}'s Redistricting Criteria &#32;<i class="fas fa-angle-down pl-lg-3 pl-1"></i></h5>
        </a>
      <div class="collapse" id="collapseCriteria">
          {% autoescape off %}
          {{ state_obj.content_criteria }}
          {% endautoescape %}
      </div>
    </div>
  </div>
  <div class="row mx-lg-5 px-md-5">
    <div class="col-12 p-4 light-blue-bg px-md-5">
      <h5>Communities of Interest in {{ state_obj.name }}</h5>
      {% autoescape off %}
      {{ state_obj.content_coi }}
      {% endautoescape %}
    </div>
  </div>
  <div class="row text-center">
      <a class="mx-auto btn btn-outline-primary btn-lg btn-canvas my-5 d-none d-lg-block" href="{% url 'main:entry' %}{{state_obj.abbr|lower}}" role="button">START MAPPING</a>
      <a class="mx-auto btn btn-outline-primary btn-canvas my-5 d-lg-none" href="{% url 'main:entry' %}{{state_obj.abbr|lower}}" role="button">START MAPPING</a>
  </div>
</div>
</div>
</div>
{% endblock %}
