{% extends 'main/base.html' %}
{% load leaflet_tags %}
{% load static %}
{% load representable_extras %}


{% block head %}
{% leaflet_js %}
{% leaflet_css %}
<!-- https://docs.mapbox.com/mapbox-gl-js/example/mapbox-gl-draw/ -->
<!-- Mapbox GL JS -->
<meta charset='utf-8' />
<title>View Map</title>
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css' rel='stylesheet' />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--  GeoCoder -->
<meta name='robots' content='noindex, nofollow'>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script>
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.1.0/mapbox-gl-geocoder.min.js'></script>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.1.0/mapbox-gl-geocoder.css' type='text/css' />
<!-- Add css again to take precedence over mapbox css. -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<!--  Custom CSS -->
<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
{% endblock %}
{% block content %}
<div class="container-fluid">

  <div class="row row-wide">
    <div>
      <script type="text/javascript">
        let a = '{{ entries | escapejs}}';
        var mapbox_user_name = "{{mapbox_user_name}}";
        var state = '';
        var is_thanks = '{{ is_thanks }}'
        var comm_id = '{{ c.entry_ID }}'
      </script>
    </div>
    {% if entries is None %}
    <script>
      alert('No map found with the given map_id.');
    </script>
    {% endif %}
    <div class="col-md-4 col-wide">
      <nav id='menu'>
        <div class="sidenav">
          <div class="accordion" id="accordionExample">
            <div class="card">
              <div id="headingOne">
                <button class="viz-dropdown btn btn-light font-weight-light" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" style="width: 100%">
                  Data layers <i class="fas fa-caret-down"></i></button>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="font-weight-light text-uppercase small" id="outline-menu">
                  </div>
                  <!-- <button class="dropdown-btn btn-canvas" id="all">Clear All Filters -->
                </div>
                <div id="headingTwo">
                  <button class="viz-dropdown btn btn-light font-weight-light" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" style="width: 100%">
                    Community Information <i class="fas fa-caret-down"></i></button>
                  </div>
                  <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <table class="table" id="table-content">
                      <tr>
                        <td>
                          <span id="entry-name" class="text-uppercase entry-name">
                            <h5>{{c.entry_name}}</h5>
                          </span>
                          <hr class="my-1">
                          <span id="ignorePDF">
                            {% if c.organization and c.organization.name %}
                            <span id="org-text" class="badge badge-pill badge-primary">{{c.organization}}</span>
                            <br>
                            {% endif %}
                            {% if c.drive and c.drive.name %}
                            <span id="drive-text" class="badge badge-pill badge-secondary">{{c.drive}}</span>
                            <br>
                            {% endif %}
                            <span class="small text-muted">
                              {% if is_org_admin or is_community_author %}
                              {% if c.user_name %}
                              <span id="user-name">{{c.user_name}}</span>
                              {% else %}
                              {{ c.user_name }}
                              {% endif %}
                              {% if street %}
                              | <span id="address-street">{{street}}</span>
                              <span id="address-city">{{city}}</span>
                              <br>
                              {% else %}
                              <br>
                              {% endif %}
                              {% endif %}
                            </span>
                            <span class="small">
                              {% if c.population > 0 %}
                              <b>Population:</b> {{ c.population }}
                              <br>
                              {% endif %}
                            </span>
                          </span>
                          {% if c.cultural_interests %}
                          <b><i class="fas fa-palette"></i> Cultural Interests</b><br>
                          <span class="text-muted small">{{c.cultural_interests}}</span>
                          <br>
                          {% endif %}
                          {% if c.comm_activities %}
                          <b><i class="fas fa-hiking"></i> Community Activities</b><br>
                          <span class="text-muted small">{{c.comm_activities}}</span>
                          <br>
                          {% endif %}
                          {% if c.economic_interests %}
                          <b><i class="fas fa-comments-dollar"></i> Economic Interests</b><br>
                          <span class="text-muted small">{{c.economic_interests}}</span>
                          <br>
                          {% endif %}
                          {% if c.other_considerations %}
                          <b><i class="fas fa-users"></i> Other Interests</b><br>
                          <span class="text-muted small">{{c.other_considerations}}</span>
                          <br>
                          {% endif %}

                        </td>
                        <tr>
                        </table>
                        <div class="text-center">
                          <!-- ********************* -->
                          <!-- GeoJSON Explainer Modal -->
                          <div class="modal fade" id="geojson-explain-modal" tabindex="-1" role="dialog" aria-labelledby="geojson-explain-modalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">What is GeoJSON?</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  GeoJSON files are industry standard and usable with other mapping softwares like Maptitude for Redistricting, Dave's Redistricting App, ESRI, and more.
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- ********************* -->
                          {% if has_state %}
                          {% with link_text="/export/geojson/"|add:state|add:"/?map_id="|addstr:c.entry_ID %}
                          <!-- <a class="btn btn-outline-primary btn-canvas mx-4" href={{link_text}} role="button" download="community_{{c.entry_ID}}.geojson">Export GeoJSON</a> -->
                          <a class="btn btn-outline-primary mx-4 d-none d-sm-inline" href="#" data-toggle="modal" data-target="#geojson-explain-modal" rel="nofollow" download>Export GeoJSON</a>
                          <a href={{link_text}} download="community_{{c.entry_ID}}.geojson" id="hidden-download-geojson" class="hidden">Hidden Download GeoJSON</a>
                          <!-- ********************* -->
                          <span class="btn btn-outline-primary btn-canvas mx-4 my-2" id="pdf-button" role="button">Export PDF</span>
                          {% endwith %}
                          {% with link_text="/export/csv/"|add:state|add:"/?map_id="|addstr:c.entry_ID %}
                          <a class="btn btn-outline-primary btn-canvas mx-4" href={{link_text}} role="button" download="community_{{c.entry_ID}}.csv">Export CSV</a>
                          {% endwith %}
                          {% else %}
                          {% with link_text="/export/geojson/?map_id="|addstr:c.entry_ID %}
                          <!-- <a class="btn btn-outline-primary btn-canvas mx-4" href={{link_text}} role="button" download="community_{{c.entry_ID}}.geojson">Export GeoJSON</a> -->
                          <a class="btn btn-outline-primary mx-4 d-none d-sm-inline" href="#" data-toggle="modal" data-target="#geojson-explain-modal" rel="nofollow" download>Export GeoJSON</a>
                          <a href={{link_text}} download="community_{{c.entry_ID}}.geojson" id="hidden-download-geojson" class="hidden">Hidden Download GeoJSON</a>
                          <!-- ********************* -->
                          <span class="btn btn-outline-primary btn-canvas mx-4 my-2" id="pdf-button" role="button">Export PDF</span>
                          {% endwith %}
                          {% with link_text="/export/csv"|add:"/?map_id="|addstr:c.entry_ID %}
                          <a class="btn btn-outline-primary btn-canvas mx-4" href={{link_text}} role="button" download="community_{{c.entry_ID}}.csv">Export CSV</a>
                          {% endwith %}
                          {% endif %}

                        </div>
                      </div>
                    </div>
                    <!-- Note: TODO issues temporarily removed because it's just one map, could add back -->
                    <!-- Note: TODO communities temporarily removed because it's just one map, could add back -->
                  </div>
                </div>
              </nav>
            </div>
            <div class="col-md-8 col-map col-wide">
              <div id='map' class="map-visualization">
                <div id="pdf-loading-box" class="map-popup-box">
                  <p class="mb-0">Loading PDF...</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="thanksModal" tabindex="-1" role="dialog" aria-labelledby="thanksModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document" id="thanksModalDialog">
            <div class="modal-content green-bg mt-5" style="border-radius: 40px;">
              <div class="modal-header border-0 pb-0">
                <h1 class="modal-title text-center mt-lg-4 d-none d-lg-flex pl-5" id="thanksModalLabel">Congratulations!
                  <img id="thanks-confetti" class="" src="{% static 'img/confetti.svg' %}" alt="celebratory confetti"> </img>
                </h1>
                <h4 class="modal-title text-center mt-lg-4 d-flex d-lg-none mx-auto pl-5" id="thanksModalLabel">Congratulations!
                  <img id="thanks-confetti" class="" src="{% static 'img/confetti.svg' %}" alt="celebratory confetti"> </img>
                </h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body gray-text">
                  <div class="row my-1">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8 text-center">
                      <p>Your community is ready to be viewed and downloaded. Your map <br class="d-none d-md-block"> can make a difference in the fight against gerrymandering. </p>
                      <h4 class="mb-lg-4">Make an impact with your map.</h4>
                    </div>
                    <div class="col-lg-2"></div>
                  </div>
                  <!-- MOBILE ONLY - NO download links but instead we provide more info -->
                  <div class="row my-2">
                    <div class="col-4 d-flex d-lg-none">
                      <img class="mx-auto d-block w-75 h-100" src="{% static 'img/thanks-district.svg' %}" alt="district icon"> </img>
                    </div>
                    <div class="col-8 d-flex d-lg-none">
                      <p class="">View your community on a computer to download as a PDF or geoJSON file. You can submit these files as public testimony or to a local redistricting organization.</p>
                    </div>
                  </div>
                  <div class="row my-1 mb-lg-3 d-none d-lg-flex">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-1">
                      <div class="thanks-circle"></div>
                      <img class="mx-auto w-125 h-100" src="{% static 'img/thanks-email.svg' %}" alt="email icon"> </img>
                    </div>
                    <div class="col-lg-7">
                      If your state has a redistricting commission or accepts Communities of Interest, send a pdf of your community to submit as public testimony. If not, you can send it to a local redistricting organization.<br>
                      <div class="text-center"><a class="btn btn-outline-gray mx-2 my-1" id="pdf-button-modal" target="_blank" data-dismiss="modal" role="button">Export PDF</a></div>
                    </div>
                    <div class="col-lg-3"></div>
                  </div>
                  <div class="row my-1 mb-lg-3 d-none d-lg-flex">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-1">
                      <div class="thanks-circle"></div>
                      <img class="mx-auto d-block w-125 h-100" src="{% static 'img/thanks-district.svg' %}" alt="district icon"> </img>
                    </div>
                    <div class="col-lg-7">
                      If you would like to use your map to draw voting districts, you can upload the geoJSON file to mapping softwares such as Maptitude, Dave’s Redistricting App, or Districtr.<br>
                      <!-- <div class="text-center"><a class="btn btn-outline-gray mx-2 my-1" target="_blank" href="" role="button">Export geoJSON</a></div> -->
                      {% if has_state %}
                      {% with link_text="/export/geojson/"|add:state|add:"/?map_id="|addstr:c.entry_ID %}
                      <div class="text-center"><a class="btn btn-outline-gray mx-2 my-1 geojson-button" href="#" data-toggle="modal" data-target="#geojson-explain-modal" rel="nofollow" download>Export geoJSON</a></div>
                      <a href={{link_text}} download="community_{{c.entry_ID}}.geojson" id="hidden-download-geojson" class="hidden">Hidden Download GeoJSON</a>
                      {% endwith %}
                      {% else %}
                      {% with link_text="/export/geojson/?map_id="|addstr:c.entry_ID %}
                      <div class="text-center"><a class="btn btn-outline-gray mx-2 my-1 geojson-button" href="#" data-toggle="modal" data-target="#geojson-explain-modal" rel="nofollow" download>Export geoJSON</a></div>
                      <a href={{link_text}} download="community_{{c.entry_ID}}.geojson" id="hidden-download-geojson" class="hidden">Hidden Download GeoJSON</a>
                      {% endwith %}
                      {% endif %}
                    </div>
                  </div>
                  <div class="row my-1 mb-lg-3 d-none d-lg-flex">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-1">
                      <div class="thanks-circle"></div>
                      <img class="mx-auto d-block w-125 h-100" src="{% static 'img/thanks-comm.svg' %}" alt="community icon"> </img>
                    </div>
                    <div class="col-lg-7">
                      Get a copy of your map sent to your email for personal records. Easily forward and share your Representable map with other members of your community. When map drawers have more data from your community, they are more likely to draw fairer districts.<br>
                      <!-- <div class="text-center"><a class="btn btn-outline-gray mx-2 my-1" target="_blank" href="" role="button">Send Email</a></div> -->
                      <div class="text-center">
                        <!--Form Used to Send Email-->
                        <div>
                          <form name="pdfForm" id="pdfForm">
                            {% csrf_token %}
                            <div class = "form-group" style = "display:none">
                              <textarea name = "message" class = "form-control">{{email}}</textarea>
                            </div>
                            <div class = "form-group">
                              <button type = "submit" class="btn btn-outline-gray mx-2 my-1">Send Email</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endblock %}

        {% block script %}
        <!--  Has to be at the end after the HTML loads.-->
        <script type="text/javascript">
          mapboxgl.accessToken = "{{ mapbox_key }}";
        </script>
        <script type="text/javascript" src="{% static 'main/js/components/keys.js' %}"></script>
        <script type="text/javascript" src="{% static 'main/js/submission.js' %}"></script>
        {% endblock %}
