{% extends 'main/base.html' %}
{% load leaflet_tags %}
{% load static %}
{% load representable_extras %}
{% load i18n %}


{% block head %}
{% leaflet_js %}
{% leaflet_css %}
<!-- https://docs.mapbox.com/mapbox-gl-js/example/mapbox-gl-draw/ -->
<!-- Mapbox GL JS -->
<meta charset='utf-8' />
<title>View Map</title>
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css' rel='stylesheet' />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--  GeoCoder -->
<meta name='robots' content='noindex, nofollow'>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script>
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.1.0/mapbox-gl-geocoder.min.js'></script>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.1.0/mapbox-gl-geocoder.css' type='text/css' />
<!-- Add css again to take precedence over mapbox css. -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<!--  Custom CSS -->
<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
{% endblock %}
{% block content %}
<div class="container-fluid w-100">

  <div class="row row-wide light-green-bg pb-5">
    <div>
      <script type="text/javascript">
        let a = '{{ entries | escapejs}}';
        var mapbox_user_name = "{{mapbox_user_name}}";
        var state = '';
        var is_thanks = '{{ is_thanks }}'
        var comm_id = '{{ c.entry_ID }}'
      </script>
    </div>
    {% if entries is None %}
    <script>
      alert('No map found with the given map_id.');
    </script>
    {% endif %}
    <div class="col-xl-5 col-wide text-center text-xl-right pt-3 pr-xl-5 mb-5">
      <div class="row w-md-75 d-inline-block m-0">
        <div class="card text-left border-0 w-100 rounded-lg mb-3 d-none d-xl-block">
          <div class="card-body">
            <h3 id="pdfName" class="card-title header-text"><strong>{{c.entry_name}}</strong></h3>
            <h6 class="info-text"><strong>{{c.drive.name}}</strong></h6>
          </div>
        </div>
        <div class="card text-left w-100 border-0 rounded-lg">
          <div class="card-body">
            <h5 class="card-title header-text"><strong>{% trans "Download this map" %}</strong></h5>
            <p class="header-text small">
              {% blocktrans %}
                Map downloads include the community information below.
              {% endblocktrans %}
            </p>
            <div class="row">
              <div class="col text-center">
                  <!-- ********************* -->
                  <!-- GeoJSON Explainer Modal -->
                  <div class="modal fade" id="geojson-explain-modal" tabindex="-1" role="dialog" aria-labelledby="geojson-explain-modalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">What is GeoJSON?</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          GeoJSON files are industry standard and usable with other mapping softwares like Maptitude for Redistricting, Dave's Redistricting App, ESRI, and more.
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    {% if has_state %}
                      {% with link_text="/export/geojson/"|add:state|add:"/?map_id="|addstr:c.entry_ID %}
                      <div class="col-12 col-md-4">
                        <a class="btn btn-primary w-50 w-md-75 w-xl-100 mb-3 mb-md-0" data-toggle="modal" href="#" data-target="#geojson-explain-modal" rel="nofollow" download>GeoJSON</a>
                        <a href={{link_text}} download="community_{{c.entry_ID}}.geojson" id="hidden-download-geojson" class="hidden">Hidden Download GeoJSON</a>
                      </div>
                      <!-- ********************* -->
                      <div class="col-12 col-md-4">
                        <button class="btn btn-primary w-50 w-md-75 w-xl-100 mb-3 mb-md-0" id="pdf-button">PDF</button>
                      </div>
                      {% endwith %}
                      {% with link_text="/export/csv/"|add:state|add:"/?map_id="|addstr:c.entry_ID %}
                      <div class="col-12 col-md-4">
                        <a class="btn btn-primary w-50 w-md-75 w-xl-100" href={{link_text}} role="button" download="community_{{c.entry_ID}}.csv">CSV</a>
                      </div>
                      {% endwith %}
                    {% else %}
                      {% with link_text="/export/geojson/?map_id="|addstr:c.entry_ID %}
                      <div class="col-12 col-md-4">
                        <a class="btn btn-primary w-50 w-md-75 w-xl-100 mb-3 mb-md-0" data-toggle="modal" data-target="#geojson-explain-modal" rel="nofollow" download>GeoJSON</a>
                        <a href={{link_text}} download="community_{{c.entry_ID}}.geojson" id="hidden-download-geojson" class="hidden">Hidden Download GeoJSON</a>
                      </div>
                      <!-- ********************* -->
                      <div class="col-12 col-md-4">
                        <button class="btn btn-primary w-50 w-md-75 w-xl-100 mb-3 mb-md-0" id="pdf-button" role="button">PDF</button>
                      </div>
                      {% endwith %}
                      {% with link_text="/export/csv"|add:"/?map_id="|addstr:c.entry_ID %}
                      <div class="col-12 col-md-4">
                        <a class="btn btn-primary w-50 w-md-75 w-xl-100" href={{link_text}} role="button" download="community_{{c.entry_ID}}.csv">CSV</a>
                      </div>
                      {% endwith %}
                    {% endif %}
                  </div>
                  <!-- ********************* -->
              </div>
            </div>
          </div>
        </div>
        <div class="card text-left border-0 w-100 rounded-lg mt-3">
          <div class="card-body">
            <h4 class="card-title header-text"><strong>{% trans "Community Information" %}</strong></h4>
            <div class="accordion mt-4 map-info-item" id="economic-interests-accordion">
                <button class="btn btn-link text-left comm-item-text pl-3 no-underline-link" type="button" data-target="#economic-interests-resp" aria-expanded="false" aria-controls="collapseOne" onclick="toggleAngle(this)">
                    {% trans "Economic or Environmental Interests" %}<i class="fas fa-angle-down pl-3 pr-5 pt-2 pb-2"></i>
                </button>
                <div id="economic-interests-resp" class="collapse pl-3 pb-1" aria-labelledby="economic-interests-accordion" data-parent="#economic-interests-accordion">
                    <p class="collapse-in map-survey-response">
                        {{c.economic_interests}}
                    </p>
                </div>
            </div>
            <div class="accordion map-info-item mt-3" id="mobile-map-activities-accordion">
                <button class="btn btn-link text-left comm-item-text pl-3 no-underline-link" type="button" data-target="#mobile-map-activities-resp" aria-expanded="false" aria-controls="collapseOne" onclick="toggleAngle(this)">
                    {% trans "Community Activities and Services" %}<i class="fas fa-angle-down pl-3 pr-5 pt-2 pb-2"></i>
                </button>
                <div id="mobile-map-activities-resp" class="collapse pl-3 pb-1" aria-labelledby="mobile-map-activities-accordion" data-parent="#mobile-map-activities-accordion">
                    <p class="collapse-in map-survey-response">
                        {{c.comm_activities}}
                    </p>
                </div>
            </div>
            <div class="accordion map-info-item mt-3" id="mobile-map-cultural-interests-accordion">
                <button class="btn btn-link text-left comm-item-text pl-3 no-underline-link" type="button" data-target="#map-cultural-interests-resp" aria-expanded="false" aria-controls="collapseOne" onclick="toggleAngle(this)">
                    {% trans "Cultural or Historical Interests" %}<i class="fas fa-angle-down pl-3 pr-5 pt-2 pb-2"></i>
                </button>
                <div id="mobile-map-cultural-interests-resp" class="collapse pl-3 pb-1" aria-labelledby="map_cultural_activities_accordion" data-parent="#mobile-map-cultural-interests-accordion">
                    <p class="collapse-in map-survey-response">
                        {{c.cultural_interests}}
                    </p>
                </div>
            </div>
            <div class="accordion map-info-item mt-3 mb-3" id="mobile-map-other-interests-accordion">
                <button class="btn btn-link text-left comm-item-text pl-3 no-underline-link" type="button" data-target="#mobile-map-other-interests-resp" aria-expanded="false" aria-controls="collapseOne" onclick="toggleAngle(this)">
                    {% trans "Community Needs and Concerns" %}<i class="fas fa-angle-down pl-3 pr-5 pt-2 pb-2"></i>
                </button>
                <div id="mobile-map-other-interests-resp" class="collapse pl-3 pb-1" aria-labelledby="mobile-map-other-interests-accordion" data-parent="#mobile-map-other-interests-accordion">
                    <p class="collapse-in map-survey-response">
                        {{c.other_considerations}}
                    </p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- The map -->
    <div class="col-xl-7 col-wide order-first order-xl-last text-center text-xl-left pt-3 pr-3 pb-xl-5">
        <div class="row d-inline-block m-0 border-0" style="width:85%;">
          <div class="col-12 text-left">
            <div class="text-center mb-5 d-xl-none">
              <div class="card border-0 rounded-lg d-inline-block w-100 w-md-75">
                <div class="card-body p-3">
                  <h3 class="card-title header-text"><strong>{{c.entry_name}}</strong></h3>
                  <h6 class="info-text"><strong>{{c.drive.name}}</strong></h5>
                </div>
              </div>
            </div>
            <div id="filter-row" class="row">
              <div id="data-layer-card" class="col-12 col-lg-8 card border-0 rounded-lg p-0 d-none mr-2 mb-3 mr-xl-3">
                <div class="card-body pb-0">
                  <h5 class="card-title filter-header header-text pb-2"><strong>Data Layers <i class="fas fa-minus ml-2 filter-sign"></i></strong></h5>
                  <div class="font-weight-light text-uppercase small" id="outline-menu"></div>
                </div>
              </div>

              <div id="data-layer-col" class="col-5 col-sm-6 col-md-4 col-lg-3 p-0 mb-3 filter-col mr-5 mr-md-2 mr-xl-5">
                <div class="d-none d-md-block">
                  <button id="data-layer-btn" class="btn filter-btn btn-lg rounded m-0 bottom">Data Layers <i class="fas fa-plus ml-2 filter-sign"></i></button>
                </div>
                <div class="d-md-none">
                  <button id="mobile-data-layer-btn" class="btn filter-btn rounded m-0 w-100">Data Layers <i class="fas fa-plus ml-2 filter-sign"></i></button>
                </div>
              </div>

              <div id="demographics-card" class="col-12 col-lg-8 card border-0 rounded-lg p-0 d-none mr-2 mb-3">
                <div class="card-body pb-0">
                  <h5 class="card-title filter-header header-text pb-2"><strong>Demographics <i class="fas fa-minus ml-2 filter-sign"></i></strong></h5>
                  <div class="font-weight-light text-uppercase small mb-3" id="demographic-menu">
                        {% if c.population > 0 %}
                        <b>Population:</b> {{ c.population }}
                        <br>
                        {% endif %}
                  </div>
                </div>
              </div>
              <div id="demographics-col" class="col-5 col-sm-6 col-md-4 col-lg-3 p-0 mb-3 filter-col mr-md-2">
                <div class="d-none d-md-block">
                  <button id="demographics-btn" class="btn filter-btn btn-lg rounded m-0 bottom">Demographics <i class="fas fa-plus ml-2 filter-sign"></i></button>
                </div>
                <div class="d-md-none">
                  <button id="mobile-demographics-btn" class="btn filter-btn rounded m-0 w-100">Demographics <i class="fas fa-plus ml-2 filter-sign"></i></button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 border-0 text-left">
            <div class="row vh-50">
              <div id='map' class="map-visualization p-0">
                <div id="pdf-loading-box" class="map-popup-box">
                  <p class="mb-0">Loading PDF...</p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

        <div class="modal fade" id="thanksModal" tabindex="-1" role="dialog" aria-labelledby="thanksModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document" id="thanksModalDialog">
            <div class="modal-content green-bg mt-5" style="border-radius: 40px;">
              <div class="modal-header border-0 pb-0">
                <h1 class="modal-title text-center mt-lg-4 d-none d-lg-flex pl-5" id="thanksModalLabel">Congratulations!
                  <img id="thanks-confetti" class="" src="{% static 'img/confetti.svg' %}" alt="celebratory confetti"> </img>
                </h1>
                <h4 class="modal-title text-center mt-lg-4 d-flex d-lg-none mx-auto pl-5" id="thanksModalLabel">Congratulations!
                  <img id="thanks-confetti" class="" src="{% static 'img/confetti.svg' %}" alt="celebratory confetti"> </img>
                </h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body gray-text">
                  <div class="row my-1">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8 text-center">
                      <p>Your community is ready to be viewed and downloaded. You have <br class="d-none d-md-block"> received an email with your community as a PDF file. </p>
                      <h4 class="mb-lg-4">Make an impact with your map.</h4>
                    </div>
                    <div class="col-lg-2"></div>
                  </div>
                  <!-- MOBILE ONLY - NO download links but instead we provide more info -->
                  <div class="row my-2">
                    <div class="col-4 d-flex d-lg-none">
                      <img class="mx-auto d-block w-75 h-100" src="{% static 'img/thanks-district.svg' %}" alt="district icon"> </img>
                    </div>
                    <div class="col-8 d-flex d-lg-none">
                      <p class="">View your community on a computer to download as a PDF or geoJSON file. You can submit these files as public testimony or to a local redistricting organization.</p>
                    </div>
                  </div>
                  <div class="row my-1 mb-lg-3 d-none d-lg-flex">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-1">
                      <div class="thanks-circle"></div>
                      <img class="mx-auto w-125 h-100" src="{% static 'img/thanks-email.svg' %}" alt="email icon"> </img>
                    </div>
                    <div class="col-lg-7">
                      If your state has a redistricting commission or accepts Communities of Interest, send a pdf of your community to submit as public testimony. If not, you can send it to a local redistricting organization or <a href="https://myreps.datamade.us/" target="_blank" rel="noopener noreferrer">your legislator</a>.<br>
                      <div class="text-center"><a class="btn btn-outline-gray mx-2 my-1" id="pdf-button-modal" target="_blank" data-dismiss="modal" role="button">Export PDF</a></div>
                    </div>
                    <div class="col-lg-3"></div>
                  </div>
                  <div class="row my-1 mb-lg-3 d-none d-lg-flex">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-1">
                      <div class="thanks-circle"></div>
                      <img class="mx-auto d-block w-125 h-100" src="{% static 'img/thanks-district.svg' %}" alt="district icon"> </img>
                    </div>
                    <div class="col-lg-7">
                      If you would like to use your map to draw voting districts, you can upload the geoJSON file to mapping softwares such as Maptitude, Dave’s Redistricting App, or Districtr.<br>
                      <!-- <div class="text-center"><a class="btn btn-outline-gray mx-2 my-1" target="_blank" href="" role="button">Export geoJSON</a></div> -->
                      {% if has_state %}
                      {% with link_text="/export/geojson/"|add:state|add:"/?map_id="|addstr:c.entry_ID %}
                      <div class="text-center"><a class="btn btn-outline-gray mx-2 my-1 geojson-button" href="#" data-toggle="modal" data-target="#geojson-explain-modal" rel="nofollow" download>Export geoJSON</a></div>
                      <a href={{link_text}} download="community_{{c.entry_ID}}.geojson" id="hidden-download-geojson" class="hidden">Hidden Download GeoJSON</a>
                      {% endwith %}
                      {% else %}
                      {% with link_text="/export/geojson/?map_id="|addstr:c.entry_ID %}
                      <div class="text-center"><a class="btn btn-outline-gray mx-2 my-1 geojson-button" href="#" data-toggle="modal" data-target="#geojson-explain-modal" rel="nofollow" download>Export geoJSON</a></div>
                      <a href={{link_text}} download="community_{{c.entry_ID}}.geojson" id="hidden-download-geojson" class="hidden">Hidden Download GeoJSON</a>
                      {% endwith %}
                      {% endif %}
                    </div>
                  </div>
                  <div class="row my-1 mb-lg-3 d-none d-lg-flex">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-1">
                      <div class="thanks-circle"></div>
                      <img class="mx-auto d-block w-125 h-100" src="{% static 'img/thanks-comm.svg' %}" alt="community icon"> </img>
                    </div>
                    <div class="col-lg-7">
                      Send the map to your community members and encourage them to draw maps. When map drawers have more data from your community, they are more likely to draw fairer districts. <br>
                      <!-- <div class="text-center"><a class="btn btn-outline-gray mx-2 my-1" target="_blank" href="" role="button">Send Email</a></div> -->
                      <div class="text-center">
                        <!--Form Used to Send Email-->
                        <div>
                          <form name="pdfForm" id="pdfForm">
                            {% csrf_token %}
                            <div class = "form-group" style = "display:none">
                              <textarea name = "message" class = "form-control">{{email}}</textarea>
                            </div>
                            <div class = "form-group">
                              <button type = "submit" class="btn btn-outline-gray mx-2 my-1">Resend Email</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="d-none" id="pdfCreatedWith">
            <small class="text-muted">This map was created at <a href="https://representable.org/">Representable.org</a></small>
          </div>
          <div class="d-none" id="pdfInfo">
            {% if c.economic_interests %}
            <h6>
              <br>

              Economic or Environmental Interests
            </h6>
            <small>
              {{c.economic_interests}}
            </small>
            {% endif %}
            {% if c.economic_interests %}
            <h6>
              <br>

              Community Activities and Services
            </h6>
            <small>
              {{c.comm_activities}}
            </small>
            {% endif %}
            {% if c.economic_interests %}
            <h6>
              <br>

              Cultural or Historical Interests
            </h6>
            <small>
              {{c.cultural_interests}}
            </small>
            {% endif %}
            {% if c.economic_interests %}
            <h6>
              <br>

              Community Needs and Concerns
            </h6>
            <small>
              {{c.other_considerations}}
            </small>
            {% endif %}
          </div>
          {% if c.drive %}
          <div class="d-none" id="pdfOrg">{{c.organization}}</div>
          <div class="d-none" id="pdfDrive">{{c.drive}}</div>
          {% endif %}
        {% endblock %}

        {% block script %}
        <!--  Has to be at the end after the HTML loads.-->
        <script type="text/javascript">
          mapboxgl.accessToken = "{{ mapbox_key }}";
        </script>
        <script type="text/javascript" src="{% static 'main/js/components/keys.js' %}"></script>
        <script type="text/javascript" src="{% static 'main/js/submission.js' %}"></script>
        {% endblock %}
