{% extends 'main/base.html' %}
{% load static %}
{% block content %}
{% load i18n %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">
                        {% if verified %}
                            {% trans "Thank you for your submission!" %}
                        {% endif %}
                        {% if not verified %}
                           {% trans "Please Verify Your Email" %}
                        {% endif %}
                    </h5>
                    <div class="text-center">
                        <div class="alert alert-primary" role="alert">
                            {% if verified %}
                            <p>{% trans "This tool is meant for non-partisan use by communities and their members to provide information to the Redistricting Commission." %}</p>
                            <p>{% trans "By adding your map to Representable.org you're not submitting a map to a redistricting commission. We will add information about submitting to the commission as soon as information becomes available in your state." %}</p>
                            {% endif %}
                            {% if not verified %}
                            <p>{% trans "Thank you for submitting your map. The next step is to verify your email. We resent an email verification link to your inbox." %}</p>
                            <p>{% trans "Account verification allows Representable.org and our partner organizations to submit credible maps to Redistricting Commisions ensuring that your entry has an impact in ending gerrymandering." %}</p>
                            {% endif %}
                            <p>{% trans "In the meantime, you can export your community in GeoJSON or PDF format using the link below." %}</p>
                        </div>
                        <ul class="list-group my-3">
                            <li class="list-group-item justify-content-between align-items-center">
                                <h5>{% trans "View/Export Your Community" %}</h5>
                                {% if has_state %}
                                <p>{% trans "Your community map is now live here: " %}<br><a href="/submission/{{ state }}?map_id={{ map_url }}">Representable.org/submission/{{ state }}?map_id={{ map_url }}</a><br>Feel free to tweet and share.</p>
                              <a class="btn btn-outline-primary thanks-submission-link" href="/submission/{{ state }}?map_id={{ map_url }}" role="button">View Community</a>
                                {% else %}
                                <p>{% trans "Your community map is now live here: "%} <br><a href="/submission?map_id={{ map_url }}">Representable.org/submission?map_id={{ map_url }}</a><br>Feel free to tweet and share.</p>
                              <a class="btn btn-outline-primary thanks-submission-link" href="/submission?map_id={{ map_url }}" role="button">{% trans "View Community" %}</a>
                                {% endif %}
                                
                            </li>
                            {% if has_drive %}
                            <li class="list-group-item justify-content-between align-items-center">
                                  <h5>{{drive_name}}{% trans "Map" %}</h5>
                                  <p>{% trans "View all communities submitted to {{drive_name}}" %}.</p>
                                  <a class="btn btn-outline-primary thanks-drive-map" href="{% url 'main:partner_map' view.kwargs.slug view.kwargs.drive %}"  role="button">View Map</a>
                              </li>
                            {% endif %}
                            <li class="list-group-item justify-content-between align-items-center">
                                {% if verified %}
                                <h5>{% trans "Do you have any feedback for us?" %}</h5>
                                <p>{% trans "We are interested in your feedback. If you found a bug or have any suggestions for us, please send them to us by pressing on the button below." %}</p>
                              <a class="btn btn-outline-primary thanks-send-feedback" href="https://docs.google.com/forms/d/e/1FAIpQLSfeyoZ87pS67iTh2c3t5031XqoNFNAdwF6Pt1NUns_z_Myxaw/viewform" role="button">{% trans "Send Feedback" %}</a>
                                {% endif %}
                                {% if not verified %}
                                <h5>{% trans "Having trouble with email verification?" %}</h5>
                                <p>{% trans "We are here to help! Let us know if you didn't recieve an email verification link or want to provide feedback by contacting Team@Representable.org" %}</p>
                                <!--<a class="btn btn-outline-primary thanks-send-feedback" href="https://docs.google.com/forms/d/e/1FAIpQLSfeyoZ87pS67iTh2c3t5031XqoNFNAdwF6Pt1NUns_z_Myxaw/viewform" role="button">Send an Email</a>
                                -->{% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
  sessionStorage.clear();
</script>
{% endblock %}
