{% extends 'main/base.html' %}
{% load static %}


{% block content %}
<div class="container">
<div class="row row-content">
    <div class="container col-sm-6">
        <img src="{% static 'img/lightmap.png' %}" style="width: 100%; height: 100%;">
        <a class="btn btn-primary btn-canvas" href="/map" role="button">Browse Entries</a>
    </div>

    <div class="container col-sm-6">
        <img src="{% static 'img/darkmap.png' %}" style="width: 100%; height: 100%;">
        <a class="btn btn-primary btn-canvas" href="/entry" role="button">Create Entry</a>
    </div>
</div>
</div>

{% endblock %}

{% block script %}
<script src="{% static 'main/js/particles.min.js' %}"></script>
<script>
    particlesJS.load('particles-js', "{% static 'main/assets/particles.json' %}", function() {
        console.log('callback - particles.min.js config loaded');
    });
</script>
{% endblock %}
