{% extends 'main/base.html' %}

{% block content %}
    <div class="col-12">
      <ol>
        <h4>
          <li>Meet the Team</li>
        </h4>
        <ul>
          <li>Somya Arora: <a href="mailto:somyaa@princeton.edu">somyaa@princeton.edu</a></li>
          <li>Kyle Barnes: <a href="mailto:ktbarnes@princeton.edu">ktbarnes@princeton.edu</a></li>
          <li>Preeti Iyer: <a href="mailto:psiyer@pinceton.edu">psiyer@pinceton.edu</a></li>
          <li>Lauren Johnston: <a href="mailto:lej2@princeton.edu">lej2@princeton.edu</a></li>
          <li>Theodor Marcu: <a href="mailto:tmarcu@princeton.edu">tmarcu@princeton.edu (Leader)</a></li>
        </ul>

        <br>

        <h4>
          <li>Design Document</li>
        </h4>
        <ul>
          <li><a href="https://drive.google.com/file/d/1CO9H_PkzlHAbrKEpgtxJ89WhwrkeoaYZ/view?usp=sharing">Check out our design document!</a></li>
        </ul>
        <br>
        <h4>
          <li>Timeline</li>
        </h4>
        <ul>
          <li><del>Deadline : March 10th : Design Doc Due</del></li>
          <li><del>March 14</del>
            <ul>
              <li>Select front-end theme.</li>
              <li>Show wireframes to friends to get preliminary feedback.</li>
              <li>Meet with Prof. Wang.</li>
              <li>Begin learning the necessary frameworks: Django, Python, Postgres, Azure, Mapbox</li>
              <li>Finish Django Tutorial https://docs.djangoproject.com/en/2.1/intro/</li>
              <li>Project website online</li>
            </ul>
          </li>
          <li><del>March 21 (Spring Break)</del>
            <ul>
              <li>Server, git, database running</li>
              <li>Begin front-end design - display map with potential tags/information</li>
            </ul>
          </li>
          <li>Deadline: March 24th : Project Status Website Online</li>
          <li>March 28
            <ul>
              <li>Implement map selection with Mapbox</li>
              <li>Finalize front-end design - draw and view maps</li>
            </ul>
          </li>
          <li>April 4
            <ul>
              <li>Implement system of tags and heatmaps</li>
              <li>Meet with Prof. Wang & team</li>
            </ul>
          </li>
          <li>Deadline: April 12th : Project Prototype Due
            <ul>
              <li>Solicit bug reports, feedback, and advice from alpha testers</li>
              <li>Begin gathering crowd-sourced data</li>
              <li>Polish UI</li>
            </ul>
          </li>
          <li>April 18
            <ul>
              <li>Fix bugs reported by users</li>
              <li>Implement user feedback</li>
            </ul>
          </li>
          <li>Deadline: April 26th : Alpha Test
            <ul>
              <li>Thoroughly test features and debug given feedback</li>
              <li>Meet with Prof. Wang & team</li>
            </ul>
          </li>
          <li>Deadline: May 2nd/3rd : Beta Test
            <ul>
              <li>Final cleaning and bug fixing</li>
            </ul>
          </li>
          <li>Deadline: May 8 : Demo Days</li>
          <li>Deadline: May 12th : Project Deadline</li>
        </ul>
        <br>
        <h4>
          <li>Advisor</li>
        </h4>
        <ul>
          <li>Christopher Moretti</li>
        </ul>
      </ol>
</div>

{% endblock %}
