body {
  font-family: 'Inter', system-ui, sans-serif;
  color: white;
  background-color: #0c2035;
}

h1 {
  font-weight: 700;
}

.di-title, .di-subtitle {
  text-align:center;
}
.di-subtitle {
  font-weight: 200;
  font-style: italic;
}

a:link,
a:visited {
  color: white;
}
a:hover,
a:active {
    color: #8277ff;
    text-decoration: none;
}

.btn-outline-primary {
  color: #8277ff;
  border-color: #8277ff;
}

.btn-outline-primary:hover {
  background-color: #8277ff;
  border-color: #8277ff;
}
