:root {
  --melon:#ffcccc;
  --mint: #96ceb4;
}

body {
  font-family: 'Inter', system-ui, sans-serif;
  color: white;
  background-color: black;
  font-weight: 600;
}

h1 {
  font-weight: 700;
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 55px;
  }
}


/*.di-title, .di-subtitle {
  text-align:center;
}*/
.di-subtitle {
  font-weight: 200;
  font-style: italic;
}

a:link,
a:visited {
  color: white;
}
a:hover,
a:active {
    color: #ffcccc;
    text-decoration: none;
}

.btn-outline-primary {
  color: #ffcccc;
  border-color: #ffcccc;
}

.btn-outline-primary:hover {
  background-color: #ffcccc;
  border-color: #ffcccc;
}

.jumbotron {
  background-color: transparent;
  margin-bottom: 0;
}

.panel {
  border-top-color: white;
  border-top-width: 3px;
  border-bottom-color: white;
  border-bottom-width: 3px;
  background-color: black;
}
