body {
  font-family: 'Inter', system-ui, sans-serif;
  color: white;
  background-color: #000051;
}

h1 {
  font-weight: 700;
}

.di-title, .di-subtitle {
  text-align:center;
}
.di-subtitle {
  font-weight: 200;
  font-style: italic;
}

a:link,
a:visited {
  color: white;
}
a:hover,
a:active {
    color: blue;
    text-decoration: none;
}
