{% extends "main/base.html" %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row row-content">
    <div class="col-lg-9 mx-auto">
      <h2>Partners</h2>
      <p>Learn more about the organizations using Representable.org to gather community data.</p>
      <div class="row">
        {% for partner in object_list %}
        <div class="col-lg-6 col-sm-11">
          <div class="card card-signin my-3">
            <div class="card-body">
              <h5>
                <a href="{% url 'main:partner_page' partner.slug %}">
                  <img class="mb-2" src="{% static 'img/representable_logo.svg' %}" alt="" width="24" height="24">
                  {{ partner.name }}
                </a>
              </h5>
              <hr>
              <p>
                {% for state in partner.states %}
                <span class="badge badge-secondary">{{state}}</span>
                {% endfor %}

              </p>
              <p> {{ partner.description }} </p>
              <a class="btn btn-primary my-3" href="{% url 'main:partner_page' partner.slug %}" role="button">More Details <i class="fa fa-arrow-circle-right"></i></a>
              <a class="btn btn-primary" href="{{ partner.ext_link }}" role="button">Partner Site <i class="fa fa-arrow-circle-right"></i></a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endblock %}
