body {
  font-family: 'Inter', system-ui, sans-serif;
  color: white;
  background-color: black;
  font-weight: 400;
}

h1 {
  font-size: 2rem;
}

h1, h2, h3 {
  font-weight: 700;
}

/*.di-title-span {
  line-height: 1.3;
  background-color: black;
  padding: 3px;
  white-space: pre-wrap;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}*/

@media screen and (min-width: 768px) {
  h1 {
    font-size: 50px;
  }
  p {
    font-size: 18px;
  }
  .di-title-span {
    padding: 7px;
  }
}

/*.di-title {
  text-shadow: 4px 3px 0 rgba(70,70,70,0.9);
}*/



.di-subtitle {
  font-weight: 200;
  font-style: italic;
}

a:link,
a:visited,
a:active {
  color: inherit;
}
a:hover {
    color: #ffcccc;
    text-decoration: none;
}

.btn {
  border-radius: 0;
  margin: 3px;
}
.btn-outline-primary, .btn-outline-primary:visited, .btn-outline-primary:link,.btn-outline-primary:hover,
.btn-outline-primary:active {
  color: #ffcccc;
  border-color: #ffcccc;
  background-color:transparent;
}
@media screen and (min-width: 768px) {
  .btn-outline-primary:hover,.btn-outline-primary:active {
    color:white;
    background-color: #ffcccc;
    border-color: #ffcccc;
  }
}
.jumbotron {
  background-color: transparent;
  margin-bottom: 0;
}

.panel {
  border: 3px solid black;
  border-width: 3px 0 0 0;
  background-color: white;
  color: black;
}

.container {
  border-width: 0;
}

/* http://codepen.io/VincentGarreau/pen/pnlso */
#particles-js{
  /*width: 100%;
  height: 100%;*/
  background-image: url("");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position:relative;
}


.particles-js-canvas-el {
   position:fixed;
   top: 0;
   z-index:1;
}

.btn-canvas, nav {
  position: relative;
  z-index:2;
}

.shadow-sm {
  /* http://jsfiddle.net/K88H9/821/ */
  box-shadow: 0 4px 4px -2px rgba(0,0,0,0.12);
  -moz-box-shadow: 0 4px 4px -2px rgba(0,0,0,0.12);
  -webkit-box-shadow: 0 4px 4px -2px rgba(0,0,0,0.12);
}

.form-control {
  background-color:transparent;
  border-color: inherit;
  border-radius: 0;
  border-width: 0 0 1px 0;
}

.form-control:focus{
  background-color:transparent;
  border-color: inherit;
  box-shadow: none;
  border-radius: 0;
  border-width: 0 0 3px 0;
}

.navbar a, .navbar-brand {
  font-weight: 700;
}
