body {
  font-family: 'Inter', system-ui, sans-serif;
  background-color: #030428;
  font-weight: 400;
}

h1 {
  font-size: 2rem;
}

h1, h2, h3 {
  font-weight: 500;
}


@media screen and (min-width: 768px) {
  h1 {
    font-size: 55px;
  }
  p {
    font-size: 18px;
  }
}


#map {
    top:0;
    bottom:0;
    width:100%;
    /*  Must Set Absolute Height */
    height: 500px;
}

a:link,
a:visited,
a:active {
  color: inherit;
}
a:hover {
    color: #56577d;
    text-decoration: none;
}

.btn {
  border-radius: 1rem;
  margin: 5px;
}
.btn-outline-primary, .btn-outline-primary:visited, .btn-outline-primary:link,.btn-outline-primary:hover,
.btn-outline-primary:active {
  color: white;
  border-color: white;
  background-color:transparent;
}
@media screen and (min-width: 768px) {
  .btn-outline-primary:hover,.btn-outline-primary:active {
    background-color: #56577d;
  }
}
.container-hero {
  background-color: transparent;
  margin-bottom: 0;
  text-align: center;
}


.row-content {
  background-color: white;
  color: black;
  padding: 5px;
}

@media screen and (min-width: 768px) {
  .row-content {
    background-color: white;
    color: black;
    padding: 40px;
  }
}

.container {
  border-width: 0;
}

/* http://codepen.io/VincentGarreau/pen/pnlso */
#particles-js{
  width: 100%;
  height: auto;
  background-image: url("");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position:relative;
}


.particles-js-canvas-el {
   position:absolute;
   top: 0;
   z-index:1;
}

.btn-canvas, nav {
  position: relative;
  z-index:2;
}

.shadow-sm {
  /* http://jsfiddle.net/K88H9/821/ */
  /*box-shadow: 0 4px 4px -2px rgba(0,0,0,0.12);
  -moz-box-shadow: 0 4px 4px -2px rgba(0,0,0,0.12);
  -webkit-box-shadow: 0 4px 4px -2px rgba(0,0,0,0.12);*/
  background-image: linear-gradient(rgb(3, 4, 40),#2b2e51);
}
.container-panel {
   color: white;
}
/*
.form-control {
  background-color:transparent;
  border-color: inherit;
  border-radius: 0;
  border-width: 0 0 1px 0;
}

.form-control:focus{
  background-color:transparent;
  border-color: inherit;
  box-shadow: none;
  border-radius: 0;
  border-width: 0 0 3px 0;
}
*/
.navbar a, .navbar-brand {
  font-weight: 700;
}

hr {
  border: 3px solid black;
  border-width: 3px 0 0 0;
}
