{% extends "main/base.html" %}

{% block content %}
<div class="container">
  <div class="row my-5">
    <div class="col-9 mx-auto">
      <h2>{{object.name}} Campaign</h2>
      <hr>
      <p>
        <span class="badge badge-secondary">{{object.state}}</span>
      </p>
      <p>Organized by {{object.organization}}</p>
      <p>{{object.description}}</p>
      <a class="btn btn-primary my-3" href="{% url 'main:partner_map' object.organization.slug %}" role="button">View Map</a>
    </div>
    </div>
{% endblock %}
