{% extends 'main/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block content %}
<div class="container-fluid">
                <div>
                    {% if verified %}
                    <div class="row" style="margin: 5%">
                    <div id="left-side-of-page" class="col-sm-9 col-md-8 col-lg-7 mx-auto">
                    {% comment %} <h5 class="card-title text-center"> {% endcomment %}
                    <h3>
                        {% trans "Create a Drive" %}
                    </h3>
                    <p>
                        {% blocktrans %} With Representable, your organization can create a drive to collect community maps. 
                        Then, you can send out a link to your customized drive page. {% endblocktrans %}
                    </p>
                    <form role="form" id="CreateDrive" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <div id="regular-fields">
                                <h5 class="text-primary"> {% trans "Drive Introduction" %} </h5>
                                {% for field in form %}
                                    {% if "Require" in field.label_tag %}
                                        <div class="fieldWrapper">
                                        <div class="form-check form-check-inline">
                                            {{ field.label_tag }}
                                            {{ field|append_attr:"class:mx-2 my-2" }}
                                        </div>
                                        </div>
                                    {% else %}
                                    {% if "opt" not in field.auto_id %}
                                        <div class="fieldWrapper">
                                        {{ field.errors }}
                                        {{ field.label_tag }}
                                        {{ field|append_attr:"class:form-control survey-field my-2" }}
                                        {% if field.help_text %}
                                            <p class="help">{{ field.help_text|safe }}</p>
                                        {% endif %}
                                        </div>
                                    {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                            {% if gov %}
                                <div id="optional-fields-toggle" class="form-toggle form-toggle-inline form-check-inline">
                                    <h5 class="text-primary" style="padding-right: 10px; padding-top: 4px;"> {% trans "Edit Redistricting Information" %} </h5>
                                    <label class="switch">
                                        <input type="checkbox" id="edit-info" onchange="toggleFields()">
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                            {% endif %}
                            <div id="optional-fields">
                                {% for field in form %}
                                    {% if "opt" in field.auto_id %}
                                        <div class="fieldWrapper">
                                        {{ field.errors }}
                                        {{ field.label_tag }}
                                        {{ field|append_attr:"class:form-control survey-field my-2" }}
                                        {% if field.help_text %}
                                        <p class="help">{{ field.help_text|safe }}</p>
                                        {% endif %}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div style="display: inline-block; padding-bottom: 30px">
                          <p class="text-muted mx-2 pb-3">
                            If you would like to include a custom question for users to answer when submitting a community to this mapping drive, please send us a request
                            at <a href="mailto:team@representable.org">team@representable.org</a>.</p>
                          <button id="save" form="CreateDrive" type="submit" class="btn btn-primary" value="Submit">Submit</button>
                        </div>
                    </form>
                    {% endif %}
                    </div>
                    <div id="right-side-of-page" class="col-sm-9 col-md-6 col-lg-5 mx-auto">
                        <h5 class="text-muted mx-2 pb-3"> Customizable Landing Page </h5>
                        <p class="text-muted mx-2 pb-3"> When you send the link to your mapping drive, members will see this page first. 
                        Customize this page to include a title and description of your mapping drive. 
                        Additionally, if you are a state or local government, you can edit the redistricting information in the blue boxes. 
                        </p>
                        <img width="100%" src="{% static 'img/drive_preview.png' %}" alt="Preview of drive page" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-bottom: 20px;"> </img>
                    </div>
                    </div>
                    {% if not verified %}
                    <h5 class="card-title text-center">
                        Create a Drive
                    </h5>

                    <p class = "text-center"> Please first verify your email. Email verification is necessary
                        to access this feature on Representable. </p>
                    <p class = "text-center"> We have resent an email verification link to your inbox. Please don't
                    hesitate to reach out to us at team@representable.org with any questions.
                    </p>
                    {% endif %}

                </div>        
</div>
{% endblock %}
{% block script %}
<script type="text/javascript" src="{% static 'main/js/drive.js' %}"></script>
{% endblock %}