{% extends 'main/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    {% if verified %}
                    <h5 class="card-title text-center">
                        Create a Drive
                    </h5>
                    <form role="form" id="CreateDrive" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            {% for field in form %}
                            <div class="fieldWrapper">
                                {% if "require_user_addresses" in field.label_tag %}
                                <div class="form-check form-check-inline">
                                    {{ field.label_tag }}
                                    {{ field }}
                                </div>
                                {% else %}
                                {{ field.errors }}
                                {{ field.label_tag }}
                                {{ field }}
                                {% if field.help_text %}
                                <p class="help">{{ field.help_text|safe }}</p>
                                {% endif %}
                                {% endif %}
                            </div>
                            {% endfor %}
                        </div>
                        <div style="display: inline-block;">
                            <button id="save" form="CreateDrive" type="submit" class="btn btn-primary" value="Submit">Submit</button>
                        </div>
                    </form>
                    {% endif %}
                    {% if not verified %}
                    <h5 class="card-title text-center">
                        Create a Drive
                    </h5>

                    <p class = "text-center"> Please first verify your email. Email verification is necessary
                        to access this feature on Representable. </p>
                    <p class = "text-center"> We have resent an email verification link to your inbox. Please don't
                    hesitate to reach out to us at team@representable.org with any questions.
                    </p>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
