{% extends 'main/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">
                        Update your Drive
                      </h5>
                      <form role="form" id="UpdateDrive" method="post">{% csrf_token %}

                          <div class="form-group">
                        {% for field in form %}
                            {% if "require_user_addresses" in field.label_tag %}
                                        <div class="fieldWrapper">
                                        <div class="form-check form-check-inline">
                                            {{ field.label_tag }}
                                            {{ field }}
                                        </div>
                                        </div>
                                    {% else %}
                            {% if "opt" not in field.auto_id %}
                                <div class="fieldWrapper">
                                    {{ field.errors }}
                                    {{ field.label_tag }} {{ field|append_attr:"class:form-control survey-field" }}
                                    {% if field.help_text %}
                                    <p class="help">{{ field.help_text|safe }}</p>
                                    {% endif %}
                                </div>
                            {% endif %}
                            {% endif %}
                      {% endfor %}
                      </div>
                      <div style="display: inline-block;">
                          <button id="save" form="UpdateDrive" type="submit" class="btn btn-primary" value="Submit">Submit</button>
                      </div>
                      </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}