{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row pt-3">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'main:home_org' object.organization.slug  object.organization.pk %}"><i class="fa fa-arrow-circle-left"></i> Return to {{ object.organization.name }}</a></li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-sm">
      <div class="card shadow-sm h-100">
        <div class="card-body">
          <h5>
            {{ object.name}}
          </h5>
          <hr>
          {% if is_org_admin %}
          <button class="btn btn-danger float-right" data-toggle="modal" data-target="#deleteDriveConfirm">
            <i class="fas fa-trash"></i>
          </button>
          {% endif %}
          {% if object.private %}
          <span class="badge badge-primary">Private Drive</span>
          {% endif %}
          <div class="mt-2">
          <p> State:
            <span class="badge badge-secondary">{{object.state}}</span>

          </p>
          </div>
          <p> Description: {{ object.description }} </p>
          <a href="{% url 'main:update_drive' object.organization.slug  object.organization.pk object.pk %}" role="button">Edit Details</a>

        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="card shadow-sm my-3">
        <div class="card-body">
          <h5>Getting Started</h5>
          <ul class="list-group my-3">
          {% if not object.private %}

            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div class="container pl-0 pr-0">
                <h5><span class="badge badge-secondary"><i class="fas fa-share-alt"></i></span> Gather Submissions</h5>
                <div class="row no-gutters">
                  <div class="col-9">
                    <p>Gather submissions for this drive! Copy this link and share it with people you'd like to contribute to this drive: <a href="{% url 'main:drive_page' object.slug %}">representable.org{% url 'main:drive_page' object.slug %}</a></p>
                  </div>
                  <div class="col">
                    <a class="btn btn-primary float-right" href="{% url 'main:drive_page' object.slug %}" role="button">View <i class="fa fa-arrow-circle-right"></i></a>
                  </div>
                </div>
              </div>
            </li>
          {% endif %}

            {% if object.private %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div>
                <h5><span class="badge badge-secondary"><i class="fas fa-file-upload"></i></span> Manage Invite List </h5>
                <p>Only users you invite can submit to or see your private drive. Manage the invite list here. <p>
              </div>
              <a class="btn btn-primary" href="{% url 'main:manage_allowlist' object.organization.slug  object.organization.pk object.pk %}" role="button">Manage <i class="fa fa-arrow-circle-right"></i></a>
            </li>
            {% endif %}

            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div>
              <div class="container pl-0 pr-0">
                <h5><span class="badge badge-secondary"><i class="fas fa-map-marker-alt"></i></span> View{% if not object.private %}/Share {% endif %} Your Map</h5>
                <div class="row no-gutters">
                  <div class="col-9">
                  {% if not object.private %}
                    <p>Your drive's map is live at: <a href="{% url 'main:partner_map' object.organization.slug object.slug %}">representable.org{% url 'main:partner_map' object.organization.slug object.slug %}</a></p>
                  {% endif %}
                  {% if object.private %}
                    <p>Your drive's map is available to organization administrators at: <a href="{% url 'main:partner_map' object.organization.slug object.slug %}">representable.org{% url 'main:partner_map' object.organization.slug object.slug %}</a></p></div>
                  {% endif %}
                  </div>

                  <div class="col">
                    <a class="btn btn-primary float-right" href="{% url 'main:partner_map' object.organization.slug object.slug %}"  role="button">View <i class="fa fa-arrow-circle-right"></i></a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="deleteDriveConfirm" tabindex="-1" role="dialog" aria-labelledby="deleteDriveLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete this drive?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        This action cannot be undone. All drive information will be permanently deleted. Communities
        submitted through this drive will not be deleted, but will no longer be associated with the drive. These communities will still
        be associated with your organization.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <form role="form" id="deleteDriveInfo" method="post" action="delete\">{% csrf_token %}
          {% comment %} <input type="hidden" name="drive_slug" value="{{ object.slug }}"> {% endcomment %}
          <button type="submit" class="btn btn-danger" name="Delete">Delete drive permanently</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
