#map {
  width:100%;
  height:100%;
}

.row-wide {
  background-color: white;
}

.col-map {
  height: 500px;
}

@media screen and (min-width: 768px) {
  .col-map {
    height: 88vh;
    width: 100%;
    border: 1px solid rgba(0,0,0,0.2);
    border-width: 0 0 0 1px;
    box-shadow: 5px 0 5px -5px rgba(0,0,0,0.1);
    /*box-shadow: -2px 0 2px 1px rgba(0,0,0,0.1);*/
  }
}

/* colors: https://coolors.co/f8bdc4-f497da-f679e5-b8d0eb-f65be3 */
/* Fixed sidenav, full height */
/* https://www.w3schools.com/howto/howto_js_dropdown_sidenav.asp */
.sidenav {
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow-x: hidden;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: black;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: rgb(240,240,240);
  color: #95a3b3;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

.mapboxgl-popup {
max-width: 400px;
font-family:Inter, system-ui, sans-serif;
font-size: 12px;
}

/* search bar css stuff */
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid rgb(240,240,240);
  border-right: none;
  padding: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #576ca8;
}

.searchButton {
  width: 40px;
  border: 1px solid rgb(240,240,240);
  background: rgb(240,240,240);
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}

.col-wide {
  padding: 0;
}
