#map {
  top: 55px;
  bottom:0;
  left: 0;
  right: 0;
  width:100%;
  height:100%;
  position: fixed;
}

/* the menu stuff is the buttons for census data / districts and such */
/* from https://docs.mapbox.com/mapbox-gl-js/example/toggle-layers/ */
#menu {
  background: #fff;
  position: fixed;
  top: 55px;
  left: 0;
  border-radius: 3px;
  width: 30%;
  border: 1px solid rgba(0,0,0,0.4);
  font-family:Inter, system-ui, sans-serif;
  height: 100%;
}

input {
  width: 85%;
}

#menu input[type=text] {

}

#menu a {
  font-size: 13px;
  color: #404040;
  display: block;
  margin: 0;
  padding: 0;
  padding: 10px;
  text-decoration: none;
  border-bottom: 1px solid rgba(0,0,0,0.25);
  text-align: center;
}

#menu a:last-child {
  border: none;
}

#menu a:hover {
  background-color: #f8f8f8;
  color: #404040;
}

#menu a.active {
  background-color: #3887be;
  color: #ffffff;
}

#menu a.active:hover {
  background: #3074a4;
}

/* the tags stuff is the tags for changing layers and such */

#tags {
  width: 80%;
  top: 10px;
  margin: auto;
  background: #A9A9A9;
  border-radius: 3px;
  border: 2px solid black;
  font-family:Inter, system-ui, sans-serif;
}

#tags a {
  font-size: 13px;
  color: #404040;
  display: block;
  margin: 0;
  padding: 0;
  padding: 10px;
  text-decoration: none;
  border-bottom: 1px solid black;
  text-align: center;
}

.mapboxgl-popup {
max-width: 400px;
font-family:Inter, system-ui, sans-serif;
font-size: 12px;
}
