/*----------------------------------------------------------------------
Name: style.css
Project: Districter
Version: 1.0
Modified: 5/30/2019
Authors: S. Arora, K. Barnes, P.Iyer, L. Johnston, T. Marcu
----------------------------------------------------------------------*/

/* Body and headings */
body {
  background-color: #0a3d62;
  font-family: Inter, system-ui, sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 55px;
  }
}

p {
  color: #000000;
}

h3 {
  color: #0a3d62;
  font-weight: 300;
  letter-spacing: 1px;
}

/* Links and buttons */
a:link, a:visited, a:active {
  color: inherit;
}

/* a:hover {
  text-decoration: none;
} */

/* Bootstrap elements */

.navbar-brand {
  font-weight: 700;
}

.container {
  border-width: 0;
}

.container-panel {
  color: #FFF;
}

/* Class to make columns equal in height using flex. */
.row-equal-cols {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row-equal-cols > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row-content {
  background-color: #FFF;
  color: #000;
  padding: 15px;
}
.row-about {
  padding:15px 15px 5px 15px;
  text-align: center;
}

.p-about {
  font-weight: 300;
}
.row-wide {
  background-color: white;
}

.col-wide {
  padding: 0;
}

.btn-primary {
    background-color:#82ccdd;
    border-color:#82ccdd;
    cursor: pointer;
}

.btn-primary:active {
    background-color:#5b8f9b;
    border-color: #5b8f9b;
    cursor: pointer;
}

.btn-primary:hover {
    background-color:#5b8f9b;
    border-color:#5b8f9b;
    cursor: pointer;
}

.btn-outline-primary, .btn-outline-primary:visited, .btn-outline-primary:link, .btn-outline-primary:active {
    background-color: transparent;
    border-color: #FFF;
    color: #FFF;
}

.btn-outline-primary:hover {
    background-color: transparent;
    border-color: #CCC;
    color: #CCC;
}


@media screen and (min-width: 768px) {
  .gap-90 {
    width: 100%;
    height: 90px;
  }


  .row-content-2 {
    background-color: #FFF;
    color: #000;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
  }
}

.column {
  float: left;
  width: 50%;
}

/* Hero block and particles.js animation */

.container-hero {
  background-color: transparent;
  margin-bottom: 0;
  text-align: center;
}

.shadow-sm {
  background-image: linear-gradient(#0a3d62, #82ccdd);
}

#particles-js {
  background-image: url();
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  position: relative;
  width: 100%;
}

.particles-js-canvas-el {
  position: absolute;
  top: 0;
  z-index: 1;
}

.btn-canvas, nav {
  position: relative;
  z-index: 2;
}

.btn-margin {
  margin: 5px;
}


#features {
  background-color: #FFFFFF;
  /* set to red to test response:  background-color: #ff0000; */
}

section {
  padding: 25px 50px;
  line-height: 25px;
  border-bottom: 1px solid #ddd;
  opacity: 1;
  /* font-size: 13px; */
}

.map-visualization {
    width: 100%;
    height: 100%;
}

.draw_polygon_map {
    top: 0;
    bottom: 0;
    /*  Required by Mapbox: Must Set Absolute Height in px */
    min-height: 500px;
}

.col-map {
  height: 500px;
}

@media screen and (min-width: 768px) {
  .col-map {
    height: 88vh;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-width: 0 0 0 1px;
    box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.1);
    /*box-shadow: -2px 0 2px 1px rgba(0,0,0,0.1);*/
  }

  .row-content {
    padding: 40px;
  }

  .row-content {
    padding: 40px 40px 25px 40px;
  }
}

/* colors: https://coolors.co/f8bdc4-f497da-f679e5-b8d0eb-f65be3 */
/* Fixed sidenav, full height */
/* https://www.w3schools.com/howto/howto_js_dropdown_sidenav.asp */
.sidenav {
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow-x: hidden;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: black;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: rgb(240, 240, 240);
  color: #95a3b3;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

.mapboxgl-popup {
  max-width: 400px;
  font-family: Inter, system-ui, sans-serif;
  font-size: 12px;
}

/* Map visualizations search bar */
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid rgb(240, 240, 240);
  border-right: none;
  padding: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus {
  color: #576ca8;
}

.searchButton {
  width: 40px;
  border: 1px solid rgb(240, 240, 240);
  background: rgb(240, 240, 240);
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}

/* css for the line on the progress bar */
.bar-step {
  position: absolute;
  /* margin-top:-20px; */
  z-index: 1;
  font-size: 12px;
  left: 33%;
}

.label-txt {
  float: left;
}

.label-line {
  float: right;
  background: #000;
  height: 100%;
  width: 1px;
  margin-left: 5px;
}

.label-percent {
  float: right;
  margin-left: 5px;
}

#menu {
  background: #fff;
}

#geocoder-container>div {
  min-width: 50%;
  margin-left: 25%;
}

.string {
  color: #314ccd;
}

.number {
  color: #b43b71;
}

.boolean {
  color: #5a3fc0;
}

.null {
  color: #ba7334;
}

.key {
  color: #ba3b3f;
}

.calculation-box {
  height: 75px;
  width: 150px;
  bottom: 40px;
  left: 10px;
  background-color: rgba(255, 255, 255, .9);
  padding: 15px;
  text-align: center;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.mapboxgl-ctrl-group>button {
  display: block;
  width: 100%;
  background-image: none;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.map-demo {
  /*  position: absolute; */
    top: 100px;
    bottom: 0;
    width: 50%;
    /*  Must Set Absolute Height */
    height: 800px;
}
.race-field-wrap {
    visibility: hidden;
    height: 0px;
}
.religion-field-wrap {
    visibility: hidden;
    height: 0px;
}
.industry-field-wrap {
    visibility: hidden;
    height: 0px;}


.heading-title h3 {
    margin-bottom: 0;
    letter-spacing: 2px;
    font-weight: normal;
}
.p-top-30 {
    padding-top: 30px;
}

.half-txt2 {
    width: 60%;
    margin: 0 auto;
    display: inline-block;
    line-height: 25px;
    /* color: #FFFFFF; */
    font-size: 22px;
}

.half-txt {
    width: 60%;
    margin: 0 auto;
    display: inline-block;
    line-height: 25px;
    color: #7e7e7e;
}
.text-uppercase {
    text-transform: uppercase;
}

.team-member, .team-member .team-img {
    position: relative;
}
.team-member {
    overflow: hidden;
}
.team-member, .team-member .team-img {
    position: relative;
}

.team-hover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    border: 20px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.90);
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.team-member:hover .team-hover .desk {
    top: 35%;
}
.team-member:hover .team-hover, .team-member:hover .team-hover .desk, .team-member:hover .team-hover .s-link {
    opacity: 1;
}

.desk {
    position: absolute;
    top: 0%;
    width: 100%;
    opacity: 0;
    -webkit-transform: translateY(-45%);
    -ms-transform: translateY(-45%);
    transform: translateY(-45%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    /*padding: 0 20px;*/
}
.desk, .desk h4, .team-hover .s-link a {
    text-align: center;
    color: #222;
}

@media screen and (max-width: 991px) {
  .desk p {
    font-size: 14px;
  }
}

.team-member:hover .team-hover .s-link {
    bottom: 10%;
}
.team-member:hover .team-hover, .team-member:hover .team-hover .desk, .team-member:hover .team-hover .s-link {
    opacity: 1;
}
.team-hover .s-link {
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0;
    text-align: center;
    -webkit-transform: translateY(45%);
    -ms-transform: translateY(45%);
    transform: translateY(45%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    font-size: 35px;
}
.desk, .desk h4, .team-hover .s-link a {
    text-align: center;
    color: #222;
}
.team-member .s-link a {
    margin: 0 10px;
    color: #333;
    font-size: 16px;
}
.team-title {
    position: static;
    padding: 20px 0;
    display: inline-block;
    letter-spacing: 2px;
    width: 100%;
}
.team-title h5 {
    margin-bottom: 0px;
    display: block;
    text-transform: uppercase;
}
.team-title span {
    font-size: 12px;
    text-transform: uppercase;
    color: #a5a5a5;
    letter-spacing: 1px;
}
