/*----------------------------------------------------------------------
Name: style.css
Project: Representable
Version: 1.0
Modified: 5/30/2019
Authors: S. Arora, K. Barnes, P.Iyer, L. Johnston, T. Marcu
----------------------------------------------------------------------*/
/* IMPORTANT - READ BELOW BEFORE ADDING - IMPORTANT*/

/*

WHEN CHANGING CSS MAKE SURE YOU ARE AS SPECIFIC AS POSSIBLE.

This means, if you're only changing something for a small section of the website,
define new CSS classes and rules, and don't change default Bootstrap classes
and rules, since this can lead to unintended consequences.

This means no changing anything like <a>, <li>, <p>, etc.

You can define new classes for those.

Tutorial on CSS rules:
https://internetingishard.com/html-and-css/css-selectors/

(or just google "CSS rules tutorial")

Add comments for any rule you change/add.

*/


/* Body and headings */
/* Change the website default font. */
body {
  font-family: Inter, system-ui, sans-serif;
  /* font-weight: 400; */
}

/* Change hero card so that it doesn't display borders. */
.hero-card .card {
    border-width: 0 !important;
}

/* CSS to add small icons to front page. (Find/Draw/Submit) */
.small-icon {
    /* height: auto; */
    /* width: 25%; */
}

/* Bootstrap elements for navbar. */
.navbar {
  border-bottom: 1px solid #F5F5F5;
  box-shadow: 0 0 5px -3px #BEBEBE;
}
.navbar-brand {
  font-weight: 700;
  background: -webkit-linear-gradient(-45deg, #2A94F4, #00C6A7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-link {
  /* font-weight: 500; */
  font-size: 16px;
}
.container {
  border-width: 0;
}

.container-full-width {
    width: 100%;
}

.container-panel {
  color: #FFF;
}

/* Class for the text that greets the user on the website on the front page. */
/* Alters display-4 max size from 3.5rem to 2.9rem. */
.main-display-text-sm {
    font-size: 2.3rem;
}

.main-display-text-all {
    font-size: 2.5rem;
}

/* Class for what is gerrymandering section styling. */
.what-is-gerrymandering {
    background: -webkit-linear-gradient(-45deg, #2A94F4, #00C6A7);
    color: white;
}

.quote-footer {
    color: white;
}
.video-frame {
    /* min-width: 250px;
    width: 25%;
    height: auto; */
}

/* Class to make columns equal in height using flex. */
.row-equal-cols {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row-equal-cols > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

/* Clear floats after the columns */

.row-content {
  background-color: #FFF;
  color: #000;
  padding: 15px;
}

.row-content a {
  color: #00C6A7;
}

.row-about {
  padding:15px 15px 5px 15px;
  text-align: center;
}

.p-about {
  font-weight: 300;
}
.row-wide {
  background-color: white;
  color: #000;
}

.row-wide a {
  color: #00C6A7;
}


.col-wide {
  padding: 0;
}

/* Bootstrap Buttons. */

/* This changes the color of the buttons so that it matches the Representable
color scheme. See readme.md*/

.btn {
  border-radius: 0.25rem;
}

.text-primary {
    color: #2A94F4 ! important
}

.text-secondary {
    color: #00C6A7 ! important;
}

.btn-primary {
  background-color:#2A94F4;
  border-color:#2A94F4;
  cursor: pointer;
  color: #fff ! important;
}

.btn-primary:active {
  background-color:#2176C2;
  border-color: #2176C2;
  cursor: pointer;
}

.btn-primary:hover {
  background-color:#2176C2;
  border-color:#2176C2;
  cursor: pointer;
}
.btn-primary.dropdown-btn:hover {
  background-color:#2A94F4;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  background-color: #2176C2;
}

.btn-outline-primary, .btn-outline-primary:visited, .btn-outline-primary:link {
  background-color: transparent;
  border-color: #2176C2;
  color: #2176C2;
}

.btn-outline-primary:hover, .btn-outline-primary:active {
  background-color: #2176C2;
  border-color: #2176C2;
  color: white;
}

/* NEEDS EXPLANATION */

@media only screen and (min-width: 768px) {
  .gap-90 {
    width: 100%;
    height: 90px;
  }

  .row-content-2 {
    background-color: #FFF;
    /* color: #000; */
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
  }
}

.column {
  float: left;
  width: 50%;
}

/* Hero block and particles.js animation */

.map-visualization {
  width: 100%;
  height: 100%;
}

.draw_polygon_map {
  top: 0;
  bottom: 0;
  /*  Required by Mapbox: Must Set Absolute Height in px */
  min-height: 500px;
}

.col-map {
  height: 500px;
}

@media screen and (min-width: 768px) {
  .col-map {
    height: 88vh;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-width: 0 0 0 1px;
    box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.1);
    /*box-shadow: -2px 0 2px 1px rgba(0,0,0,0.1);*/
  }

  .row-content {
    padding: 40px 40px 25px 40px;
  }
}

/* colors: https://coolors.co/f8bdc4-f497da-f679e5-b8d0eb-f65be3 */
/* Fixed sidenav, full height */
/* https://www.w3schools.com/howto/howto_js_dropdown_sidenav.asp */
.sidenav {
  height: calc(100vh - 86px);
  width: 100%;
  z-index: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

@media only screen and (max-width: 768px) {
  .sidenav {
    height: 100%;
  }
}
/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  /* color: black ! important; */
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: rgb(240, 240, 240);
  color: #95a3b3;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

.mapboxgl-popup {
  max-width: 400px;
  /* font-family: Inter, system-ui, sans-serif; */
  /* font-size: 12px; */
}

/* css for the line on the progress bar */
.bar-step {
  position: absolute;
  /* margin-top:-20px; */
  z-index: 1;
  font-size: 12px;
  left: 33%;
}

.label-txt {
  float: left;
}

.label-line {
  float: right;
  background: #000;
  height: 100%;
  width: 1px;
  margin-left: 5px;
}

.label-percent {
  float: right;
  margin-left: 5px;
}

.sidenav-box {
  background: #fff;
  margin: 12px;
}

#menu {
  box-shadow: 3px 0 5px -3px #BEBEBE;
}

#geocoder-container>div {
  min-width: 50%;
  margin-left: 25%;
}

.string {
  color: #314ccd;
}

.number {
  color: #b43b71;
}

.boolean {
  color: #5a3fc0;
}

.null {
  color: #ba7334;
}

.key {
  color: #ba3b3f;
}

.calculation-box {
  height: 75px;
  width: 150px;
  bottom: 40px;
  left: 10px;
  background-color: rgba(255, 255, 255, .9);
  padding: 15px;
  text-align: center;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.draw-group>button {
  display: block;
  width: 100%;
  background-image: none;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.map-demo {
  /*  position: absolute; */
  top: 100px;
  bottom: 0;
  width: 50%;
  /*  Must Set Absolute Height */
  height: 800px;
}
.race-field-wrap {
  visibility: hidden;
  height: 0px;
}
.religion-field-wrap {
  visibility: hidden;
  height: 0px;
}
.industry-field-wrap {
  visibility: hidden;
  height: 0px;}


  .heading-title h3 {
    margin-bottom: 0;
    letter-spacing: 2px;
    font-weight: normal;
  }
  .p-top-30 {
    padding-top: 30px;
  }

  .half-txt2 {
    width: 60%;
    margin: 0 auto;
    display: inline-block;
    line-height: 25px;
    /* color: #FFFFFF; */
    font-size: 22px;
  }

  .half-txt {
    width: 60%;
    margin: 0 auto;
    display: inline-block;
    line-height: 25px;
    color: #7e7e7e;
  }
  .text-uppercase {
    text-transform: uppercase;
  }

  .team-member, .team-member .team-img {
    position: relative;
  }
  .team-member {
    overflow: hidden;
  }
  .team-member, .team-member .team-img {
    position: relative;
  }

  .team-hover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    border: 20px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.90);
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .team-member:hover .team-hover .desk {
    top: 35%;
  }
  .team-member:hover .team-hover, .team-member:hover .team-hover .desk, .team-member:hover .team-hover .s-link {
    opacity: 1;
  }

  .desk {
    position: absolute;
    top: 0%;
    width: 100%;
    opacity: 0;
    -webkit-transform: translateY(-40%);
    -ms-transform: translateY(-40%);
    transform: translateY(-40%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
}
.desk, .desk h4, .team-hover .s-link a {
    text-align: center;
    color: #222;
  }

  @media screen and (max-width: 991px) {
    .desk p {
      font-size: 14px;
    }
  }

  .team-member:hover .team-hover .s-link {
    bottom: 10%;
  }
  .team-member:hover .team-hover, .team-member:hover .team-hover .desk, .team-member:hover .team-hover .s-link {
    opacity: 1;
  }
  .team-hover .s-link {
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0;
    text-align: center;
    -webkit-transform: translateY(45%);
    -ms-transform: translateY(45%);
    transform: translateY(45%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    font-size: 35px;
  }
  .desk, .desk h4, .team-hover .s-link a {
    text-align: center;
    color: #222;
  }
  .team-member .s-link a {
    margin: 0 10px;
    color: #333;
    font-size: 16px;
  }
  .team-title {
    position: static;
    padding: 20px 0;
    display: inline-block;
    letter-spacing: 2px;
    width: 100%;
  }
  .team-title h5 {
    margin-bottom: 0px;
    display: block;
    text-transform: uppercase;
  }
  .team-title span {
    font-size: 12px;
    text-transform: uppercase;
    color: #a5a5a5;
    letter-spacing: 1px;
  }

  #all {
    font-size: 12px;
    text-align: center;
    text-decoration: underline;
  }

  .fa-draw-polygon {
    color: #28a745;
  }

  .fa-trash-alt {
    color: #dc3545;
  }

/* code for the toggle button: https://codepen.io/thelaazyguy/pen/MvqpPr/ */
  .switch_box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 10%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-left: 12px;
  }

  input[type="checkbox"].switch_1{
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 1.5em;
    background: #ddd;
    border-radius: 3em;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    flex: 0.29;
    max-width: 3em;
  }

  input[type="checkbox"].switch_1:checked{
    background: #2A94F4;
  }

  input[type="checkbox"].switch_1:after{
    position: absolute;
    content: "";
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: #fff;
    -webkit-box-shadow: 0 0 .25em rgba(0,0,0,.3);
    box-shadow: 0 0 .25em rgba(0,0,0,.3);
    -webkit-transform: scale(.7);
    transform: scale(.7);
    left: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }

  input[type="checkbox"].switch_1:checked:after{
    left: calc(100% - 1.5em);
  }

  label {
    color: black;
    padding: 6px 8px 6px 16px;
    flex: 1;
  }

/* LOGIN */

:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}


.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  /* border-radius: 5rem; */
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}


.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-group input {
  height: auto;
  /* border-radius: 2rem; */
}

.form-label-group input,
.form-label-group label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

.btn-google {
  color: white;
  background-color: #ea4335;
}

.btn-facebook {
  color: white;
  background-color: #3b5998;
}

/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
  .form-group label {
    display: none;
  }
  .form-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */

/* Communities */
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .form-group>label {
    display: none;
  }
  .form-group input:-ms-input-placeholder {
    color: #777;
  }
}

.items li {
  counter-increment: step-counter;
  padding: 20px 20px;
}

.items li::before {
  content: counter(step-counter);
  margin-right: 5px;
  background-color: #00C6A7;
  color: white;
  padding: 1px 5px;
  border-radius: 3px;
}

.items li:active, .items li:hover {
  background-color: #F5F5F5;
}

#sticky-footer {
  flex-shrink: none;
}
